Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

build: bump rc20
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): correct setValue for htmltext (refs #548)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): properly handle HTTPS URLs for TE callbacks (refs #549)
  transformation/src/vendor/Anakeen/TransformationEngine/Manager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

fix(ui): fix global controller auto unload cleanup closes #550
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: set globalController log in info
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: 2020.1-RC21
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(dev-center): correct field panel to avoid notice (refs #551)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureInfo.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(migration-tools): download MODATTR (refs #551)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Module/Download.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(sde): correct modattr extraction (refs #551)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExportConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAbsoluteOrder.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(migration-tools): correct export mask fro MODATTR (refs #555)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/PrimaryMask.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(sde): add rebuild structure classes (refs #555)
  smart-data-engine/info.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(validation): no order for main setting tag (refs #539)
  module-validation/xsd/smart/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(sde): getuserid search method refs #476
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): take into account several fields for search methods refs #476
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsMoney.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove console log refs #476
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix enum autocomplete in grid filter closes #534
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(migration-tools): affect fallid on all igroup and iuser (refs #557)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(sde): remove non compatible type search methods refs #476
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

chore: correct eslint vue config
  .eslintrc.js
Due: none

fix(ui): append dropdown popup to its container refs #552
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct modattr order extraction (refs #551)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExportConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): add component loading slot for smart element closes #558
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.scss
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.vue
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.vue
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/DefaultLoading.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/WidgetLoadingWrapper.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart list pageable configuration closes #553
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.scss
  user-interfaces/components/src/AnkSEList/AnkSEList.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct uperm cache (refs #559)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct warning on index (refs #551)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAbsoluteOrder.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

chore: reindent file (refs #559)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix location redirection in logout response (refs #560)
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): correct potential header mismatch (refs #560)
  smart-data-engine/src/vendor/Anakeen/Routes/Authent/Logout.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(internal): added NODIACRITIC option to OneContains (refs #488)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneContains.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneContains.php
  smart-data-engine/src/vendor/Anakeen/Database/common_functions.sql
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneContains.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): wrong php doc for containsValues (refs #543)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/ContainsValues.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: bump 2020.01 RC 22
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): fix custom loading slot
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix custom loading activation
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version 2020.1-RC23
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): set input width refs #476
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove between operator refs #383
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFunctions.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): leaking tooltip refs #422
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): - MODATTR not delete previous MODATTR config (refs #568)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): array unique on fields options (refs #568)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): correct display inherit fields (refs #568)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
