Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(tools): add docker mapping ui test deployment
  .idea/deployment.xml
Due: none

fix(admin): added mailtemplatemanager role (refs #80)
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): various correction for i18n (refs #48)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/ImportTranslationsFile.php
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/RecordTranslation.php
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
  smart-data-engine/src/vendor/Anakeen/Exception.php
  smart-data-engine/src/vendor/Anakeen/Script/Stdio.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

fix(admin): mailtemplate use display for button
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): display CR in error message
  internal-components/src/Notifier/Notifier.scss
Due: internal-components-buildJS

build: update docker conf
  .devtool/docker/Docker/docker-compose.yml
Due: none

fix(control): delete pre-defined param for update
  control/src/include/class/Class.WIFF.php
  control/src/template/params.xml
Due: control-build, control-integration-build, control-register, control-integration-register

build: add php cs fixer
  .idea/php.xml
Due: none

build: add phpcs in idea
  .idea/inspectionProfiles/Project_Default.xml
Due: none

build: correct version detect
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

build: correct version detect
  .gitlab-ci.yml
Due: none

fix(tools): remove tslint local files and update tslint rules
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/tslint.json
  hub-station/components/tslint.json
  tslint.json
  user-interfaces/tslint.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix(hub): fix complete route field
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): fix smart element controller css render ref #73
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(tools): fix deployment.xml
  .idea/deployment.xml
Due: none

fix(ui): lint file
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix workflow ui refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/WorkflowGraph.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): feat links from wfl to i18n refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix link from workflow to i18n refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix workflow list display refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): fix workflow grid and links refs #45
  admin-center/src/config/SmartDataEngine/AdminCenter/adminWorkflow.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): wip feat step color picker refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/StepColor.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): feat change step color and reload graph refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/StepColor.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): prettier refs #45
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/StepColor.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix link wfl to i18n with lang toggle refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: update eslint for ts
  .eslintrc.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(control): update htaccess file on restore
  control/src/src/Control/Internal/RestoreContext.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): file become an arg not an optoin for archive
  control/src/src/Control/Cli/CliArchive.php
Due: control-build, control-integration-build, control-register, control-integration-register

feat(control): improve bash autocomplete
  control/src/anakeen-control
  control/src/src/Control/Cli/CliBashCompletion.php
  control/src/src/Control/Cli/CliCommand.php
  control/src/src/Control/Internal/Info.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: update control makefile for app
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

build: correct control pipeline
  .gitlab-ci.yml
Due: none

build: update control Makefile
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): precision about not init context
  control/src/src/Control/Internal/Context.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: correct version detect again
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

fix(hub): fix smart element vue component
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(admin): fix smart element component vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): fix smart elemenet vue component
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

build: correct version detect again
  .gitlab-ci.yml
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register
