Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(fulltext): missing kendo-ui type in tsconfig (refs #640)
  fulltext-search/tsconfig.json
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(ui): fix appendArrayRow controller method (closes #632)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttributeArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(fulltext): vue component template refactor (refs #640)
  fulltext-search/components/src/AnkFulltextSmartCriteria/AnkFulltextSmartCriteria.component.ts
  fulltext-search/components/src/AnkFulltextSmartCriteria/AnkFulltextSmartCriteria.scss
  fulltext-search/components/src/AnkFulltextSmartCriteria/AnkFulltextSmartCriteria.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

fix(fulltext): webpack conf cleanup (refs #640)
  fulltext-search/webpack/test.js
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

fix(tools): added ui dependency with fulltext build job (refs #640)
  .gitlab-ci.yml
Due: none

chore(admin): remplace @public by @var (refs #37)
  smart-data-engine/src/vendor/Root/Class.DocTimer.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(admin): add done status for timer actions (refs #37)
  smart-data-engine/src/vendor/Anakeen/Core/Cron/ProcessExecuteAPI.php
  smart-data-engine/src/vendor/Anakeen/Core/TimerManager.php
  smart-data-engine/src/vendor/Anakeen/Core/TimerTask.php
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
  smart-data-engine/src/vendor/Root/Class.DocTimer.php
  workflow/src/vendor/Anakeen/SmartStructures/Timer/timer.struct.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register

feat(admin): change profile for tasks and timers (refs #37)
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/111-AdminManagerProfile.xml
  security/info.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/default-profil.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil-update.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil.xml
  workflow/src/vendor/Anakeen/SmartStructures/Timer/timer.profile.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, security-build, security-integration-build, workflow-build, workflow-integration-build, admin-center-build, admin-center-integration-build, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register, security-register, security-integration-register, admin-center-register, admin-center-integration-register

fix(sde): clear task_nextdate after execution (refs #37)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/TaskBehavior.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(admin): add admin routes for task and timers (refs #37)
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/PastTasks.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/PastTimers.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTasks.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimers.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): routes config for admin timer and task (refs #37)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminScheduling.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): routes config for admin timer info (refs #37)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminScheduling.xml
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimerInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimers.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): error 400 not understandable (refs #746)
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Autocomplete.php
  user-interfaces/src/vendor/Root/ErrorCodeUI.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): bug fix check output(return balise) and better code (refs #746)
  smart-data-engine/src/vendor/Root/CheckEnd.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add check + test for the autocomplete (refs #746)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/Inputs/ErrorTest/Test0001AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/Inputs/ErrorTest/Test0002AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/Inputs/ErrorTest/Test0003AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/Inputs/GoodTest/Test0001AutoCompleteGood.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/Inputs/GoodTest/Test0002AutoCompleteGood.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestAutoComplete.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestAutoCompleteHook.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct resolve when copy line (refs #802)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct add/copy click event (refs #802)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): add timer info detail (refs #37)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminScheduling.xml
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimerInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimers.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(te): correct task arg te (refs #776)
  transformation-server/lib/TE/Class.TERendering.php
Due: te-build, te-integration-build, te-register, te-integration-register

fix(te): restore correct rendering version (refs #776)
  transformation-server/lib/TE/Class.TERendering.php
Due: te-build, te-integration-build, te-register, te-integration-register

feat(te): add unit transformation refs #610
  transformation/src/config/SmartDataEngine/te-admin.xml
  transformation/src/locale/en/vuejs/src/TE_MANAGER.json
  transformation/src/locale/fr/vuejs/src/TE_MANAGER.json
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/Admin/AutocompleteEngineList.php
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/Admin/CheckUnitTransformation.php
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeManager.controller.ts
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeManager.scss
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeManager.vue
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.controller.ts
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.scss
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

feat(admin): add task profil (refs #37)
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil-update.xml
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

fix(ui): correct image link on htmltext in creation mode (refs #810)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/FamilyDocumentCreation.php
  user-interfaces/src/vendor/Anakeen/Routes/Ui/CreationView.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(cli): manage dev or prod modules(refs #633)
  anakeen-cli/commands/compose/add.js
  anakeen-cli/commands/compose/generateInstaller.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoLockXML.js
  anakeen-cli/utils/RepoXML.js
  anakeen-cli/utils/templates/README.md.mustache
  module-validation/xsd/compose-lock/1.0/compose-lock.xsd
  module-validation/xsd/compose/1.0/compose.xsd
Due: anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish

feat(sde): add indexes on table users(refs #812)
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no set roles if no changes (refs #812)
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no compute unecessary title (refs #812)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): no delete before insert folder ref (refs #812)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no need recompute user profile on refresh (refs #812)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add some db indexes for performance (refs #812)
  smart-data-engine/src/vendor/Root/Class.DocRead.php
  smart-data-engine/src/vendor/Root/Class.Group.php
  smart-data-engine/src/vendor/Root/Class.QueryDir.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add somes db indexes (refs #812)
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Database/DbIndexesRules.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(hub): beautify refs #677
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): remove prop tester refs #677
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): add dock collapse default status to config refs #677
  hub-station/components/src/HubDock/HubDock.component.ts
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
  hub-station/components/src/HubStation/HubStationsTypes.ts
  hub-station/constants/smartStructureFields.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/100-HubInstanciationStructure.xml
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationBehavior.php
  hub-station/stubs/HUBINSTANCIATION__STUB.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

feat(hub): default dock collapse/expand behavior refs #677
  hub-station/components/src/HubDock/HubDock.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
  hub-station/components/src/HubStation/HubStationsTypes.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): add instance name to localstorage data refs #677
  hub-station/components/src/HubDock/HubDock.component.ts
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): dock configuration type refs #677
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register
