Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(ui): correct ckeditor load (refs #251)
  user-interfaces/webpackConfig/ckeditor/ckeditor.js
  user-interfaces/webpackConfig/ckeditor/ckeditorDeps.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: update lock
  yarn.lock
Due: none

build: 2020.01-RC5
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): correct for upgrade smart grid (refs #251)
  user-interfaces/info.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc6
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): ank se list no auto scroll property refs #460
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): data-action buttons refs #456
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/wLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): cell render state data refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): cell before docid link event refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCellTypes/AnkGridCellIconText.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc7
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): correct order of smart field when inherits (refs #489)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct detection of orphan columns (refs #491)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
  smart-data-engine/src/vendor/Root/Class.CheckDb.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): pager throbbers refs #477
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): filters and headers refs #477
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): update online status for error management refs #477
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove build from cache (refs #492)
  .gitlab-ci.yml
  user-interfaces/.gitignore
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: 2020rc8
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): throw exception from setLogicalName (refs #493)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportAccounts.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

chore(sde): beautify importAccount (refs #493)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportAccounts.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: correct build dependencies
  .gitlab-ci.yml
Due: none

build: 2020.rc9
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): correct getLanguage to not return encoding part (refs #388)
  smart-data-engine/src/vendor/Anakeen/Core/ContextManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): add ranking (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuSimpleSearch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterContains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(fulltext): begin module fulltext-search (refs #388)
  .commitlintrc.js
  fulltext-search/LICENSE
  fulltext-search/Makefile
  fulltext-search/Tests/LICENSE
  fulltext-search/Tests/build.xml
  fulltext-search/Tests/info.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/dateSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/fileSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/simpleSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/FulltextSearchConfig.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuSimpleSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/Tests/src/vendor/Anakeen/TestUnits/FulltextSearchTests.php
  fulltext-search/build.xml
  fulltext-search/info.xml
  fulltext-search/package.json
  fulltext-search/src/config/SmartDataEngine/FullSearch/fullsearch.parameters.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterContains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchFieldConfig.php
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

feat(fulltext): add date locale indexing (refs #388)
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(fulltext): add date locale indexing (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/dateEnSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/dateFrSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/dateSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/simpleSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_date001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_date001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuDateSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(fulltext): add docid type (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/docidSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_docid001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_docid001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_docid002.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_docid002.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuDocidSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

fix(sde): correct xml import/export for multiple in arrays (refs #388)
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportXmlDocument.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportXml.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): add enum type (refs #388)
  fulltext-search/Tests/build.xml
  fulltext-search/Tests/src/locale/en/LC_MESSAGES/src/enumTST_FS001-colors_en.po
  fulltext-search/Tests/src/locale/en/LC_MESSAGES/src/enumTST_FS001-countries_en.po
  fulltext-search/Tests/src/locale/fr/LC_MESSAGES/src/enumTST_FS001-colors_fr.po
  fulltext-search/Tests/src/locale/fr/LC_MESSAGES/src/enumTST_FS001-countries_fr.po
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/enumEnSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/enumFrSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_date001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_enum001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_enum001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuDateSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuEnumSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(fulltext): add htmltext type (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/htmltestSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_htmltext001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_htmltext001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuHtmltextSearch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
  package.json
Due: none

feat(fulltext): add htmltext type (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/htmltestSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_htmltext001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_htmltext001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuHtmltextSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
Due: none

feat(fulltext): web pattern search parse (refs #388)
  fulltext-search/.gitignore
  fulltext-search/Makefile
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/textSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_text001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_text001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternQuery.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuTextSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterContains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/lib/composer.json
  fulltext-search/src/vendor/Anakeen/Fullsearch/lib/composer.lock
Due: none

feat(fulltext): web pattern search parse : add start with (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternQuery.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(fulltext): begin file indexing (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/FileTest.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/cheval-sauvage.pdf
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/modalitedeconfinement.odt
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/pangolin.pdf
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/tortue.pdf
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/vikings.docx
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/fileSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_file001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_file001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/info.xml
  fulltext-search/src/config/SmartDataEngine/FullSearch/fullsearchParameters.xml
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/fullsearchRoutes.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/RecordFileTextContent.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchFileConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/fullsearchFunctions.sql
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

feat(fulltext): continue file indexing (refs #388)
  fulltext-search/TODO.md
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(fulltext): continue file indexing (refs #388)
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterContains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/RecordFileTextContent.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

feat(fulltext): add file config (refs #388)
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(fulltext): highlight tests (refs #388)
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_text001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuTextSearch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
Due: none

feat(fulltext): filename indexing (refs #388)
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/FileTest.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/Première lettre de l'alphabet.png
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/Test-spécial_du_nom-de-fichier.png
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/Files/modalite de confinement.odt
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/fileSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_file001.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_file001.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchFileConfig.php
Due: none
