Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(ui): fix filter popup on column reorder (closes 639)
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  yarn.lock
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): no cache for workflow (refs #650)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct warning on getMail (refs #650)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(migration-tools): new script for primary mask inheriance (refs #651)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/PrimaryMask.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(ui): state is not correctly displayed in grid (refs #653)
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): bugfix date in the trash grid (refs #655)
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashGridController.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(ui): smartCriteria new CSS (refs #640)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.controller.js
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
  user-interfaces/components/src/AnkSmartCriteria/cssProposals/AnkSmartCriteria-Alt.scss
  user-interfaces/components/src/AnkSmartCriteria/cssProposals/AnkSmartCriteria-Alt2.scss
  user-interfaces/components/src/AnkSmartCriteria/cssProposals/AnkSmartCriteria-Classic.scss
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): change message and translate it (refs #647)
  development-center/build.xml
  development-center/src/locale/en/vuejs/src/DEVELOPMENT_CENTER.json
  development-center/src/locale/fr/vuejs/src/DEVELOPMENT_CENTER.json
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(migration-tools): visibilities for inherited fields (refs #651)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/PrimaryMask.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): insert-after from absolute order (refs #660)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(dev-center): correct notice for override detect
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): correct notice when no profil
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): test quickfix for filter suite (refs #640)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/SuiteDcpFilter.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test(sde): correct test for htmltext (refs #318)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1Hello.json
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeValue.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct grid cell overflow (refs #654)
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.scss
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix before unload popup when force set to true (closes #644)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): extendable enums(refs #611)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(migration-tools): insert-after with first (refs #660)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): visibilities for modattr fields (refs #651)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/PrimaryMask.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(ui): correct mask visibilities when empty visibility (refs #651)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/MaskHooks.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove notice in user-interface (refs #533)
  user-interfaces/src/vendor/Anakeen/Ui/Utils.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix notifier popup colors (closes #638)
  internal-components/src/Notifier/Notifier.scss
  internal-components/src/Notifier/Notifier.vue
Due: internal-components-buildJS

fix(ui): add auto initialize option to controller (closes #602)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version to 2020.1.RC28
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

feat(sde): filters V2 for smart criteria - first delivery (refs #640)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneBetween.ods
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneEqualsMulti.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/SuiteDcpFilter.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterEqualsOne.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneBetween.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneEqualsMulti.php
  smart-data-engine/src/locale/en/LC_MESSAGES/src/SEARCH_CRITERIA_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/SEARCH_CRITERIA_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  smart-data-engine/src/vendor/Anakeen/Database/common_functions.sql
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Enum/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Enum/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsEqual.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/Greater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/Lesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/OneGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/OneLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneBetween.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEqualsMulti.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneGreaterThan.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Relation/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/State/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/Greater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/Lesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/OneGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/OneLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Title/Equals.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleAllType.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.controller.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.vue
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(admin): enum optimizations (refs #611)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): clean and display pop-up (refs #582)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransitionGraph.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete setToolbarStartupExpanded (refs #318)
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): oneBetween operator was incorrect (refs #640)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneBetween.php
  smart-data-engine/src/vendor/Anakeen/Database/common_functions.sql
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneBetween.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): translate paragraph (refs #318)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSetParam.php
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(hub): add unicity constraint on hub element (closes #474)
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/100-HubConfigurationStructure.xml
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/HubConfigurationBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): translate igroup view control labels refs #635
  user-interfaces/build.xml
  user-interfaces/src/locale/en/LC_MESSAGES/src/cvdoc_CV_GROUP_ACCOUNT_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/cvdoc_CV_GROUP_ACCOUNT_fr.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): iuser account translation refs #635
  user-interfaces/src/locale/en/LC_MESSAGES/src/mustache-user-interfaces_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/mustache-user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/changeGroupView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/changeGroupView.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/groupModify.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Routes/GroupList.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove id from array's smart field refs #331
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/default/write.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/docidWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/enumWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/file/fileWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltextWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/image/imageWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/longtext/longtextWrite.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): fix hub admin list order and default selection
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
  hub-station/src/vendor/Anakeen/Hub/Routes/HubStationAdminGridController.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, development-center-build, development-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register

fix(sde): exception on ContextParameterManager::getUserValue (refs #511)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/SuiteDcp.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestGetParam.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSetParam.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ContextParameterManager.php
  smart-data-engine/src/vendor/Root/ErrorCodeCORE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): wNotification echapement html + prevent xss (refs #587)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/window/wNotification.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): translations balanced (refs #497)
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
  security/src/locale/en/LC_MESSAGES/src/FIELDACCESSLAYERLIST_en.po
  security/src/locale/en/LC_MESSAGES/src/FIELDACCESSLAYER_en.po
  security/src/locale/en/LC_MESSAGES/src/enumFAL-Access_en.po
  security/src/locale/fr/LC_MESSAGES/src/FIELDACCESSLAYERLIST_fr.po
  security/src/locale/fr/LC_MESSAGES/src/FIELDACCESSLAYER_fr.po
  security/src/locale/fr/LC_MESSAGES/src/enumFAL-Access_fr.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/ARCHIVING_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/BASICBATCH_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/BASKET_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/BATCH_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/FREESTATE_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/GUIDECARD_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/PORTFOLIO_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/PRF_CV_IGROUP_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/PUBLIMAIL_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/SGUIDECARD_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/TEXT_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/WASK_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/mustacheuser-interfaces_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/mustache-user-interfaces_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  workflow/src/locale/en/LC_MESSAGES/src/TIMER_en.po
  workflow/src/locale/en/LC_MESSAGES/src/WDOC_en.po
  workflow/src/locale/en/LC_MESSAGES/src/workflow_en.po
  workflow/src/locale/fr/LC_MESSAGES/src/TIMER_fr.po
  workflow/src/locale/fr/LC_MESSAGES/src/WDOC_fr.po
  workflow/src/locale/fr/LC_MESSAGES/src/workflow_fr.po
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(ui): add autofocus in the login input (refs #581)
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): search criteria filters - second delivery (refs #640)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneEquals.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/ContainsValues.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register
