Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(admin): end rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureFields.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): fix description topValue when label is up (refs #600)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): condition to not crash on uninitialized enum (refs #600)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/wEnum.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct css responsive bottom for last child (refs #600)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeResponsive.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: reindent (refs #600)
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(sde): correct compute mail group (refs #564)
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Group/GroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IgroupLib.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): traduction, add char to nbsp, filter auth token (refs #569)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): restore watcher on grid properties fixes #615
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix expandable button fixes #615
  user-interfaces/components/src/AnkSEGrid/AnkGridExpandButton/AnkGridExpandButton.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): tests and fix for group email (refs #564)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/Inputs/accountsMailGroupConfig.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/Inputs/accountsMailGroupData.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/Inputs/accountsMailUserData.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/PuGroups.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/PuMailGroups.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IgroupLib.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
  smart-data-engine/src/vendor/Root/Class.Group.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(business-app): fix list size infos closes #590
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register

fix(sde): force unaccent extension to be in pg_catalog (refs #514)
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/unaccentPgParser.php
  smart-data-engine/src/vendor/Anakeen/CORE_init
Due: smart-data-engine-build, smart-data-engine-integration-build, fulltext-build, fulltext-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, fulltext-register, fulltext-integration-register

fix(ui): fix se list hint closes #585
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): field isnotempty refs #612
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): hover item menu prevent close refs #214
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct compute child when member is null (refs #546)
  smart-data-engine/src/vendor/Root/Class.Group.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add first state on createDocument (refs #556, #573)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): improve refresh grid triggering on prop change (ref #601)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid pager page computations (closes #601)
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid/list item hint (fixes #585)
  user-interfaces/components/src/AnkSEList/AnkSEList.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(te): add VERSION and RELEASE files on build (refs #620)
  .gitlab-ci.yml
  transformation-server/Makefile
Due: te-build, te-integration-build, te-register, te-integration-register

fix(te): fix use of deprecated each() construct (refs #620)
  transformation-server/lib/TE/Class.PgObj.php
  transformation-server/lib/TE/Class.QueryPg.php
Due: te-build, te-integration-build, te-register, te-integration-register

fix(admin): traduction smart structure manager parameters (refs #569)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): traduction te graph legend + orthographe (refs #569)
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeServerLoad.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, transformation-build, transformation-integration-build, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

feat(sde): - PHP 7.4 compatibility (refs #282)
  smart-data-engine/Tests/src/Apps/FDL/Method.TestGood2.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/TestCaseRoutes.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/FamImp4.php
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_goodfamily2.ods
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_goodfamily4.ods
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/phpunit.xml
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestImportFamily.php
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Core/Internal/AuthentProvider.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/Format/MoneyAttributeValue.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/Utils/Postgres.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportAccounts.php
  smart-data-engine/src/vendor/Anakeen/Legacy/LegacyDocManager.php
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchElements.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirLib.php
  smart-data-engine/src/vendor/Anakeen/Vault/DiskDirStorage.php
  smart-data-engine/src/vendor/Anakeen/WHAT/Lib.Prefix.php
  smart-data-engine/src/vendor/Anakeen/lib/composer.json
  smart-data-engine/src/vendor/Anakeen/lib/composer.lock
  smart-data-engine/src/vendor/Root/Class.DocHtmlFormat.php
  smart-data-engine/src/vendor/Root/Class.DocOooFormat.php
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Filters/StateLabel.php
  workflow/Tests/src/vendor/Dcp/Pu/TestFormatCollection.php
  workflow/src/vendor/Anakeen/Workflow/DotGraph.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(te): - PHP 7.4 compatibility (refs #282)
  transformation-server/lib/TE/Class.Engine.php
  transformation-server/lib/TE/Class.Histo.php
  transformation-server/lib/TE/Class.PgObj.php
  transformation-server/lib/TE/Class.QueryPg.php
  transformation-server/lib/TE/Class.Selftest.php
  transformation-server/lib/TE/Class.TERendering.php
  transformation-server/lib/TE/Class.TEServer.php
  transformation-server/lib/TE/Class.Task.php
  transformation-server/lib/TE/Lib.TE.php
Due: te-build, te-integration-build, te-register, te-integration-register

feat(ui): replace ckeditor by kendo editor js part (refs #318)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltextWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test(ui): add test for htmltext (refs #318)
  user-interfaces/Tests/build.xml
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA4.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarBasic.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarFull.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarSimple.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TST_DDUI_ALLTYPE__CVDOC.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TST_DDUI_ALLTYPE__PARAM.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TST_DDUI_ALLTYPE__STRUCT.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.cvdoc.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.enum.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.structure.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add resize trigger on frame expand (refs #388)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): begin add kendo render options for htmltext (refs #318)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderOptions.php
  user-interfaces/src/vendor/Root/ErrorCodeUI.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct autocomplete with empty arrays (refs #626)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): begin add kendo render options for htmltext (refs #318)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA4.csv
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.css
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart elements tabs list scroll (closes #586)
  user-interfaces/components/src/AnkTabs/TabNav/TabNav.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue kendo render options for htmltext (refs #318)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarFull.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): traduction add mixins in some files (refs #569)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokenInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/ParameterEditor/ParameterEditor.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultInfo/VaultInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultManager.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(ui): add resize image in htmltext (refs #318)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarSimple.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): remove non existants directory refs #629
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): mkdir stubs directory refs #630
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): tooltips info color refs #613
  user-interfaces/src/locale/fr/LC_MESSAGES/src/mustache-user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/tooltip.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
