Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(internal): correct verbose mode for import config (refs #176)
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportAnyConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportSingleDocument.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportXml.php
  user-interfaces/src/vendor/Anakeen/Ui/ImportRenderConfiguration.php
  workflow/src/vendor/Anakeen/Workflow/ImportWorkflowConfiguration.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(internal): split htmlview code to be overrided (refs #177)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentHtml.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): add/update entries from the SF / grid filters(refs #46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateUpdate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): grid sorting / grid reload on SF's save(refs #46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateUpdate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): (refs #46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): refs(#46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): admin enumerates section (refs #46)
  .idea/dataSources.xml
  admin-center/package.json
  admin-center/src/config/SmartDataEngine/AdminCenter/adminEnum.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterEnum/AdminCenterEnumEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterEnum/index.js
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateUpdate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
  admin-center/webpack/enumManager.js
  admin-center/webpack/index.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): translation from enum to i18n via router (refs #46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterEnum/AdminCenterEnumEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): (refs #46)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateUpdate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin):lint php switch...case(refs #46)
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): php indent lint(refs #46)
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): clean var before loading new enum (refs #195)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): escape client data(refs #194)
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateUpdate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): compose correct the semver analysis (refs #185)
  anakeen-cli/utils/AppRegistry.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(internal): delete unreference include in deprecated download funct
  smart-data-engine/src/vendor/Anakeen/WHAT/Lib.Http.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: update phpstorm config for beautify php
  .idea/php.xml
Due: none

fix(tools): add warning on stug gen if no config set (refs #181)
  anakeen-cli/tasks/stub.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(internal): correct html multiple in oooLayout (refs #173)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Root/Class.DocOooFormat.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): ignore readaccess field when record form (refs #200)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAccessException.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldValue.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentUpdateData.php
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
  smart-data-engine/src/vendor/Root/ErrorCodeVALUE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: update ci for stubs (refs #17)
  .gitlab-ci.yml
Due: none

fix(workflow): correct when use array in ask transitions (refs #201)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
  user-interfaces/src/vendor/Anakeen/Ui/TransitionRender.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(cli): correct stub target
  migration-tools/Makefile
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(cli): fix the cli cmd mode and interactiv mode (refs #164)
  anakeen-cli/commands/createSetting.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/utils/checkSettings.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): remove comment (refs #164)
  anakeen-cli/utils/checkSettings.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): remove comment (refs #164)
  anakeen-cli/commands/createSetting.js
  anakeen-cli/utils/checkSettings.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): try to push with prettier (refs #164)
  anakeen-cli/commands/createSetting.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): cmd create settings, smartstructure and workflow (refs #164)
  anakeen-cli/commands/createSmartStructure.js
  anakeen-cli/commands/createWorkflow.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSmartStructure.js
  anakeen-cli/tasks/createWorkflow.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): wip for rebase(refs #164)
  anakeen-cli/commands/createSetting.js
  anakeen-cli/commands/createSmartStructure.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/tasks/createSmartStructure.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): createSmartStructure XML conforme à la XSD
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

Revert "Revert "fix(cli): createSmartStructure XML conforme à la XSD""
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

Revert "fix(cli): createSmartStructure XML conforme à la XSD"
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): <acli:stub-config> init if SmartStructure folder (refs #180)
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): createSmartStructure XML conforme à la XSD (refs #179)
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): change for pascalcase (refs:178)
  anakeen-cli/commands/create.js
  anakeen-cli/commands/createSetting.js
  anakeen-cli/commands/createSmartStructure.js
  anakeen-cli/commands/createWorkflow.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/tasks/createSmartStructure.js
  anakeen-cli/tasks/createSmartStructure/Autocompletion/index.js
  anakeen-cli/tasks/createSmartStructure/Behavior/index.js
  anakeen-cli/tasks/createSmartStructure/Render/index.js
  anakeen-cli/tasks/createWorkflow.js
  anakeen-cli/tasks/createWorkflow/Access/index.js
  anakeen-cli/tasks/createWorkflow/Parameters/index.js
  anakeen-cli/tasks/createWorkflow/Permissions/index.js
  anakeen-cli/tasks/createWorkflow/Settings/index.js
  anakeen-cli/tasks/createWorkflow/Structure/index.js
  anakeen-cli/utils/checkName.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): put path in pascalcase miss workflow (refs:178)
  anakeen-cli/commands/createSetting.js
  anakeen-cli/package.json
  anakeen-cli/tasks/create.js
  anakeen-cli/tasks/create/accounts.js
  anakeen-cli/tasks/create/autocompletion.js
  anakeen-cli/tasks/create/config.js
  anakeen-cli/tasks/create/enumerates.js
  anakeen-cli/tasks/create/routes.js
  anakeen-cli/tasks/create/settings.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/tasks/createSmartStructure/Parameters/index.js
  anakeen-cli/tasks/createSmartStructure/Settings/index.js
  anakeen-cli/tasks/createSmartStructure/Structure/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): change php namspace for pascalcase (refs:178)
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/tasks/createSmartStructure.js
  anakeen-cli/tasks/createSmartStructure/Render/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
