Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

feat(validation): build and deploy schemas from CI (refs #738)
  .gitlab-ci.yml
  module-validation/.gitignore
  module-validation/build.sh
  module-validation/web-build.sh
  module-validation/web-deploy.sh
Due: module-validation-integration-publish, module-validation-publish

fix(sde): fix error message (closes #763)
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(admin): add roles mandatory to paramameters component (refs #659)
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/100-AdminParametersHubConfigurationStructure.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): correct mail template default config (refs #389)
  security/info.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/AuthentMailProfil.xml
  smart-data-engine/info.xml
  test-tools/info.xml
  user-interfaces/info.xml
  workflow/info.xml
  workflow/src/vendor/Anakeen/SmartStructures/Mailtemplate/AuthentMail.xml
  workflow/src/vendor/Anakeen/SmartStructures/Mailtemplate/mailTemplateDefault.xml
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix traduction (refs #659)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): correct ordre in fields with override (refs #775)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/testRelativeOrder.xml
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeOrder.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAbsoluteOrder.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): add forget test data for send mail (refs #389)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Templates/MyMessage.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): better error msg for order field misplacement (refs #731)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAbsoluteOrder.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): translation of create iuser/igroup button refs #764
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): view access for accounts manager and system admin refs #764
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/111-AdminManagerProfile.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): add roles to access section refs #764
  admin-center/src/config/SmartDataEngine/AdminCenter/adminStructure.xml
  admin-center/src/config/SmartDataEngine/AdminCenter/adminWorkflow.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): add button description when user has no access refs #764
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/Config.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): consistent name for each role refs #764
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/FullsearchRoles.xml
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TERoles.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(admin): correct div typo (refs #659)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

test(sde): correct test due to delete 3.2 url in mail href (refs #389)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestGetDocAnchor.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): i18n router url modification from filters refs #708
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): rename 'order' column to 'Insert-after' (refs #728)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/Structure.vue
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

build: bump version to 2020.1-RC33
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(dev-center): sslist add structure logical name + search (refs #770)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSList/SSList.component.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSList/SSList.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(validation): add missing "a4ppm" tag on CI jobs (refs #738)
  .gitlab-ci.yml
Due: none

chore(te): reindent rendering (refs #776)
  transformation-server/lib/TE/Class.TERendering.php
Due: te-build, te-integration-build, te-register, te-integration-register

fix(te): decrease sleeping in te (refs #776)
  transformation-server/lib/TE/Class.TERendering.php
Due: te-build, te-integration-build, te-register, te-integration-register

fix(fulltext): broken ci publication job (refs #640)
  fulltext-search/Makefile
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

feat(ui): bouton mask altered sf (closes #724)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskViewRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix kendo-theme-bootstrap dependancies (closes #778)
  user-interfaces/package.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): no more stubs wrong entry in case of `reset=true` (refs #753)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): fresh stubs generation (refs #753)
  admin-center/stubs/ADMINPARAMETERSHUBCONFIGURATION__STUB.php
  admin-center/stubs/fields.js
  hub-station/constants/smartStructureFields.js
  hub-station/stubs/HUBCONFIGURATIONGENERIC__STUB.php
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/stubs/MAIL__STUB.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix(ui): correct height for smart element (refs #599)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.css
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.css
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: change rollup plugin for css import (refs #599)
  hub-station/components/rollup/rollup.config.js
  hub-station/package.json
  internal-components/package.json
  internal-components/rollup/rollup.config.js
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

fix(ui): view smart element - getMessage out of loop (refs #779)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct find id from null values (refs #781)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
  smart-data-engine/src/vendor/Anakeen/Core/Utils/MiscDoc.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: deploy no use auto-release because of fixed dependances
  admin-center/Makefile
  business-app/Makefile
  dev-data/Makefile
  development-center/Makefile
  fulltext-search/Makefile
  hub-station/Makefile
  migration-tools/Makefile
  security/Makefile
  smart-data-engine/Makefile
  test-tools/Makefile
  transformation/Makefile
  user-interfaces/Makefile
  workflow/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(control): add post-restore phase when revert snapshot (refs #784)
  control/src/src/Control/Internal/JobLog.php
  control/src/src/Control/Internal/RestoreContext.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(fulltext): compilation errors on install (refs #640)
  fulltext-search/vue-type-shims.d.ts
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

build: change rollup plugin for css import
  fulltext-search/components/rollup/rollup.config.js
  fulltext-search/package.json
  yarn.lock
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

feat(fulltext): add smart element grid fulltext (closes #710)
  .devtool/devserver/config.perso.js.exemple
  fulltext-search/components/rollup/rollup.config.js
  fulltext-search/components/src/AnkFulltextSmartElementGrid/AnkFulltextSmartElementGrid.component.ts
  fulltext-search/components/src/AnkFulltextSmartElementGrid/AnkFulltextSmartElementGrid.vue
  fulltext-search/components/src/AnkFulltextSmartElementGrid/index.ts
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Components/Grid/DefaultGridFulltextController.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/gridFulltextController.xml
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

feat(fulltext): add test entry for smart grid fulltext (refs #710)
  fulltext-search/Tests/src/vendor/Anakeen/Config/testSearch.xml
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.controller.js
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.scss
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.vue
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/index.js
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubFulltextConfiguration.xml
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Components/Grid/DefaultGridFulltextController.php
  fulltext-search/webpack/test.js
  fulltext-search/webpack/testFulltextSmartElementGrid.js
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(fulltext): wrong info.xml configuration (fixes #710)
  fulltext-search/Tests/info.xml
  fulltext-search/info.xml
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

chore: update yarn.lock
  yarn.lock
Due: none

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
