Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(admin): api data parsing improvements (refs #387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/webpack/structureManager.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): param enum management + some fixes (refs #387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): 3rd task corrected (refs #387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): array params, missing init array val (refs #387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): minor fixes (refs #387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

chore: add missing required elements
  admin-center/constants/.gitkeep
  admin-center/stubs/.gitkeep
  admin-center/stubs/HUBADMINCENTERACCOUNTSVUE__STUB.php
  admin-center/stubs/HUBADMINCENTERPARAMETERSVUE__STUB.php
  admin-center/stubs/HUBADMINCENTERVAULTVUE__STUB.php
  admin-center/stubs/HUBAUTHENTICATIONTOKENSVUE__STUB.php
  development-center/constants/.gitkeep
  development-center/stubs/.gitkeep
  development-center/stubs/README.md
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

fix(validation): correct semver selector (refs #409)
  module-validation/xsd/app/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

build: add missing directory
  transformation/constants/.gitkeep
  transformation/stubs/.gitkeep
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

build: add missing dirs
  migration-tools/constants/.gitkeep
  migration-tools/stubs/.gitkeep
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

build: rc30
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(cli): stubs fully generated when structures are splitted (refs #394)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): [param] unfold frames & enhance splitted content (refs #411)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): stub generation for password fields (refs #408)
  anakeen-cli/utils/appConst.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(validation): add script to build schema's DocumentRoot folder (refs #416)
  module-validation/build.sh
Due: module-validation-integration-publish, module-validation-publish

fix(dev-data): added default label for PFAM profile (refs #343)
  README.md
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): fixed stub-struct in build.xml for create commands (refs #406)
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(dev-data): added NODIACRITIC option to contains filter (refs #393)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_Contains.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterContains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-data): removed useless argv parse in filters (refs #417)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/ContainsValues.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/FileContent.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Filename.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IdentifiersIn.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneContains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneGreaterThan.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/StandardDocumentTitleFilter.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/TitleContains.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): increase notification panel z-index (refs #401)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/window/notification.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): removed user verification for use of GridConfig (refs #423)
  user-interfaces/src/vendor/Anakeen/Components/Grid/Routes/GridConfig.php
  user-interfaces/src/vendor/Anakeen/Ui/DataSource.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

ci: add migration-tool in scope
  .commitlintrc.js
Due: none

feat(migration-tools): new mustache for api v1 stubs (refs #431)
  migration-tools/src/vendor/Anakeen/Migration/RouteV1.php.mustache
  migration-tools/src/vendor/Anakeen/Migration/RouteV1.xml.mustache
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): no transfert not supported attributes (refs #432)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

feat(migration-tools): new export options (refs #433)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Module/Download.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): correct migration system roles (refs #433)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): migration defaults parameters (refs #434)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(sde): no test init parameter value if is a method (refs #429)
  smart-data-engine/src/vendor/Root/CheckInitial.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): more strict test to detect if string is a method (refs #429)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Lib/PuSeemMethod.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentList.php
  smart-data-engine/src/vendor/Root/CheckInitial.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct static error message clean (refs #437)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct graph display (refs #430)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct scrolltovisible tab (refs #435)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct jquery injection for ckeditor (refs #436)
  user-interfaces/webpackConfig/ckeditor/ckeditor.js
  user-interfaces/webpackConfig/ckeditor/ckeditorDeps.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): compose correct order of repo.xml (refs #405)
  anakeen-cli/utils/RepoXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): add a new generateInstaller option (refs #444)
  anakeen-cli/commands/compose/generateInstaller.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): highlight selected structure in sslist (refs #412)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: add rc31
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

feat(cli): update enum / wfl stubs naming convention (refs #400)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): update enum / wfl js stubs generation folder (issue #400)
  anakeen-cli/utils/STUBGenerator.js
  module-validation/xsd/module/1.0/config.xsd
Due: anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish

feat(cli): create command wfl / enum stubs mangement (refs #410)
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
