Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(sde): add a check on import setValue (refs #898)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct authent mail (refs #898)
  workflow/src/vendor/Anakeen/SmartStructures/Mailtemplate/AuthentMail.xml
Due: workflow-build, workflow-integration-build, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register

fix(sde): correct the renew password mail (refs #898)
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/MailPassword.php
  workflow/src/vendor/Anakeen/SmartStructures/Mailtemplate/AuthentMail.xml
Due: user-interfaces-buildJS, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(control): refactor config file init (closes #571)
  control/src/anakeen-control
  control/src/include/lib/Lib.checkInitServer.php
  control/src/public/index.php
  control/src/src/Control/Cli/CliInit.php
  control/src/src/Control/Cli/CliRegistry.php
  control/src/src/Control/Internal/Context.php
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): add all SS legacy in js for report (refs #892)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): return promise in addsmartelement refs #878
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): message on ss tree list filter (refs #790)
  development-center/src/locale/en/vuejs/src/DEVELOPMENT_CENTER.json
  development-center/src/locale/fr/vuejs/src/DEVELOPMENT_CENTER.json
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersFields.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersValues.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/DefaultValues.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(cli): beautify refs #908
  anakeen-cli/tasks/createSetting.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): createsetting force option refs #908
  anakeen-cli/commands/createSetting.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
  anakeen-cli/tasks/createSetting/index.js
  anakeen-cli/tasks/plugins/files.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(ui): add select row smart element in the grid (refs #869)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(dev-center): add path to vscode conf to deploy
  .vscode/settings.json
Due: none

fix(cli): change source folder to write build.xml (refs #913)
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): transform workflow name in pascalCase (refs #914)
  anakeen-cli/tasks/createSmartStructure/Behavior/index.js
  anakeen-cli/tasks/createWorkflow/Behavior/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): add primarymask and access examples refs #910
  anakeen-cli/tasks/createSetting/ViewControl/xml/ViewControl.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): add autocompletion balise, fix struct sample (refs #907)
  anakeen-cli/tasks/createSmartStructure/Autocompletion/php/Autocompletion.php.mustache
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
  anakeen-cli/tasks/createWorkflow/Structure/xml/Structure.xml.mustache
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Workflows/100-Wfam_billStructure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(ui): better mask computation in renderView (refs #871, #872, #873)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
  user-interfaces/src/vendor/Anakeen/Ui/IRenderConfig.php
  user-interfaces/src/vendor/Anakeen/Ui/MaskManager.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore(ui): complete comments (refs #871, #872, #873)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
  user-interfaces/src/vendor/Anakeen/Ui/MaskManager.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): add label on workflow creation refs #906
  anakeen-cli/tasks/createWorkflow/Structure/xml/Graph.xml.mustache
  anakeen-cli/tasks/createWorkflow/Structure/xml/Structure.xml.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): add default associated structure refs #915
  anakeen-cli/tasks/createSetting/MailTemplate/xml/MailTemplate.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): correct test for needed (refs #873)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/AllRenderAllNeeded.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(validation): multi mail in xsd (refs #916)
  module-validation/xsd/mailtemplate/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(cli): add case insensitive to autocomplete template (refs #919)
  anakeen-cli/tasks/createSmartStructure/Autocompletion/php/Autocompletion.php.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): correct initialisation of smart element (refs #878)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct test SS init (refs #878)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump to 2020.1-rc38
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): correct custom data for report (refs #892)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/ReportEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/ReportViewRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): import configuration write error with glob (refs #911)
  user-interfaces/src/vendor/Anakeen/Ui/ImportRenderConfiguration.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): extra tooltip displayed refs #917
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/100-Devbill.structure.xml
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): no more debug json baline in prod request (refs #835)
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct setNeeded on the smart field in array (refs #917)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add param to set limite of nb value autocomplete (refs #747)
  smart-data-engine/src/config/SmartDataEngine/Core/parameters/core.parameters.xml
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/Autocomplete/AccountList.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/Autocomplete/SmartElementList.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct delete route when use custom render view (refs #927)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentViewDelete.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): smartForm close confirmation pop up (closes #845)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): filter on initid refs #922
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/StandardAttributeFilter.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): filter on initid refs #922
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): return specific user login instead of id refs #924
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/AdminParametersHubConfigurationBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): select default filter smart grid(refs #897)
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): readWrite access to field rep_idcols for user (closes #920)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Report/report.struct.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct import structure config for doctitle (refs #930)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): scheduled task translation refs #929
  smart-data-engine/src/locale/en/LC_MESSAGES/src/TASK_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/TASK_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/enumTASK-task_result-status_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/enumTASK-task_status_fr.po
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CronSchedule.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CrontabManager.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskViewRender.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
