Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

build: correct version detect again
  .gitlab-ci.yml
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

fix(admin): add all translations timers refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): feat filters workflow list and data refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/Workflow.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/WorkflowData.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): add transition label link refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): fix hub admin smart element vue component
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): fixed logout beforeLogout event
  user-interfaces/components/src/Logout/Logout.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element vue component mounted function
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): fix complete route computation
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationVue/HubConfigurationVueBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(business-app): fix hub element definition
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): fixed identity component
  user-interfaces/components/src/Identity/Identity.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(tools): add mailcatcher to anakeen platform docker
  .devtool/docker/Docker/docker-compose.yml
  .devtool/docker/Makefile
  .devtool/docker/Makefile.params.mk
  Makefile
Due: none

fix(sde): fix get current user on search accounts refs #96
  smart-data-engine/Tests/src/EXTERNALS/fdl.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSearch.php
  smart-data-engine/src/vendor/Anakeen/Accounts/SearchAccounts.php
  smart-data-engine/src/vendor/Root/Class.DocHtmlFormat.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix Authent component (refs #97)
  user-interfaces/components/src/Authent/Authent.component.ts
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/MailPassword.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(tools): add pimp-my-log to monorepo docker
  .devtool/docker/Docker/Volumes/php/etc/apache2/sites-enabled/custom-vhost/001-anakeen-logs.conf
  .devtool/docker/Docker/Volumes/php/var/www/html/logs/config.user.php
  .devtool/docker/Docker/docker-compose.yml
  .devtool/docker/Makefile
  .devtool/docker/Makefile.params.mk
  README.md
Due: none

fix(ui): fix grid component (refs #99)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  user-interfaces/components/src/Grid/Grid.controller.ts
  user-interfaces/components/src/Grid/utils/GridKendoUtils.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(dev-center): fix workflow rights duplicate query refs #14
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/WorkflowRights/WorkflowRights.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/WorkflowRights/WorkflowRights.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): fix workflow rights refs #14
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/WorkflowRights/WorkflowRights.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): fix workflow rights refs #14
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Workflows/Workflows.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(control): don't log completion
  control/src/anakeen-control
Due: control-build, control-integration-build, control-register, control-integration-register

feat(ui): begin Smart Form (refs #28)
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartForm/TestSmartFormEntry.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartForm/index.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/components/src/SmartForm/ISmartForm.ts
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/components/src/SmartForm/SmartForm.scss
  user-interfaces/components/src/SmartForm/SmartForm.vue
  user-interfaces/components/src/SmartForm/index.js
  user-interfaces/components/src/components.js
  user-interfaces/components/webpack/index.js
  user-interfaces/package.json
  user-interfaces/tsconfig.json
  user-interfaces/webpackConfig/dllcommon.part.js
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartForm.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): begin Smart Form (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartForm/TestSmartFormEntry.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/components/src/SmartElement/ISmartElementValue.ts
  user-interfaces/components/src/SmartElement/SmartElement.component.js
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/src/config/SmartDataEngine/Ui/smart-element-ui.xml
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/Routes/Ui/SmartFormView.php
  user-interfaces/src/vendor/Root/ErrorCodeCRUDUI.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: prettier 120 characters by lines
  .idea/codeStyles/Project.xml
  .prettierrc
Due: none

fix(internal): correct exception parameters
  smart-data-engine/src/vendor/Anakeen/Exception.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: app app-test-autorelease
  Makefile
Due: none

build: correct npm publish
  .gitlab-ci.yml
Due: none

feat(ui): begin Smart Form (refs #28)
  yarn.lock
Due: none

chore: reindent for eslint
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.controller.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttribute.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register

feat(ui): begin Smart Form (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue Smart Form (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample1.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/documentController/documentController.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/tsconfig.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: adjust for pimpmylog
  .devtool/docker/Docker/Volumes/php/etc/apache2/sites-enabled/custom-vhost/001-anakeen-logs.conf
  .devtool/docker/Docker/Volumes/php/etc/apache2/sites-enabled/custom-vhost/001-anakeen-logs.conf.default
  .gitignore
  README.md
Due: none

fix(internal): correct notice on ank error script
  smart-data-engine/src/vendor/Anakeen/Script/AnkMailError.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: add app-test-autorelease target
  admin-center/Makefile
  business-app/Makefile
  control/Makefile
  development-center/Makefile
  hub-station/Makefile
  internal-components/Makefile
  migration-tools/Makefile
  transformation/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, hub-station-integration-publish, hub-station-publish, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

build: correct for tslint in ui test
  user-interfaces/Makefile
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/tsconfig.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue Smart Form (refs #28)
  internal-components/src/Splitter/Splitter.component.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample1.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, internal-components-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
