Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(ui): add smart criteria config test for responsiveColumns (ref #749)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.controller.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix responsiveColumns in smart criteria (closes #749)
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): global controller event (closes #699)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(): freeze vue-property-decorator & some deps version (refs #750)
  admin-center/package.json
  business-app/package.json
  development-center/package.json
  fulltext-search/package.json
  hub-station/package.json
  transformation/package.json
  user-interfaces/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(dev-center): link to mask (closes #729)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/ElementView/ElementView.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(control): no use custom index for command (refs #761)
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

feat(ui): send mail interfaces (refs #389)
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/info.xml
  smart-data-engine/src/config/SmartDataEngine/Core/routes/core.xml
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentSend.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/ImageAsset.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mail.struct.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mailTemplateDefault.xml
  smart-data-engine/stubs/IUSER__STUB.php
  smart-data-engine/stubs/MAIL__STUB.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA4.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/SendMailMenu.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.cvdoc.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllTypeHooks.php
  user-interfaces/info.xml
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailAccess.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/mail.views.xml
  user-interfaces/src/vendor/Anakeen/Ui/DefaultConfigEditRender.php
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): send mail interface (refs #389)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentSend.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mailTemplateDefault.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/SendMailMenu.php
  user-interfaces/info.xml
  user-interfaces/src/vendor/Anakeen/Components/Authent/AuthentMail.csv
  user-interfaces/src/vendor/Anakeen/Components/Authent/AuthentMail.xml
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): new send smart element route form (refs #389)
  user-interfaces/src/config/SmartDataEngine/Ui/smart-mail-ui.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Routes/MailForm.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): send mail interface (refs #389)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): send mail intertaces (refs #389)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentSend.php
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): destroy menu popup window on close (refs #389)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): use slim request intead of _GET (refs #389)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentHtml.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct using mail template (refs #389)
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentSend.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mail.struct.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mailTemplateDefault.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/MailTemplateHooks.php
  smart-data-engine/stubs/MAIL__STUB.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

chore: reindent (refs #389)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Routes/MailForm.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test(ui): add test for send menu (refs #389)
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/SendMailMenu.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): delete old qury parameters for getDocAnchor (refs #389)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): original need for frame array and tab (closes #723)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): title masque background color green (closes #722)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): add title to picto refs #718
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/Structure.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(admin): trash manager profile title refs #668
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): correct return type refs #762
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): type bool for booleans refs #762
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct menu css when dynamic menu opened (refs #684)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: version 2020.1-RC32
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): realign workflow warning menu (refs #684)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
  user-interfaces/src/vendor/Anakeen/Ui/DefaultView.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): new parameters interface (refs #659)
  admin-center/src/vendor/Anakeen/AdminCenter/Migration/AdminParametersPluginMigration.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): new parameters interface (refs #659)
  admin-center/build.xml
  admin-center/info.xml
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Config/newHubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/Migration/AdminParametersPluginMigration.php
  admin-center/src/vendor/Anakeen/AdminCenter/Migration/cleanOldParametersPlugin.xml
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/100-AdminParametersHubConfigurationStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/500-AdminParametersHubConfigurationSettings.xml
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/AdminParametersHubConfigurationBehavior.php
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/AdminParametersHubConfigurationAccess.php
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/AdminParametersHubConfigurationEditRender.php
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/AdminParametersHubConfigurationViewRender.php
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/TAdminParametersHubConfigurationCommonRender.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AllParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AlterUserParameter.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/RestoreUserParameterSystemValue.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/UserParameters.php
  admin-center/stubs/ADMINPARAMETERSHUBCONFIGURATION__STUB.php
  admin-center/stubs/fields.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationGeneric/HubConfigurationGenericBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix(admin): fix bug on interface parameters (refs #659)
  admin-center/build.xml
  admin-center/src/locale/en/LC_MESSAGES/src/ADMINPARAMETERSHUBCONFIGURATION_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMINPARAMETERSHUBCONFIGURATION_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Config/newHubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.css
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/TAdminParametersHubConfigurationCommonRender.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): bugfix loadParameters (refs #659)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/ParameterEditor/ParameterEditor.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/ParameterEditor/ParameterEditor.css
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/ParameterEditor/ParameterEditor.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.css
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.types.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix bug restore value and resolve merge conflict (refs #659)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): add multiple nameSpace filter from devel (refs #659)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/100-AdminParametersHubConfigurationStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/AdminParametersHubConfigurationBehavior.php
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/Render/TAdminParametersHubConfigurationCommonRender.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix some bug find, and display json param (refs #659)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-data): fix path to docker in vscode conf
  .vscode/settings.json
Due: none

fix(sde): use arraytorawValue instead Postgres:arraytostring (refs#765)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportXmlDocument.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct vault index analyzer for images in htmltext(refs #759)
  smart-data-engine/src/vendor/Anakeen/Core/Utils/VidExtractor.php
  smart-data-engine/src/vendor/Anakeen/Vault/VaultAnalyzer.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): reload smart structure (closes #719)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): correct autocomplete parsing for properties (refs #768)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Autocomplete.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix some bug find and update (hub configuration) (refs #659)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/100-AdminParametersHubConfigurationStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/SmartStructures/AdminParametersHubConfiguration/AdminParametersHubConfigurationBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): put migration xsd into module-validation (refs #738)
  module-validation/all.xsd
  module-validation/catalog.xml
  module-validation/xsd/migration/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
