Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

feat(fulltext): domain updating based on mdate (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/FulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterContains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

fix(sde): correct revision redirect (refs #388)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentData.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/Lib/DocumentUtils.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): begin admin center (refs #388)
  fulltext-search/.eslintignore
  fulltext-search/.eslintrc.js
  fulltext-search/Makefile
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/info.xml
  fulltext-search/package.json
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/adminFullsearchRoutes.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/AdminCenterFullSearchManager/AdminCenterFullSearchManagerEntry.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/AdminCenterFullSearchManager/index.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchManager.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchManager.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchManager.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/IDomainConfigType.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchRoles.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/hubConfiguration.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/RecordFileTextContent.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainManager.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchFieldConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchFileConfig.php
  fulltext-search/tsconfig.json
  fulltext-search/vue-shims.d.ts
  fulltext-search/vue-type-shims.d.ts
  fulltext-search/webpack/config.js
Due: none

feat(sde): add join type support (refs #388)
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchElements.php
  smart-data-engine/src/vendor/Root/ErrorCodeSD.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): begin admin center (refs #388)
  fulltext-search/.eslintrc.js
  fulltext-search/package.json
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/fullsearchRoutes.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller-bak.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchManager.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchManager.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchResultList.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchResultList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchResultList.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchSearch.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchElements.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(sde): add getter for formatcollection hook (refs 388)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/FormatCollection.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): begin admin center (refs #388)
  fulltext-search/kendo-shims.d.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchResultList.controller.js
  fulltext-search/tsconfig.json
Due: none

feat(fulltext): begin admin center (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchResultList.controller.js
Due: none

feat(fulltext): continue admin center (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/DevelCenterFullSearchManager/DevelCenterFullSearchManagerEntry.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/DevelCenterFullSearchManager/index.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Devel/FullsearchDevel.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Devel/FullsearchDevel.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Devel/FullsearchDevel.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/ExpandList/FullsearchExpandList.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/ExpandList/FullsearchExpandList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/ExpandList/FullsearchExpandList.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/IDomainConfigType.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Manager/FullsearchManager.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Manager/FullsearchManager.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Manager/FullsearchManager.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/hubConfiguration.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainManager.php
  fulltext-search/webpack/config.js
Due: none

feat(fulltext): admin center first version (refs #388)
  fulltext-search/TODO.md
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

feat(sde): add join type support (refs #388)
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Root/ErrorCodeSD.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): task update (refs #388)
  fulltext-search/.gitignore
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternQuery.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuTextSearch.php
  fulltext-search/info.xml
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/fullsearchRoutes.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/FullsearchRoles.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/fullsearchFunctions.sql
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/hubConfiguration.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/tasks.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/FullsearchConfig.controller-bak.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/UpdateData.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/fullsearchFunctions.sql
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

feat(fulltext): custo callback (refs #388)
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/CustomData.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/customSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/fileSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple002.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple002.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuCustomSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchCallableConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(sde): processExecute cron to 1 min (refs #388)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CrontabManager.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/TaskBehavior.php
  smart-data-engine/src/vendor/Anakeen/anakeen.cron
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(te): add checkConnection (refs #388)
  transformation/src/config/SmartDataEngine/te-route.xml
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/TestCallback.php
  transformation/src/vendor/Anakeen/TransformationEngine/Client.php
  transformation/src/vendor/Anakeen/TransformationEngine/ClientException.php
  transformation/src/vendor/Anakeen/TransformationEngine/Manager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

feat(sde): add database lockSession (refs #388)
  smart-data-engine/src/vendor/Anakeen/Core/DbManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): add collection (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/collectionSearchDomainConfig.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple003.data.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/Config/tst_simple003.struct.xml
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuCollectionSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/SuiteFulltextSearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

chore(ui): add comment on crontab check (refs #388)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Routes/CrontabCheck.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(fulltext): add task (refs #388)
  fulltext-search/TODO.md
  fulltext-search/package.json
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Results/FullsearchResultList.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/UpdateData.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchConfig.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainManager.php
  fulltext-search/src/vendor/Root/ErrorCodeFSEA.php
Due: none

fix(sde): correct for join queries (refs #388)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirLib.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): adjust task css for output (refs #388)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/task.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskExecute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): grid page sizes refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: update makefile and dev images
  .devtool/Makefile.params.mk
  .devtool/Makefile.rules.mk
  .devtool/docker/Docker/Images/php/Dockerfile
  .devtool/docker/Docker/Images/postgres/Dockerfile
  .devtool/docker/Docker/Volumes/php/etc/apache2/sites-enabled/custom-vhost/001-anakeen-logs.conf.default
  .devtool/docker/Docker/Volumes/php/var/www/html/control/conf/params.xml
  .devtool/docker/Docker/Volumes/php/var/www/html/logs/config.user.php
  .devtool/docker/Docker/docker-compose.yml
  .devtool/docker/Images/php/Dockerfile
  .devtool/docker/Images/php/Files/etc/apache2/sites-available/000-anakeen.conf
  .devtool/docker/Images/postgres/Dockerfile
  .devtool/docker/Images/wait-for-it/Dockerfile
  .devtool/docker/Makefile
  .devtool/docker/Makefile.params.mk
  .devtool/docker/README.md
  .devtool/docker/Volumes/php/usr/local/etc/php/conf.d/10-base.ini
  .devtool/docker/docker-compose.yml
  .devtool/nvm-exec.sh
  .devtool/script/generateLocalRepo.js
  .gitignore
  .idea/anakeen-platform-4.iml
  .idea/webServers.xml
  .nvmrc
  Makefile
  admin-center/Makefile
  business-app/Makefile
  dev-data/Makefile
  development-center/Makefile
  hub-station/Makefile
  internal-components/Makefile
  migration-tools/Makefile
  security/Makefile
  smart-data-engine/Makefile
  test-tools/Makefile
  transformation/Makefile
  user-interfaces/Makefile
  workflow/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

chore: correct readme
  .devtool/Makefile.params.mk
  .idea/webServers.xml
  README.md
Due: none

fix(ui): fix formatter utils in grid content fixes #251
  .idea/deployment.xml
  user-interfaces/src/vendor/Anakeen/Components/Grid/GridDataFormatter.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/GridFormatCollection.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix test smart grid with hot properties change fixes #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid component reactivity fixes #251
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart grid test ui fixes #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.controller.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart grid test ui fixes #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
  user-interfaces/components/src/AnkSEGrid/AnkProgress/AnkProgress.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkProgress/AnkProgress.scss
  user-interfaces/components/src/AnkSEGrid/AnkProgress/AnkProgress.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix typescript warnings fixes #251
  user-interfaces/components/src/AnkSEGrid/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkExportButton/AnkExportButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCellMixin.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridColumnsButton/AnkGridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridExpandButton/AnkGridExpandButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/utils/GridError.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart grid style fixes #251
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid controllers utils modularity closes #495
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashGridController.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/FieldAccessGridController.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ProfilesGridController.php
  hub-station/src/vendor/Anakeen/Hub/Routes/HubStationAdminGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

fix(ui): fix typescript grid warnings fixes #251
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc10
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): correct ts annotation (refs #251)
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCellTypes/AnkGridCellIconText.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct compilation rules (refs #498)
  webpack-conf/index.js
Due: none

chore: correct makefile update-all
  Makefile
Due: none

chore: correct dev server
  .devtool/devserver/index.js
  Makefile
Due: none

fix(migration-tools): delete menu attributes (refs #481)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register
