Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(sde): ignore set fields in document update (refs #1141)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentUpdateData.php
  smart-data-engine/src/vendor/Root/ErrorCodeROUTES.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: add missing reps
  about/constants/.gitkeep
Due: none

build: bump version for 2020.3.2
  .devtool/script/versions.js
  about/info.xml
  admin-center/info.xml
  admin-center/package.json
  smart-data-engine/info.xml
  smart-data-engine/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

build: add possibility to override PROJECT_TE_PORT
  .devtool/docker/Addons/transformation-server/Makefile.params.mk
Due: none

fix(sde): delete old fields used to password validation date (refs #987)
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportAccounts.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/iuser.struct.xml
  smart-data-engine/stubs/IUSER__STUB.php
  smart-data-engine/stubs/MAIL__STUB.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserEditRender.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(control): get exception message if error (refs #1110)
  anakeen-cli/utils/control.js
  control/src/src/Control/Api/ErrorHandler.php
Due: control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, control-register, control-integration-register

build: use PHP 7.4 by default in php-fpm (refs #1110)
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
Due: none

build: correct make docker-prompt-control to use interactive shell
  .devtool/Makefile.rules.mk
Due: none

fix(admin): align icons (refs #1143)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/main.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): delete unused expiration password date (refs #987)
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix: correct ci rules to anakeen-about deploy
  .gitlab-ci.yml
  about/info.xml
Due: none

feat: story eslint ignore (refs #1122)
  .eslintignore
  storybook/.eslintrc.js
Due: none

feat(test-tools): add test addon on storybook(refs #1124)
  storybook/.storybook/Addons/.babelrc.js
  storybook/.storybook/Addons/.eslintrc.js
  storybook/.storybook/Addons/.storybook/main.js
  storybook/.storybook/Addons/.storybook/preview.js
  storybook/.storybook/Addons/package.json
  storybook/.storybook/Addons/preset.js
  storybook/.storybook/Addons/src/AnkTestsManager.js
  storybook/.storybook/Addons/src/Checkbox.js
  storybook/.storybook/Addons/src/preset.js
  storybook/.storybook/Addons/src/register.js
  storybook/.storybook/Addons/stories/Button.js
  storybook/.storybook/Addons/stories/Button.stories.js
  storybook/.storybook/Addons/stories/Header.js
  storybook/.storybook/Addons/stories/Header.stories.js
  storybook/.storybook/Addons/stories/Introduction.stories.mdx
  storybook/.storybook/Addons/stories/Page.js
  storybook/.storybook/Addons/stories/Page.stories.js
  storybook/.storybook/Addons/stories/assets/code-brackets.svg
  storybook/.storybook/Addons/stories/assets/colors.svg
  storybook/.storybook/Addons/stories/assets/comments.svg
  storybook/.storybook/Addons/stories/assets/direction.svg
  storybook/.storybook/Addons/stories/assets/flow.svg
  storybook/.storybook/Addons/stories/assets/plugin.svg
  storybook/.storybook/Addons/stories/assets/repo.svg
  storybook/.storybook/Addons/stories/assets/stackalt.svg
  storybook/.storybook/Addons/stories/button.css
  storybook/.storybook/Addons/stories/header.css
  storybook/.storybook/Addons/stories/page.css
  storybook/.storybook/Addons/yarn.lock
  storybook/.storybook/main.js
  storybook/package.json
  storybook/src/stories/SmartForm.stories.js
Due: none

fix: fix how to handle storybook
  storybook/.storybook/Addons/.babelrc.js
  storybook/.storybook/Addons/.eslintrc.js
  storybook/.storybook/Addons/.storybook/main.js
  storybook/.storybook/Addons/package.json
  storybook/.storybook/Addons/preset.js
  storybook/.storybook/Addons/src/AnkTestsManager.js
  storybook/.storybook/Addons/src/register.js
  storybook/.storybook/Addons/stories/Button.js
  storybook/.storybook/Addons/stories/Button.stories.js
  storybook/.storybook/Addons/stories/Header.js
  storybook/.storybook/Addons/stories/Header.stories.js
  storybook/.storybook/Addons/stories/Introduction.stories.mdx
  storybook/.storybook/Addons/stories/Page.js
  storybook/.storybook/Addons/stories/Page.stories.js
  storybook/.storybook/Addons/stories/assets/code-brackets.svg
  storybook/.storybook/Addons/stories/assets/colors.svg
  storybook/.storybook/Addons/stories/assets/comments.svg
  storybook/.storybook/Addons/stories/assets/direction.svg
  storybook/.storybook/Addons/stories/assets/flow.svg
  storybook/.storybook/Addons/stories/assets/plugin.svg
  storybook/.storybook/Addons/stories/assets/repo.svg
  storybook/.storybook/Addons/stories/assets/stackalt.svg
  storybook/.storybook/Addons/stories/button.css
  storybook/.storybook/Addons/stories/header.css
  storybook/.storybook/Addons/stories/page.css
  storybook/.storybook/Addons/yarn.lock
  storybook/.storybook/main.js
  storybook/.storybook/preset.js
  storybook/.storybook/register.js
  storybook/package.json
  storybook/src/addons/AnkTestsManager.js
  storybook/src/addons/Checkbox.js
  storybook/src/addons/babel.config.js
  storybook/src/stories/SmartForm.stories.js
  storybook/tests/get-value.test.js
  storybook/tests/index.js
Due: none

fix: fix tests storybook
  storybook/.storybook/Addons/.storybook/preview.js
  storybook/.storybook/main.js
  storybook/.storybook/manager.js
  storybook/.storybook/preset.js
  storybook/.storybook/register.js
  storybook/package.json
  storybook/src/addons/AnkTestsManager/AnkTestsManager.react.js
  storybook/src/addons/AnkTestsManager/Checkbox.react.js
  storybook/src/addons/Checkbox.js
  storybook/src/addons/babel.config.js
  storybook/src/stories/SmartForm.stories.js
  storybook/tests/get-value.test.js
  storybook/tests/index.js
  storybook/tests/testGetValue.spec.js
Due: none

feat(test-tools): add elem and style to addon(refs #1124)
  storybook/src/addons/AnkTestsManager/AnkTests.css
  storybook/src/addons/AnkTestsManager/AnkTestsManager.react.js
  storybook/src/addons/AnkTestsManager/Checkbox.react.js
  storybook/src/stories/SmartForm.stories.js
  storybook/tests/index.js
  storybook/tests/testGetValue.spec.js
Due: none

fix(hub): fix how the default URL is made(refs #797)
  hub-station/components/src/HubStation/HubStation.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

feat(test-tools): story book continue
  storybook/.eslintrc.js
  storybook/.storybook/main.js
  storybook/.storybook/manager.js
  storybook/package.json
  storybook/src/addons/AnkTestsManager/AnkTests.css
  storybook/src/addons/AnkTestsManager/AnkTestsManager.react.js
  storybook/src/addons/AnkTestsManager/Checkbox.react.js
  storybook/src/addons/AnkTestsManager/RecordState.js
  storybook/src/addons/AnkTestsManager/UserRadioStatus.react.js
  storybook/src/addons/AnkTestsManager/smartElementTestFunctions.js
  storybook/src/addons/AnkTestsManager/testGetValue.spec.js
  storybook/src/stories/SmartElement.stories.js
  storybook/src/stories/SmartForm.stories.js
  storybook/src/stories/SmartFormData/SmartFormSF001.js
  storybook/src/stories/SmartFormData/SmartFormSF001.json
  storybook/src/stories/SmartFormData/SmartFormSF001.md
  storybook/src/stories/SmartFormData/SmartFormSF002.js
  storybook/src/stories/SmartFormData/SmartFormSF002.json
  storybook/src/stories/SmartFormData/SmartFormSF002.md
  storybook/src/stories/SmartFormData/SmartFormSF010.js
  storybook/src/stories/SmartFormData/SmartFormSF011.js
  storybook/src/stories/SmartFormData/SmartFormSF100.js
  storybook/src/stories/SmartFormData/SmartFormSF101.js
  storybook/src/stories/SmartFormData/data/SFToutType.json
  storybook/src/stories/SmartFormData/lib/SmartFormTestBeforeRender.js
  storybook/src/stories/SmartFormData/lib/SmartFormTestData.js
  storybook/src/stories/SmartFormTesting.stories.js
  storybook/tests/index.js
  storybook/tests/testGetValue.spec.js
  yarn.lock
Due: none

feat(sde): rewrite fieldvalues trigger (refs #1165)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/Layout/sqltrigger.sql
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): php stubs formatting (refs #1022)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): good operators on filters window reopening(refs #1173)
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): add overflow on default values modal(refs #1174)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): fix display error when close event is prevented (refs #1175)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct lock and unlock handling (refs #1167)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentLock.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentLocks.php
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): [criteria]multiple filters default value now works (refs #1178)
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): smartFieldHelperSearch event can now be prevented (refs #1184)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct right for group creation (refs #1166)
  security/src/vendor/Anakeen/SmartStructures/Igroup/igroup.profil.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Group/Render/GroupEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Group/Render/GroupViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Igroup/Render/IgroupEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Igroup/Render/IgroupViewRender.php
Due: user-interfaces-buildJS, security-build, security-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, security-integration-publish, security-publish, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(cli): profiles are now imported before wfl (refs #1163)
  anakeen-cli/tasks/createSetting/Profile/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(ui): update material icons package (refs #1156)
  theme-variables/package.json
  yarn.lock
Due: theme-variables-publish

fix(sde): replace mig rule config content by migrationRules (refs #1192)
  module-validation/all.xsd
  module-validation/xsd/migration/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(sde): hashing etag from RenderDefault::getEtag() (refs #993)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete recipient field button's tooltip (refs #1194)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
