Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(control): correct php warning (refs #1110)
  control/src/include/lib/Lib.Wcontrol.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): correct sort callback arg (refs #1110)
  control/src/include/class/Class.Context.php
Due: control-build, control-integration-build, control-register, control-integration-register

feat(sde): constraint to php version is now 7.4 or 8.0 (refs #1110)
  smart-data-engine/info.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): pg_numrows is pg_num_rows (refs #1110)
  smart-data-engine/src/vendor/Anakeen/Core/DbManager.php
  smart-data-engine/src/vendor/Root/Class.SearchHighlight.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): display error status when deploy request failed (refs #1110)
  anakeen-cli/utils/control.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): == is not === (refs #1110)
  control/src/include/lib/Lib.Wcontrol.php
  control/src/src/Control/Internal/LibSystem.php
  smart-data-engine/Tests/src/Apps/FDL/Method.TestOooLayout.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDocument.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSplitXmlDocument.php
  smart-data-engine/src/API/refreshUserAccount.php
  smart-data-engine/src/API/vault_init.php
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Core/ExportCollection.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DbObj.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/QueryDb.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
  smart-data-engine/src/vendor/Anakeen/Core/Utils/Csv/SampleAccumulator.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportSingleDocument.php
  smart-data-engine/src/vendor/Anakeen/Legacy/LegacyDocManager.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/TemporaryFile.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/WorkflowStateCollection.php
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirLib.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Report/ReportHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CronSchedule.php
  smart-data-engine/src/vendor/Anakeen/Vault/ConsoleProgressOMeter.php
  smart-data-engine/src/vendor/Anakeen/Vault/VaultAnalyzer.php
  smart-data-engine/src/vendor/Anakeen/WHAT/Lib.Color.php
  smart-data-engine/src/vendor/Anakeen/WHAT/wdebug.php
  smart-data-engine/src/vendor/Root/Class.XMLSplitter.php
  smart-data-engine/src/vendor/Root/EnumAttributeTools.php
  transformation/src/vendor/Anakeen/TransformationEngine/Manager.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Cvdoc/CVDocHooks.php
  user-interfaces/src/vendor/Anakeen/Ui/MaskManager.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
  workflow/src/vendor/Anakeen/SmartStructures/Timer/TimerHooks.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, transformation-build, transformation-integration-build, control-build, control-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): correct getFromIds is ide is empty (refs #1110)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct catch sprintf error (refs #1110)
  smart-data-engine/src/vendor/Root/CheckAttr.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct abs args for php8 (refs #1110)
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestSearchFamilies.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): private function are not final (refs #1110)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CronSchedule.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no use reference args in filter callback (refs #1110)
  smart-data-engine/src/vendor/Anakeen/Core/Utils/Csv/SampleAccumulator.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: use PHP8.0 by defaut (refs #1110)
  Makefile
Due: none

fix(control): correct arg type an exeception handler (refs #1110)
  control/src/public/index.php
Due: control-build, control-integration-build, control-register, control-integration-register

feat(sde): beautify (refs #1110)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/PuGroups.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/PuMailGroups.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/EnumExists/EnumExistsError.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuDisableAccess.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuEnums.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuStructBasic.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuTask.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/PuCoreDataDocument.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreFamily/PuCoreDataFamilyDocument.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/TestCaseRoutes.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterHasUserTag.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestExportRevision.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestLink.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestNewDoc.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestOooLayout.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestOooSimpleLayout.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSplitXmlDocument.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestTag.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportSingleDocument.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no use {} for arrays in php 8 (refs #1110)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/BasicAuthenticator.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(control): correct fatal error display error (refs #1110)
  control/src/src/Control/Internal/FatalHandler.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): add current-user-email balise on xsd mail template(refs #1100)
  anakeen-cli/tasks/createSetting/MailTemplate/xml/MailTemplate.xml
  module-validation/xsd/mailtemplate/1.0/config.xsd
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/MailTemplateHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/mailtemplate.struct.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Render/MailTemplateRender.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Render/MailtemplateEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Render/MailtemplateViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Render/TmailtemplateRender.php
  user-interfaces/webpackConfig/smartStructures.js
  workflow/src/vendor/Anakeen/Workflow/ImportWorkflowConfiguration.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(cli): activate trim in xml2js parser (refs #1120)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): change 2 function for cvdocs (refs #989)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Cvdoc/CVDocHooks.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): added account in required access (refs #1136)
  smart-data-engine/src/vendor/Root/Class.Permission.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add table logmonthconnection if not exists (refs #1137)
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): logmonthconnection table create in install (refs #1137)
  smart-data-engine/src/vendor/Anakeen/CORE_init
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: update phpstorm conf for PHP 7.4
  .idea/anakeen-platform-4.iml
  .idea/deployment.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php.xml
Due: none

build: exclude fulltext generated files
  .idea/anakeen-platform-4.iml
Due: none

fix(sde): add traduction into mail template(refs #1100)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/enumMAILTEMPLATE-tmail_desttype_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/enumMAILTEMPLATE-tmail_fromtype_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/enumMAILTEMPLATE-tmail_desttype_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/enumMAILTEMPLATE-tmail_fromtype_fr.po
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/mailtemplate.struct.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): change default render for json and xml smart field (refs #1138)
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): add about admin section (refs #1139)
  .idea/deployment.xml
  Makefile
  about/.eslintrc.js
  about/.gitignore
  about/LICENSE
  about/Makefile
  about/README.md
  about/build.xml
  about/info.xml
  about/lib/parametersTemplate.xml
  about/lib/updateParameterVersion.js
  about/package.json
  about/src/config/SmartDataEngine/About/routes/about.xml
  about/src/vendor/Anakeen/Routes/About/Version.php
  admin-center/info.xml
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/317-HGEA_STATISTICS.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterInfos/AdminCenterInfosEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterInfos/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterRenderDescription/AdminCenterRenderDescriptionEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStatistics/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.vue
  admin-center/webpack/config.js
  package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): no view commit date in about section (refs #1139)
  about/lib/parametersTemplate.xml
  about/lib/updateParameterVersion.js
  about/src/vendor/Anakeen/Routes/About/Version.php
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): add about admin section (refs #1139)
  .devtool/script/versions.js
  .gitlab-ci.yml
  .idea/deployment.xml
  Makefile
  about/.eslintrc.js
  about/.gitignore
  about/LICENSE
  about/Makefile
  about/README.md
  about/build.xml
  about/info.xml
  about/lib/parametersTemplate.xml
  about/lib/updateParameterVersion.js
  about/package.json
  about/src/config/SmartDataEngine/About/routes/about.xml
  about/src/vendor/Anakeen/Routes/About/Version.php
  admin-center/info.xml
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/317-HGEA_STATISTICS.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterInfos/AdminCenterInfosEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterInfos/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterRenderDescription/AdminCenterRenderDescriptionEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStatistics/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterInfo.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.vue
  admin-center/webpack/config.js
  package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): new about section (refs #1139)
  .devtool/script/versions.js
  .gitlab-ci.yml
  about/package.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/About/About.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): about version alpha (refs #1139)
  about/package.json
Due: none

fix(admin): align icons (refs #1143)
  admin-center/src/public/Anakeen/adminCenter/assets/adminCenter.css
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/317-HGEA_STATISTICS.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterEnum/AdminCenterEnumEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterInfos/AdminCenterInfosEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterMail/AdminCenterMailEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterRenderDescription/AdminCenterRenderDescriptionEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(tools): added user interfaces CI dependencies (refs #1096)
  .gitlab-ci.yml
Due: none

fix(sde): ignore set fields in document update (refs #1141)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentUpdateData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register
