Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

build: correct package name
  .devtool/script/versions.js
  security/package.json
Due: security-build, security-integration-build, security-register, security-integration-register

build: correct security
  security/package.json
Due: security-build, security-integration-build, security-register, security-integration-register

build: bump version RC 11
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): correct autounlock for smart elements (refs #198)
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerNotFoundError.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct deps handling (refs #205)
  smart-data-engine/Makefile
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: bump rc12
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

feat(internal): add ContextParameterManager::getUservalue (refs #203)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ContextParameterManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): correct main route to no access without / (refs #204)
  development-center/src/config/SmartDataEngine/DevCenter/routes/ui.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): correct z-index for se notification (refs #207)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/window/notification.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct se controller when process se event trigger (refs #207)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): scope for #action in all smart element DOM (refs #70)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump RC13
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(internal): sync fallid in docread (refs #215)
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Database/ResyncFallid.xml
  smart-data-engine/src/vendor/Anakeen/Database/common_functions.sql
  smart-data-engine/src/vendor/Root/Class.DocRead.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): add forgeted test on dirty in tryToDestroy (refs #219)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add opt customTemplate on events-ready beforeRender (refs #67)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc 14
  .devtool/script/versions.js
Due: none

build: add version
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): add opt customTemplate on events-ready beforeRender (refs #67)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add opt customTemplate on events-ready beforeRender (refs #67)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): correct profil render to view access rights (refs #232)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(internal): delete usused ref attribut on elemeebt-access (refs #232)
  module-validation/xsd/smart/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(ui): correct getJsDeps signature iuser (refs #223)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserChangeGroup.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): correct account create selection (refs #222)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): add forgotten sccs for profil (refs #232)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile-header-rotate.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): some correction on event off (refs #245)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): correct import for null values for multiples (refs #220)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1Empty.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1Hello.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Inputs/doc1.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/PuCoreDataDocument.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/TestCaseRoutes.php
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_importdoc10.xml
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_importdoc11.xml
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_importdoc12.xml
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_importdoc9.xml
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_importfamily1.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestImportXmlDocuments.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportSingleDocument.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportXml.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): correct stub enum naming for '-' (refs #233)
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct createSetting path (refs #229)
  anakeen-cli/commands/createSetting.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/plugins/files.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct glob path for smart structure setting (refs #216)
  anakeen-cli/tasks/createSmartStructure.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(control): correct reinstall mode (refs #218)
  control/src/src/Control/Internal/ModuleJob.php
  control/src/src/Control/Internal/ModuleManager.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): add platform status (refs #171)
  control/src/src/Control/Api/InstallAppFile.php
  control/src/src/Control/Cli/CliStatus.php
  control/src/src/Control/Internal/ModuleJob.php
  control/src/src/Control/Internal/Platform.php
  smart-data-engine/src/vendor/Anakeen/Script/ShellManager.php
  smart-data-engine/src/vendor/Anakeen/Script/System.php
Due: smart-data-engine-build, smart-data-engine-integration-build, control-build, control-integration-build, smart-data-engine-register, smart-data-engine-integration-register, control-register, control-integration-register

fix(cli): fail status when platform status error detected (refs #171)
  anakeen-cli/tasks/deploy.js
  anakeen-cli/utils/control.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): delete HELPPAGE (refs #159)
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Database/HelppageDelete.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: release rc15
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): add test and add reset on default values (refs #256)
  module-validation/xsd/smart/1.0/config.xsd
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_007.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestDefaultHooks.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeDefault.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, module-validation-integration-publish, module-validation-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): correct deploy return (refs #261)
  anakeen-cli/commands/deploy.js
  anakeen-cli/tasks/deploy.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): menu the tooltips leak (refs #247)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test: add a profil on test element
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.profil.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct a typo in po (refs #260)
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct for default values in array (refs #256)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_007.struct.xml
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeDefault.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
