Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

build: add app-test-autorelease on security
  security/Makefile
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

fix(business-app): update tab id refs #418
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/businessAppModule.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(fulltext): same db schema for cache as other search data (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(workflow): restore previous transition config (refs #535)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/XmlGraph.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix grid collection parameters typing closes #536
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): refactor smart list with smart grid
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartList/TestSmartListEntry.controller.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartList/TestSmartListEntry.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartList/TestSmartListEntry.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartList/index.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
  user-interfaces/components/src/AnkSEList/AnkListEvent/AnkListEvent.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.scss
  user-interfaces/components/src/AnkSEList/AnkSEList.vue
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartList.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register

fix(ui): propage autounload smart element prop on se tab
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid style responsive content fixes #251
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.theme.scss
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): set events name to camelCase, fix grid pager events
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/Welcome/Welcome.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/FieldAccess/FieldAccess.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Profiles/Profiles.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Role/RoleDevCenter.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/ControlConfiguration/ControlConf.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/Masks/Masks.vue
  user-interfaces/components/src/AnkSEGrid/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkExportButton/AnkExportButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCellTypes/AnkGridCellIconText.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
  user-interfaces/components/src/AnkSEGrid/utils/GridError.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

fix(ui): fix grid filter config
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.controller.js
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add state filter operator and autocomplete
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.scss
  user-interfaces/src/config/SmartDataEngine/Ui/Components/grid-ui.xml
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/Components/Grid/Filters/StateLabel.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Operators.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Routes/GridFilterAutocomplete.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Root/ErrorCodeGRID.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct ckeditor (refs #499)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Revert "fix(ui): correct htmltext (refs #499)"
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Revert "fix(ui): correct ckeditor (refs #499)"
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct init of ank smart element (refs #537)
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wHistory.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump 2020.01 RC17
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(sde): correct router config decode (refs #538)
  smart-data-engine/src/vendor/Anakeen/Router/RouterManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct constraint and autocomplete modattr (refs #530)
  smart-data-engine/src/vendor/Anakeen/Database/common_functions.sql
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): correct override field display (refs #530)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): correct register config delete (refs #538)
  smart-data-engine/src/API/registerConfigDir.php
  smart-data-engine/src/vendor/Anakeen/Router/RouterManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(validation): move access after mask config (refs #539)
  module-validation/xsd/smart/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(migration-tools): move cv ref after struture config (refs #539)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Module/Download.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(validation): visibility list can be empty (refs #539)
  module-validation/xsd/ui/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(cli): correct checkFile (refs #540)
  anakeen-cli/tasks/check.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(te): correct te url (refs #541)
  smart-data-engine/src/vendor/Anakeen/Router/AuthenticatorManager.php
  smart-data-engine/src/vendor/Anakeen/Router/TokenAuthenticator.php
  transformation/src/vendor/Anakeen/TransformationEngine/Manager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, transformation-build, transformation-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, transformation-register, transformation-integration-register

fix(ui): add mask exception when field not found (refs #542)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
  user-interfaces/src/vendor/Anakeen/Ui/MaskManager.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct addJsRef with already recorded function (refs #544)
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkController/index.ts
  user-interfaces/components/src/AnkInitController/index.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/index.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump 2020.01-rc18
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): fix global controller registered function call refs #544
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix captureStackTrace on ff closes #544
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump 2020.1-RC19
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): add sort prop, footer template to list fixes #513
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.scss
  user-interfaces/components/src/AnkSEList/AnkSEList.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): smart element mask edition render refs #391
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEditRender.php
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove invisible, check array refs #391
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): mask create render refs #391
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskCreateRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): set distinct mask create and edit refs #391
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskAccess.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): mask edit render refs #391
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.css
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add promise handling for vTransition (refs #547)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): do not use Apache specific `REDIRECT_URL` (refs #545)
  smart-data-engine/src/vendor/Anakeen/Router/TokenAuthenticator.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
