Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(ui): lazy loading title refs #347
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): rename anksmartelementtabs to anktabs refs #363
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/RouterTabs/RouterTabs.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/RouterTabs/RouterTabs.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(business-app): rename anksmartelementtabs to anktabs refs #363
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): rename anksmartelementtabs to anktabs refs #363
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkSETabs/SmartElementTabs.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.scss
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.vue
  user-interfaces/components/src/AnkTabs/AnkTab/AnkTab.component.ts
  user-interfaces/components/src/AnkTabs/AnkTab/AnkTab.scss
  user-interfaces/components/src/AnkTabs/AnkTab/AnkTab.vue
  user-interfaces/components/src/AnkTabs/AnkTabs.component.ts
  user-interfaces/components/src/AnkTabs/AnkTabs.scss
  user-interfaces/components/src/AnkTabs/AnkTabs.vue
  user-interfaces/components/src/AnkTabs/SmartElementTab.ts
  user-interfaces/components/src/AnkTabs/Tab.ts
  user-interfaces/components/src/AnkTabs/TabNav/DropdownMenu/DropdownMenu.component.ts
  user-interfaces/components/src/AnkTabs/TabNav/DropdownMenu/DropdownMenu.scss
  user-interfaces/components/src/AnkTabs/TabNav/DropdownMenu/DropdownMenu.vue
  user-interfaces/components/src/AnkTabs/TabNav/TabNav.component.ts
  user-interfaces/components/src/AnkTabs/TabNav/TabNav.scss
  user-interfaces/components/src/AnkTabs/TabNav/TabNav.vue
  user-interfaces/components/src/AnkTabs/Tabs.ts
  user-interfaces/components/src/AnkTabs/TabsEvent.ts
  user-interfaces/components/src/AnkTabs/TabsTypes.ts
  user-interfaces/components/types/AnkSETab.d.ts
  user-interfaces/components/types/AnkSETabs.d.ts
  user-interfaces/components/types/AnkTab.d.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): correct shell exec error detection when restore(refs #365)
  control/src/src/Control/Cli/CliRestore.php
  control/src/src/Control/Internal/RestoreContext.php
  control/src/src/Control/Internal/System.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): add -f options for PG12 pg_restore (refs #365)
  control/src/src/Control/Internal/RestoreContext.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): add clean database request for force-clean arg:refs #364
  control/src/src/Control/Internal/RestoreContext.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): delete old usused vault_save variable (refs #364)
  smart-data-engine/src/programs/reconfigure_config.bash
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(cli): add compose local repo (refs #248)
  anakeen-cli/commands/compose/addLocalAppPath.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoXML.js
  module-validation/xsd/compose/1.0/compose.xsd
Due: anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish

fix(control): restrict access tmp bash file to current user(refs #365)
  control/src/src/Control/Internal/System.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): correct detection of output archive file (refs #366)
  control/src/src/Control/Cli/CliArchive.php
  control/src/src/Control/Internal/ArchiveContext.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): rename close function in smart element tab refs #348
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
  user-interfaces/components/src/AnkTabs/AnkTabs.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register

fix(ui): return correct value of order prop refs #345
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add watcher to order prop refs #345
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): rename name to tabid refs #354
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/RouterTabs/RouterTabs.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): smartelement correct empty content for tab (refs #340)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
  yarn-error.log
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): smart-element remove id in tab (refs #371)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): sslist, infos and default values base files refs #43
  Makefile
  admin-center/Makefile
  admin-center/src/config/SmartDataEngine/AdminCenter/adminStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.controller.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/Structure.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureDefaultValues.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureFields.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureInfo.php
  admin-center/webpack/structureManager.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): add smartform events refs #43 + css fix
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): new default values data (refs #43)
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureDefaultValues.php
  smart-data-engine/src/vendor/Anakeen/Core/AccountManager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

feat(admin): (refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.controller.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/Structure.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): (refs #43)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): fix values display + label naming architecture(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): (refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): parameters management and all parts updatable (refs#43)
  admin-center/info.xml
  admin-center/src/config/SmartDataEngine/AdminCenter/adminStructure.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): manage array values display(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): rebase and starting array value management (refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
  admin-center/webpack/config.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): array default value management (refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): manage array value deletion(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): parameter's smartform setup and some lint(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): parameter's management(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): parameter's advanced value(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

feat(admin): default value advanced value management(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureDefaultValues.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): optimizations about first displayed value onto sf(refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): better array management and last fixes (refs #43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureDefaultValues.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(cli): extractPo - verbose mode to display written files (refs #374)
  anakeen-cli/tasks/po.js
  anakeen-cli/utils/POExtractor.js
  anakeen-cli/utils/POExtractorMustache.js
  anakeen-cli/utils/POExtractorVuejs.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): useless comment deletion & some fixes(refs#43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/SmartStructureManagerInformations.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): anksmartelementtabs to anktabs conversion (refs#43)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): menu border refs #367
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): rename attribute to Smart Field in ATTR error code (refs #372)
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register
