Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

feat(ui): add new pane splitter
  internal-components/package.json
  internal-components/src/PaneSplitter/PaneSplitter.component.ts
  internal-components/src/PaneSplitter/PaneSplitter.scss
  internal-components/src/PaneSplitter/PaneSplitter.vue
  internal-components/webpack/index.js
  yarn.lock
Due: internal-components-buildJS

feat(ui): continue Smart Form (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample1.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/Tests/tsconfig.json
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document__header.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element controller event management
  user-interfaces/kendo-shims.d.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): minor fixes in workflow manager ref #45
  admin-center/kendo-shims.d.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.controller.ts
  admin-center/tsconfig.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): correct icon import for hub instance
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): add icon for ui test hub instance
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: test ci for hub build
  .gitlab-ci.yml
  hub-station/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): fixed seGrid component (refs #99)
  user-interfaces/components/src/Grid/Grid.controller.ts
  user-interfaces/components/src/Grid/utils/GridActions.js
  user-interfaces/components/src/Grid/utils/GridKendoUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element vue controller event propagation
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue Smart Form (refs #28)
  .gitlab-ci.yml
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample2.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample3.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue Smart Form (refs #28)
  internal-components/src/PaneSplitter/PaneSplitter.component.ts
  user-interfaces/.eslintignore
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample1.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample4.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, internal-components-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue Smart Form (refs #28)
  .idea/jsonSchemas.xml
  internal-components/src/PaneSplitter/PaneSplitter.scss
  user-interfaces/Tests/src/public/apps/uitest/uiTestHub.css
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample1.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.scss
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
Due: user-interfaces-buildJS, internal-components-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): feat refresh button option in grid pageable refs #24
  user-interfaces/components/src/Grid/Grid.controller.ts
  user-interfaces/components/src/Grid/utils/GridKendoUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix login translation refs #34
  user-interfaces/components/src/Authent/Authent.component.ts
  user-interfaces/components/src/Authent/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/Authent/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/setup.js
  user-interfaces/pojs.make
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.html.mustache
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.js
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.php
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix workflow refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterWorkflow/AdminCenterWorkflowManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.vue
  admin-center/src/vendor/Anakeen/AdminCenter/setup.js
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/WorkflowData.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(business-app): avoid warning when icon not found
  business-app/src/vendor/Anakeen/BusinessApp/SmartStructures/HubBusinessApp/HubBusinessAppBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): rename smart field controller methods and fix event management
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/components/src/SmartElement/SmartElementEvents.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/EventUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix persistent event and undefined values on output promise
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element vue component event binding and init process
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/components/src/Tabs/SETab/SETab.component.ts
  user-interfaces/components/src/Tabs/SETab/SETab.vue
  user-interfaces/components/src/Tabs/Tabs.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element controller smart field event arguments
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): autocomplete Smart Form (refs #28)
  user-interfaces/components/src/SmartElement/SmartElement.component.ts
  user-interfaces/components/src/SmartForm/ISmartForm.ts
  user-interfaces/components/src/SmartForm/SmartForm.component.ts
  user-interfaces/components/src/translation.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/document.scss
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Autocomplete.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct translation in authent component
  user-interfaces/components/src/Authent/Authent.component.ts
  user-interfaces/components/src/setup.js
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): test Smart Form (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestExamplesSmartForm.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): array in Smart Form (refs #28)
  internal-components/src/PaneSplitter/PaneSplitter.component.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample3.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Autocomplete.php
Due: user-interfaces-buildJS, internal-components-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): add router support to hub section
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevHubInstanciation/DevHubInstanciation.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): add error message for task
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/TaskBehavior.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

refactor(ui): refactor scheduled task render js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/task.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/task.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskCrontab.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskExecute.js
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix insert description only once for given smart field
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(hub): refactor hub render js and scope css
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfiguration.css
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfiguration.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfigurationViewRender.php
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/Render/HubInstanciation.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(business-app): manage revision on action click
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): change gotolatest action to document.load action
  user-interfaces/src/vendor/Anakeen/Ui/DefaultView.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix controller register function and context to callback
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix test ui render js
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/Renders/RenderConfigView.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.js
  user-interfaces/webpackConfig/test.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add revision property in smart element tab
  user-interfaces/components/src/Tabs/SETab/SETab.component.ts
  user-interfaces/components/src/Tabs/SETab/SETab.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): scope array tools css display rule
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/array.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct setup in authent
  user-interfaces/components/src/setup.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): update smart form json schema (refs #28)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): migration Mask (refs #93)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskViewRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): migration mailTemplate (refs #92)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/DIR_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/MAILTEMPLATE_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/PDOC_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/PUBLIMAIL_en.po
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
