Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(admin): correct tree css for firefox (refs #396)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): fix duplicated label closes #567
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): add progress on waiting request refs #572
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): actions menu width refs #592
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct reset default values (refs #470)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct unique options (refs #568)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix conditions array behavior in dsearch/report refs #598
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix activity display in dsearch/report refs #598
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix docid/date functions mode in dsearch/report conditions
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix condition operator selection refs #598
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableOperator.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix dsearch/report conditions requests refs #598
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFunctions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchHTML5_edit.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportHTML5_edit.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): user parameters pager refs #575
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/UserParameters/UserParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/PreloadUsers.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): beautify refs #575
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/PreloadUsers.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): correct MODATTR override (refs #568)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartAttr.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
  smart-data-engine/src/vendor/Root/CheckAttr.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, development-center-build, development-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, development-center-register, development-center-integration-register

fix: correct creation consultation url (refs #554)
  user-interfaces/src/config/SmartDataEngine/Ui/smart-element-ui.xml
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): correct field structure display (refs #568)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): auto generated doctitle are hidden by default (refs #607)
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix: correct rapport leak (refs #427)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchHTML5_edit.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportHTML5_edit.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): correct field structure notices (refs #568)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix: correct report (refs #598)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableBaseComponent.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFunctions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableOperator.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDefault.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsMoney.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTime.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix: devel hub admin event
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

build: bump version 2020.01-RC25
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): props watcher refactor refs #615,#574
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove commented code refs #615
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add return type to watchers refs #615
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): correct misdetection of "Accept:" headers (refs #614)
  smart-data-engine/src/vendor/Anakeen/Core/ContextManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix: correct shim, correct admin center, correct mixin
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  admin-center/vue-type-shims.d.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nMixin.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

feat(admin): wip to charles traduction (refs #569)
  admin-center/build.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: bump version 2020.01-RC26
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(workflow): correct call to m0 (refs #618)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/WorkflowStateCollection.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): begin rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): continue rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): continue rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

fix(admin): correct custom button url with #action (refs #600)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): continue rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): correct get smart structure param for empty array (refs #600)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): continue rewrite admin structure parameters (refs #600)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): can delete multiple parameter value (refs #600)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
