Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(admin): use simple pane splitter instead of splitter (token)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): use simple pane splitter instead of splitter (vault)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultInfo/VaultInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultInfo/VaultInfo.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultManager.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultManager.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultManager.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): use simple pane splitter instead of splitter
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): use simple pane splitter instead of splitter (mail)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): grey more soft for pane splitter same as old splitter
  internal-components/src/PaneSplitter/PaneSplitter.scss
Due: internal-components-buildJS

fix(hub): add silent mode on router navigate
  hub-station/components/src/HubElement/Mixins/HubElementMixin.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(dev-center): correct double fetch on select smart element
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartElements/DevSmartElements.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): i18n + css+ bug fix (refs #84)
  user-interfaces/build.xml
  user-interfaces/src/locale/en/LC_MESSAGES/src/mustache-user-interfaces_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/en/vuejs/src/dsearch-components.json
  user-interfaces/src/locale/fr/LC_MESSAGES/src/mustache-user-interfaces_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
  user-interfaces/src/locale/fr/vuejs/src/dsearch-components.json
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDefault.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTime.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchConstraints.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUICreationEvent.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): overflow smart grid (refs #123)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fixed expand button issue on se grid (refs #123)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGrid/Components/GridPager/GridPager.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): use simple pane splitter instead of splitter (workflow)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(business-app): fix tab label flickering
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): fix dedupe js injection in se controller
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix close event in save operation
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): fix dedupe js injection for hub components
  hub-station/components/src/utils/HubEntriesUtil.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(dev-center): correct grid display for se grid
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SearchEngine/devSearchEnginePanel.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): correct grid collpase on se grid
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete unused po files (refs #34)
  user-interfaces/components/src/AnkAuthent/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkAuthent/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkIdentity/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkIdentity/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkLoading/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkLoading/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkLogout/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkLogout/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSEGrid/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSEGrid/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSEList/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSEList/locale/fr/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSmartElement/locale/en/LC_MESSAGES/app.po
  user-interfaces/components/src/AnkSmartElement/locale/fr/LC_MESSAGES/app.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): added field reactivity for docid, enum, wid (refs #84)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid configure columns methods refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid filter methods refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): reload grid method refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid showcolumn methods refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid hidecolumn methods refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid sorting method refs #23
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): namespace update in templates (refs #21)
  anakeen-cli/tasks/createSmartStructure/Render/php/Access.php.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(ui): added export button to report (refs #19)
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.controller.ts
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/ReportViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid pager translations
  user-interfaces/components/src/AnkSEGrid/Components/GridPager/GridPager.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix vue object reference leak
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(test-tools): create anakeen platform test tools module
  .commitlintrc.js
  .eslintignore
  Makefile
  package.json
  test-tools/.eslintignore
  test-tools/.eslintrc.js
  test-tools/.gitignore
  test-tools/LICENSE
  test-tools/Makefile
  test-tools/README.md
  test-tools/build.xml
  test-tools/components/.gitignore
  test-tools/components/.npmignore
  test-tools/components/README.md
  test-tools/components/src/Utils/Accounts.ts
  test-tools/components/src/Utils/SmartElements.ts
  test-tools/components/src/index.ts
  test-tools/components/tsconfig.json
  test-tools/components/webpack/base.js
  test-tools/components/webpack/common.js
  test-tools/components/webpack/index.js
  test-tools/components/webpack/prod.js
  test-tools/info.xml
  test-tools/package.json
  test-tools/src/config/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/TestRoute.php
  yarn.lock
Due: none

fix(ui): center display grid results when no results
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix polyfill build and hub legacy js
  hub-station/src/vendor/Anakeen/Hub/Routes/Hub.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/index.ts
  user-interfaces/webpackConfig/polyfill.js
  webpack-conf/parts/loaders.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

feat(ui): seGrid export method (refs #23)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/utils/GridExportUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct transpose array with custom templates
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/array.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: clean delete composer vendor
  smart-data-engine/Makefile
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): refactor export button (refs #23)
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.scss
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.vue
  user-interfaces/components/src/AnkSEGrid/utils/GridExportUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete dead comments
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskCrontab.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskExecute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): correct change position callback in instance
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfiguration.css
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfiguration.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): delete dead code
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
