Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

feat(te): do not use syslog/logger in Docker containers (closes #623)
  transformation-server/bin/ted
Due: te-build, te-integration-build, te-register, te-integration-register

feat(tools): add support for NGINX+PHP-HPM+TE containers
  .devtool/Makefile.params.mk
  .devtool/Makefile.rules.mk
  .devtool/anakeen-control
  .devtool/docker-compose
  .devtool/docker/Addons/README.md
  .devtool/docker/Addons/nginx/Dockerfile
  .devtool/docker/Addons/nginx/Makefile.params.mk
  .devtool/docker/Addons/nginx/docker-compose.yml
  .devtool/docker/Addons/php-fpm/Dockerfile
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
  .devtool/docker/Addons/php-fpm/docker-compose.yml
  .devtool/docker/Addons/transformation-server/Dockerfile
  .devtool/docker/Addons/transformation-server/Makefile.params.mk
  .devtool/docker/Addons/transformation-server/docker-compose.yml
  .devtool/docker/Images/apache-mod_php/Dockerfile
  .devtool/docker/Images/apache-mod_php/Files/etc/apache2/sites-available/000-anakeen.conf
  .devtool/docker/docker-compose.yml
  .gitignore
  .idea/webServers.xml
  Makefile
  Makefile.local.mk.sample.nginx+php-fpm+te
Due: none

feat(te): add `TE_SERVER_DEBUG_LOG` config variable (closes #623)
  transformation-server/bin/ted
  transformation-server/etc/te.conf.sample
Due: te-build, te-integration-build, te-register, te-integration-register

feat(tools): add "Utilisation avancée" in `README.md`
  README.md
Due: none

feat(tools): correct commented-out bash line in Makefile
  Makefile
Due: none

feat(tools): sort help messages
  .devtool/Makefile.rules.mk
Due: none

feat(tools): add `docker-prompt-*` and `logs-*` for docker Addons
  .devtool/docker/Addons/nginx/Makefile.params.mk
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
  .devtool/docker/Addons/transformation-server/Makefile.params.mk
Due: none

feat(tools): add support for passing `TE_SERVER_DEBUG` env var
  .devtool/docker/Addons/transformation-server/docker-compose.yml
Due: none

feat(tools): rename remaining variables `*_PHP_*` to `*_WEBROOT_*`
  .devtool/Makefile.rules.mk
Due: none

feat(tools): correct erroneous COLOR_INFO variable name
  .devtool/Makefile.rules.mk
Due: none

feat(tools): reintroduce use of KEEP_VOLUMES variable
  .devtool/Makefile.params.mk
  Makefile
Due: none

feat(tools): add `Addons/ank-dbgp-proxy`
  .devtool/docker/Addons/dbgp-proxy/Dockerfile
  .devtool/docker/Addons/dbgp-proxy/Makefile.params.mk
  .devtool/docker/Addons/dbgp-proxy/docker-compose.yml
Due: none

feat(tools): add support for `dbgp-proxy` service in `php-fpm`
  .devtool/docker/Addons/php-fpm/docker-compose.yml
  .devtool/docker/Volumes/php/usr/local/etc/php/conf.d/20-xdebug.ini
Due: none

feat(tools): make the `mail` container an optional container
  .devtool/Makefile.params.mk
  .devtool/docker/Addons/mailhog/Makefile.params.mk
  .devtool/docker/Addons/mailhog/docker-compose.yml
  .devtool/docker/docker-compose.yml
  Makefile
Due: none

feat(tools): use custom postgres's `initdb.d` script to initialize TE db
  .devtool/docker/Addons/transformation-server/docker-compose.yml
Due: none

feat(tools): add RELEASE number to image's tag
  .devtool/docker/Addons/dbgp-proxy/Dockerfile
  .devtool/docker/Addons/nginx/Makefile.params.mk
  .devtool/docker/Addons/nginx/docker-compose.yml
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
  .devtool/docker/Addons/php-fpm/docker-compose.yml
  .devtool/docker/Addons/transformation-server/docker-compose.yml
Due: none

feat(tools): add missing containers init/config files
  .devtool/docker/Addons/transformation-server/docker-compose.yml
  .devtool/docker/Volumes/postgres/docker-entrypoint-initdb.d/20-initdb-te.sh
  .devtool/docker/Volumes/transformation-server/opt/transformation-server/etc/te.conf
Due: none

feat(tools): directly run transformation-server from source code
  .devtool/docker/Addons/transformation-server/docker-compose.yml
Due: none

feat(tools): update `Makefile.local.mk.sample.nginx+php-fpm+te`
  Makefile.local.mk.sample.nginx+php-fpm+te
Due: none

feat(tools): add support for certificates
  .devtool/Makefile.params.mk
  .devtool/Makefile.rules.mk
  .devtool/docker/Addons/nginx/docker-compose.yml
  .devtool/docker/Addons/transformation-server/docker-compose.yml
  .devtool/docker/docker-compose.yml
Due: none

feat(tools): add keycloack container
  .devtool/docker/Addons/keycloak/Makefile.params.mk
  .devtool/docker/Addons/keycloak/README.md
  .devtool/docker/Addons/keycloak/docker-compose.yml
  .devtool/docker/Addons/keycloak/docker-entrypoint-initdb.d/20-initdb-keycloak.sh
  .devtool/docker/Addons/keycloak/utils/keycloak-export-import-config.sh
Due: none

feat(tools): use docker images tagged with release number
  .devtool/Makefile.params.mk
  .devtool/docker/docker-compose.yml
  Makefile
Due: none

feat(tools): update `20-xdebug.ini` for Xdebug 3.0
  .devtool/docker/Volumes/php/usr/local/etc/php/conf.d/20-xdebug.ini
Due: none

feat(tools): change `php-fpm` to use global PROJECT_PHP_VERSION
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
Due: none

feat(tools): add distinct PROJECT_TRANSFORMATION_SERVER_PHP_VERSION
  .devtool/Makefile.params.mk
  .devtool/docker/Addons/transformation-server/Dockerfile
  .devtool/docker/Addons/transformation-server/Makefile.params.mk
  .devtool/docker/Addons/transformation-server/docker-compose.yml
Due: none

feat(tools): remove remaining hard-coded references to mailhog features
  .devtool/Makefile.params.mk
Due: none

feat(tools): add new required variables for postgres:13
  .devtool/docker/docker-compose.yml
Due: none

feat(tools): refactored PROJECT_PHP_VERSION variable
  .devtool/Makefile.params.mk
  .devtool/docker/Addons/dbgp-proxy/Makefile.params.mk
  .devtool/docker/Addons/mailhog/Makefile.params.mk
  .devtool/docker/Addons/nginx/Makefile.params.mk
  .devtool/docker/Addons/php-fpm/Dockerfile
  .devtool/docker/Addons/php-fpm/Makefile.params.mk
  .devtool/docker/Addons/php-fpm/docker-compose.yml
  .devtool/docker/Addons/transformation-server/Makefile.params.mk
  .devtool/docker/Images/apache-mod_php/Dockerfile
  .devtool/docker/docker-compose.yml
  Makefile
Due: none

feat(tools): document use of Xdebug + dbgp-proxy
  .devtool/docker/Addons/dbgp-proxy/README.md
Due: none

fix(cli): no more 'undefined' keys in po (refs #986)
  anakeen-cli/utils/POExtractor.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): associated po update (refs #986)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/MAIL_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/SENTMESSAGE_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/MAIL_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/SENTMESSAGE_fr.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/RENDERDESCRIPTION_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/cvdoc_CV_IUSER_ACCOUNT_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/cvdoc_CV_MAIL_TEMPLATE_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/cvdoc_cvfld_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/RENDERDESCRIPTION_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/cvdoc_CV_IUSER_ACCOUNT_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/cvdoc_CV_MAIL_TEMPLATE_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/cvdoc_cvfld_fr.po
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(control): better error msg to check postgresql version (refs #1077)
  control/src/include/lib/Lib.Wcontrol.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): order for doctitle auto always after origin (refs #1125)
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureFields.php
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeOrder.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldAbsoluteOrder.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

feat(sde): support version postgresql 11 et 13 (refs #1111)
  smart-data-engine/info.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test: fix for xml compatibility (refs #1126)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Expects/doc1Hello.json
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/Inputs/doc1.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/CoreDocument/PuCoreDataDocument.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: default is PHP7.4 and PG12 (refs #1111)
  Makefile
Due: none

feat(tools): allow running `make env-start` without a TTY (refs #1119)
  .devtool/Makefile.params.mk
  .devtool/Makefile.rules.mk
Due: none

fix: delete fixme comment (refs #1090)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(migration-tools): dynacase id to detect foreign columns (refs #1132)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(control): optionnal args must not be before needed arg (refs #1110)
  control/src/include/class/Class.Process.php
Due: control-build, control-integration-build, control-register, control-integration-register
