Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

feat(hub): rollup hub station (refs #168)
  hub-station/.eslintrc.js
  hub-station/components/rollup/rollup.config.js
  hub-station/components/src/shims-ank-components.d.ts
  hub-station/components/src/shims-vue-router.d.ts
  hub-station/components/webpack/base.js
  hub-station/components/webpack/common.js
  hub-station/components/webpack/index.js
  hub-station/components/webpack/prod.js
  hub-station/kendo-shims.d.ts
  hub-station/tsconfig.json
  hub-station/vue-shims.d.ts
  hub-station/vue-type-shims.d.ts
  kendo-shims.d.ts
  tslint.json
  user-interfaces/.eslintignore
  user-interfaces/.eslintrc.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchCatalog.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

build: add missing ts shim
  user-interfaces/kendo-shims.d.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: suppress tslint in favor of eslint typescript, add vue linter
  .eslintignore
  .eslintrc.js
  .idea/inspectionProfiles/Project_Default.xml
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/index.ts
  hub-station/components/src/HubDock/HubDock.vue
  hub-station/components/src/HubElement/Mixins/HubElementMixin.ts
  hub-station/components/src/HubStation/HubStation.vue
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  hub-station/components/src/index.ts
  hub-station/package.json
  hub-station/src/vendor/Anakeen/Hub/IHM/JS/hub.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfiguration/Render/HubConfiguration.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/Render/HubInstanciation.js
  hub-station/webpack/common.js
  hub-station/webpack/render.js
  internal-components/package.json
  package.json
  user-interfaces/components/mixins/AnkVueComponentMixin/ReadyMixin.ts
  user-interfaces/components/src/AnkSEGrid/utils/GridDataUtils.js
  user-interfaces/components/src/AnkSEGrid/utils/GridFilter.js
  user-interfaces/components/src/AnkSEGrid/utils/GridKendoUtils.js
  user-interfaces/package.json
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wHistory.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wRevisionDiff.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchAttributes.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/changeGroupView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskCrontab.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskExecute.js
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register

fix(sde): correct phpDoc (refs #271)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
  smart-data-engine/src/vendor/Anakeen/SmartElementManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(hub): correct hub element for es6 module (refs #168)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterAccounts/AdminCenterAccountsEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterEnum/AdminCenterEnumEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterMail/AdminCenterMailEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterTrash/AdminCenterTrashManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterVaultManager/AdminCenterVaultManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterWorkflow/AdminCenterWorkflowManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AuthenticationTokensHub/AuthenticationTokensHubComponent.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevBreadcrumb/DevBreadcrumb.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevEnumerates/DevEnumerates.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevHubInstanciation/DevHubInstanciation.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevLocalization/DevLocalization.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevRefreshData/DevRefreshData.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevRoutes/DevRoutes.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/devSearchEngine.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSecurity/DevSecurity.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartElements/DevSmartElements.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartStructures/DevSmartStructures.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevUserInterface/DevUserInterface.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevVendorSelector/DevVendorSelector.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevWorkflow/DevWorkflow.vue
  hub-station/components/src/index.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

chore: bump deps
  admin-center/package.json
  business-app/package.json
  hub-station/package.json
  internal-components/package.json
  test-tools/package.json
  theme-variables/package.json
  user-interfaces/package.json
  webpack-conf/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, admin-center-register, admin-center-integration-register

chore: bump eslint and prettier
  .eslintrc.js
  .prettierrc
Due: none

build: correct CI
  .gitlab-ci.yml
Due: none

fix(ui): correct enum scss (refs #273)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/enum.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test(ui): correct smart form mount (refs #268)
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove ckeditor4 from minification (refs #158)
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartForm.js
  webpack-conf/index.js
  webpack-conf/parts/index.js
  webpack-conf/parts/loaders.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): correct hub finding of custom element element (refs #274)
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
  hub-station/components/src/HubStation/HubStationsTypes.ts
  hub-station/package.json
  package.json
  webpack-conf/parts/loaders.js
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(cli): create workflow dir if not exist refs #16
  anakeen-cli/tasks/createWorkflow.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: build rc 17 with rollup !
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

build: add missing makefile instruction
  hub-station/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

build: add missing makefile element for hub
  hub-station/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(cli): rename opn in open (refs #275)
  anakeen-cli/tasks/openElement.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: rc18
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

feat(ui): autocomplete in smart form (refs #268)
  smart-data-engine/src/vendor/Anakeen/SmartAutocomplete.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Autocomplete.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): correct css for message in autocomplete (refs #268)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/docid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): correct detect override (refs #276)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

feat(ui): smart form autocomplete (refs #268)
  smart-data-engine/src/vendor/Anakeen/SmartAutocomplete.php
  smart-data-engine/src/vendor/Anakeen/SmartAutocompleteRequest.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct phpDoc (refs #271)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): correct request for filtering group (refs #278)
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/Groups.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): create settings arg description refs #230
  anakeen-cli/commands/createSetting.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(control): return getstatusinfo or message refs #270
  control/src/src/Control/Internal/Platform.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(cli): initialize po extraction instructions refs #196
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): correct access control on constraint (refs #284)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct access control on compute dynamic profile (refs #284)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(control): check if directory is writable refs #253
  control/src/src/Control/Cli/CliInit.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): don't ask for authtype when install refs #259
  smart-data-engine/info.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): ergonomy refs #184
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/DeleteInfo.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): change deletion message refs #184
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): fix multiple function registration in one render js file
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): enum request throbber on error behavior refs #183
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): correct compose for http_proxy (refs #298)
  anakeen-cli/package.json
  anakeen-cli/utils/AppRegistry.js
  anakeen-cli/utils/HTTPAgent.js
  yarn.lock
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: rc 19
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(admin): fetch smart element error refs #294
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): correct a log (refs #298)
  anakeen-cli/utils/HTTPAgent.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
