Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(ui): grid header ellipsis refs #977
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): statistics section icon refs #250
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStatistics/AdminCenterStatisticsEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): change tab name for statistics refs #250
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-data): associated structure for each cvdoc refs #958
  dev-data/src/vendor/Anakeen/SmartStructures/Devclient/Devclient.render.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devnote/Devnote.render.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devperson/Devperson.render.xml
Due: none

fix(dev-data): associated structure to bill cv doc refs #958
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/110-Devbill.render.xml
Due: none

fix(dev-center): add cvdoc with no associated structure refs #958
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ControlGridController.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): update infos tab on structure change refs #992
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/Ui.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): delete smartcriteria header when no title refs #984
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): routing out of hub-station on popstate refs #797
  hub-station/components/src/HubStation/HubStation.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): po translations refs #969
  user-interfaces/src/locale/en/LC_MESSAGES/src/mustache-user-interfaces_en.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): po translations refs #969
  smart-data-engine/Tests/src/locale/en/LC_MESSAGES/src/DCPTEST_en.po
  smart-data-engine/Tests/src/locale/en/LC_MESSAGES/src/enumTestEnumFam.po
  smart-data-engine/Tests/src/locale/fr/LC_MESSAGES/src/DCPTEST_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): smart criteria default multiple values (refs #1000)
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): add struct, wfl and enum translations refs #969
  development-center/src/vendor/Anakeen/Routes/Devel/I18n.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): open smart element on route enter refs #895
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): correct number of json translations refs #969
  development-center/src/vendor/Anakeen/Routes/Devel/I18n.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): set correct size for structures section refs #773
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Infos/Infos.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/SmartStructures.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(te): typo error refs #901
  transformation/src/vendor/Anakeen/TransformationEngine/Manager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

fix(ui): display notification error on uploaderror refs #999
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): setvalue on docid and account type refs #997
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): puextends test error enhancement
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends01_error.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends01_good.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuExtends.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): if extended=true, only name attribute is accepted (refs #800)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends02_error.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends02_good.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuExtends.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Cvdoc/cvdoc.struct.xml
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): getvalue from array smart field id refs #1001
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): getvalue attribute interface for sf array refs #1001
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/controllerObjects/attributeInterface.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(tools): correct CI job rules
  .gitlab-ci.yml
Due: none

feat(ui): setvalue for smartfield array refs #1012
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/controllerObjects/attributeInterface.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): no computed email for system group (refs #994)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Accounts/PuMailGroups.php
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/Autocomplete/AccountList.php
  smart-data-engine/src/vendor/Anakeen/Database/CleanMailGroup.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IgroupLib.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): refresh grid when delete account (refs #1019)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): correct notice when filter group (refs #1019)
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/Users.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(migration-tools): add doctimer migration (refs #1023)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(ui): set upload file error message to xhr response refs #998
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/file/wFile.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct autounlock for chrome 86 (refs #1009)
  user-interfaces/src/public/SharedWorker/globalControllerWorker.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: new release 2020.2
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  migration-tools/info.xml
  migration-tools/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register

fix(sde): autocomplete value is now trimmed (refs #625)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): hashing etag with md4 (refs #993)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(hub): remove hub css&js occurrence limit (refs #1005)
  module-validation/xsd/hub/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

build: correct deps of fulltext
  .devtool/script/versions.js
  fulltext-search/info.xml
  fulltext-search/package.json
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(ui): set default sort after user sort refs #1026
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): analyze json po syntax on deploy refs #617
  anakeen-cli/tasks/check.js
  anakeen-cli/utils/globAnalyze.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): display hub access button if user has privilege refs #967
  smart-data-engine/src/vendor/Anakeen/App/Core/WelcomePage.css
  smart-data-engine/src/vendor/Anakeen/App/Core/WelcomePage.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(business-app): refresh list on se close refs #1031
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register
