Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(ui): remove extra colon punctuation refs #1033
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/label.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): more contextualized error message (refs #985)
  control/src/include/class/Class.Context.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): unexisting enum make import failing (refs #902)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/EnumExists/EnumExistsError.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/EnumExists/EnumExistsGood.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/EnumExists/tst_enum_exists_error.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/EnumExists/tst_enum_exists_good.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_002.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuEnumExists.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_badmodattr1.ods
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/testRelativeOrder.xml
  smart-data-engine/src/vendor/Anakeen/Core/EnumManager.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Sentmessage/sentmessage.struct.xml
  smart-data-engine/src/vendor/Root/CheckAttr.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/TST_DDUI_EMPLOYEE__STRUCT.csv
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): set error message when offline refs #966
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(validation): ajout d'un warning pour smart:field action #refs#1021
  README.md
  module-validation/xsd/smart/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

feat(te): add support for connecting to soffice over pipe (refs #1037)
  transformation-server/lib/engines/OOoServer.jar
  transformation-server/src/OOoServer/build.xml
  transformation-server/src/OOoServer/com/anakeen/oooserver/OOoServer.java
  transformation-server/src/OOoServer/com/anakeen/oooserver/OOoServerCli.java
Due: te-build, te-integration-build, te-register, te-integration-register

fix(ui): selectsmartelements method refs #894
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): doesnt contains operator now works on account[][] (refs #847)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(business-app): can now create business app without SEList(refs #502)
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(business-app): all collections are now exported (refs #1035)
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportInstance.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): fix the contraint of the rooter (closes#1045)
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationVue/100-HubConfigurationVueStructure.xml
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationVue/HubConfigurationVueBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

feat(cli): add comments inside generated files (refs #1044)
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/FieldAccess/xml/FieldAccess.xml
  anakeen-cli/tasks/createSetting/MailTemplate/xml/MailTemplate.xml
  anakeen-cli/tasks/createSetting/Masks/xml/Mask.xml
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Profile/xml/Profile.xml
  anakeen-cli/tasks/createSetting/Timer/xml/Timer.xml
  anakeen-cli/tasks/createSetting/ViewControl/xml/ViewControl.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): add comments inside Smart structure files (refs #1044)
  anakeen-cli/tasks/createSmartStructure/Parameters/xml/Parameters.xml
  anakeen-cli/tasks/createSmartStructure/Settings/xml/Settings.xml
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): add comments inside workflow generated files (refs #1044)
  anakeen-cli/tasks/createWorkflow/Access/xml/Access.xml.mustache
  anakeen-cli/tasks/createWorkflow/Permissions/xml/Permissions.xml.mustache
  anakeen-cli/tasks/createWorkflow/Settings/xml/Settings.xml.mustache
  anakeen-cli/tasks/createWorkflow/Structure/xml/Graph.xml.mustache
  anakeen-cli/tasks/createWorkflow/Structure/xml/Structure.xml.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(hub): correction regex (refs #1045)
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationVue/HubConfigurationVueBehavior.php
  module-validation/xsd/smart/1.0/config.xsd
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, module-validation-integration-publish, module-validation-publish, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

feat(hub): delete comments (refs #1034)
  module-validation/xsd/smart/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(sde): sentmessage structure emsg_editcontrol removal (refs #902)
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Sentmessage/SentMessageHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Sentmessage/sentmessage.struct.xml
  smart-data-engine/stubs/SENTMESSAGE__STUB.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

docs(sde): completing enum manager public methods comments (refs #902)
  smart-data-engine/src/vendor/Anakeen/Core/EnumManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix: bump release version for test modules (refs #1055)
  dev-data/info.xml
  smart-data-engine/Tests/info.xml
  user-interfaces/Tests/info.xml
  workflow/Tests/info.xml
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register

test: increase memory limit for test to 200Mb (refs #1055)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/phpunit.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no use computed permission (refs #1048)
  development-center/src/vendor/Anakeen/Routes/Devel/Security/RoleRouteAccesses.php
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
  smart-data-engine/src/vendor/Anakeen/Router/RouterAccess.php
  smart-data-engine/src/vendor/Anakeen/WHAT/getprivilege.sql
  smart-data-engine/src/vendor/Root/Class.Group.php
  smart-data-engine/src/vendor/Root/Class.Permission.php
  smart-data-engine/src/vendor/Root/ErrorCodeACCS.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, development-center-build, development-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, development-center-register, development-center-integration-register

fix(cli): correction some comments and xml (refs #1044)
  anakeen-cli/tasks/createSetting/FieldAccess/xml/FieldAccess.xml
  anakeen-cli/tasks/createSetting/MailTemplate/xml/MailTemplate.xml
  anakeen-cli/tasks/createSetting/Masks/xml/Mask.xml
  anakeen-cli/tasks/createSetting/Profile/xml/Profile.xml
  anakeen-cli/tasks/createSetting/Timer/xml/Timer.xml
  anakeen-cli/tasks/createSmartStructure/Parameters/xml/Parameters.xml
  anakeen-cli/tasks/createSmartStructure/Settings/xml/Settings.xml
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
  anakeen-cli/tasks/createWorkflow/Access/xml/Access.xml.mustache
  anakeen-cli/tasks/createWorkflow/Permissions/index.js
  anakeen-cli/tasks/createWorkflow/Permissions/xml/Permissions.xml.mustache
  anakeen-cli/tasks/createWorkflow/Settings/index.js
  anakeen-cli/tasks/createWorkflow/Settings/xml/Settings.xml.mustache
  anakeen-cli/tasks/createWorkflow/Structure/xml/Graph.xml.mustache
  anakeen-cli/tasks/createWorkflow/Structure/xml/Structure.xml.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): delete last delete computed permission (refs #1048)
  smart-data-engine/src/vendor/Root/Class.Group.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(control): reports errors to control (refs #1032)
  control/src/include/class/Class.Context.php
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): use dom element as mounting points refs #1061
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): import jquery for dom mounting points refs #1061
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): set total users on period change refs #1070
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix: correction get option setvalue (refs #1069)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix: some correction (refs #1044)
  anakeen-cli/tasks/createSmartStructure/Parameters/xml/Parameters.xml
  anakeen-cli/tasks/createSmartStructure/Settings/xml/Settings.xml
  anakeen-cli/tasks/createSmartStructure/Structure/xml/Structure.xml
  anakeen-cli/tasks/createWorkflow/Permissions/xml/Permissions.xml.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): spacial char do a error on mustache template (refs #990)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
  user-interfaces/src/vendor/Anakeen/Ui/MustacheLoaderSection.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add test to add template mustache(refs #990)
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/Pu/SuiteUi.php
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestDocumentView/Data/tst_struct_to_document_view.xml
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestDocumentView/SmartStructureTest/Render/TstDocumentViewEditRender.php
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestDocumentView/SmartStructureTest/Render/tstDocumentViewRenderFile.mustache
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestDocumentView/SmartStructureTest/TstStructDocumentViewBehavior.php
  user-interfaces/Tests/src/vendor/Anakeen/Pu/TestDocumentView/TestTemplateMustache.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(tools): update makefile, add build dir
  .devtool/Makefile.rules.mk
Due: none

fix(i18n): correct offset on i18n render(refs #990)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/I18nTemplateContext.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): set searchid without global variable refs #1066
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): set dom mounting point refs #1061
  user-interfaces/src/config/SmartDataEngine/Ui/smart-dsearch-ui.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/SearchViewGridRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/searchViewGridRender.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportHTML5_view.mustache
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(workflow): fix record volatile timers (refs #1083)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(control): disableControl when duplicate mail (refs #1081)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): change right for mail-template (refs #1072)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mail.struct.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat: change value and displayvalue on smartcriteria (refs #995)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleCustomTitle.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartCriteriaUtils.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/IConfigurationCriteria.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/IFilter.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/ISmartFilter.ts
  user-interfaces/src/vendor/Anakeen/Components/SmartCriteria/Routes/SmartCriteriaConfigurationLoader.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
