Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(migration-tools): get vendor parameters in workflow (refs #860)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(cli): deploy on non initialized context error refs #786
  anakeen-cli/tasks/deploy.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(hub): add assets on hub instance (refs #859)
  admin-center/Makefile
  admin-center/package.json
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/main.scss
  admin-center/webpack/buildCss.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationGeneric/HubConfigurationGenericBehavior.php
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/100-HubInstanciationStructure.xml
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationAutocomplete/HubInstanciationAutocomplete.php
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationBehavior.php
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/Render/HubInstanciation.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/Render/HubInstanciationEditRender.php
  hub-station/src/vendor/Root/ErrorCodeHUB.php
  hub-station/webpack/render.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix(dev-center): '0' value is display on rapport (refs #855)
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add request error response to griderror refs #858
  user-interfaces/components/src/AnkSEGrid/utils/GridError.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): pagesize type and value refs #861
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): deactivate grid persistence for enhancement refs #862
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): fix assets method check exception (refs #859)
  hub-station/components/src/utils/HubEntriesUtil.ts
  hub-station/src/vendor/Anakeen/Hub/IHM/JS/hub.js
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationGeneric/HubConfigurationGenericBehavior.php
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubInstanciation/HubInstanciationBehavior.php
  hub-station/src/vendor/Root/ErrorCodeHUB.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): pagesize refs #861
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): watcher refs #861
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): segrid: add reload button on refresh prop (refs #854)
  user-interfaces/components/src/AnkSEGrid/AnkGridReloadButton/AnkGridReloadButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridReloadButton/AnkGridReloadButton.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridReloadButton/AnkGridReloadButton.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): segrid: add reload button on refresh prop (refs #854)
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add reload button on report (refs #854)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): use 50 in pager for mail templates (refs #751)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(security): new structure RenderDescription (refs #751)
  security/src/vendor/Anakeen/SmartStructures/Profiles/default-profil.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil-update.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil.xml
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

feat(ui): new structure RenderDescription (refs #751)
  user-interfaces/info.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/FieldsAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionAccess.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionCreateRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionView.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/RenderDescriptionHooks.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/renderdescription.struct.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/renderdescription.views.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): add reload button in pager for mail templates (refs #751)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): new description manager (refs #751)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMINPARAMETERSHUBCONFIGURATION_en.po
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMINPARAMETERSHUBCONFIGURATION_fr.po
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/111-AdminManagerProfile.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterRenderDescription/AdminCenterRenderDescriptionEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterRenderDescription/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.vue
  admin-center/webpack/config.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): add type class for custom template in array (refs #751)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: update gitlab url
  changelogContext.json
Due: none

feat(ui): render descrition i18n (refs #751)
  user-interfaces/src/locale/en/LC_MESSAGES/src/RENDERDESCRIPTION_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-lang_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-mode_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/RENDERDESCRIPTION_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-lang_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-mode_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_fr.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test(sde): assert report search not failed (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): render description i18n (refs #751)
  user-interfaces/src/locale/en/LC_MESSAGES/src/RENDERDESCRIPTION_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-collapse_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-mode_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/RENDERDESCRIPTION_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-collapse_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-lang_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-mode_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_fr.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): icon render description (refs #751)
  smart-data-engine/src/public/CORE/Images/se-renderdescription.png
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct view render js for render description (refs #751)
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionView.js
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): get description for recorded render description (refs #751)
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add stub for RENDERDESCRIPTION (refs #751)
  user-interfaces/constants/smartStructureFields.js
  user-interfaces/stubs/RENDERDESCRIPTION__STUB.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): continue render description (refs #751)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.vue
  user-interfaces/constants/smartStructureFields.js
  user-interfaces/src/locale/en/LC_MESSAGES/src/RENDERDESCRIPTION_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/RENDERDESCRIPTION_fr.po
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/DocidAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/FieldsAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/RenderDescriptionHooks.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/renderdescription.struct.xml
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
  user-interfaces/stubs/RENDERDESCRIPTION__STUB.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(ui): readd MailEdit webpack (refs #751)
  user-interfaces/webpackConfig/smartStructures.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): chore for ts (refs #751)
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/FieldsAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/RenderDescriptionHooks.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore(ui): reindent (refs #751)
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/DocidAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/FieldsAutocomplete.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/RenderDescriptionHooks.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete console log (refs #751)
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add collapse for splitter (refs #751)
  internal-components/src/PaneSplitter/PaneSplitter.component.ts
  internal-components/src/PaneSplitter/PaneSplitter.scss
  internal-components/src/PaneSplitter/PaneSplitter.vue
Due: internal-components-buildJS

fix(ui): add collapseButton on splitter (refs #751)
  internal-components/src/PaneSplitter/PaneSplitter.component.ts
  internal-components/src/PaneSplitter/PaneSplitter.scss
Due: internal-components-buildJS

fix(ui): add collapse button on admin (refs #751)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/AdminCenterEnum.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/RenderDescription/AdminCenterRenderDescription.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/IncomingTasks/IncomingTasks.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/PreviousTasks/PreviousTasks.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingTimers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousTimers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/VaultManager/VaultInfo/VaultInfo.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): add collapse button on admin (refs #751)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/SmartStructureManagerSmartElements.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): add translation for render description (refs #751)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(fulltext): wrap header on list (refs #596)
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.scss
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(ui): correct page compute (refs #861)
  fulltext-search/components/src/AnkFulltextSmartElementGrid/AnkFulltextSmartElementGrid.component.ts
  user-interfaces/stubs/TST_RENDER__STUB.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

fix(ui): add translation for scheduler entry (refs #37)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterScheduler/AdminCenterSchedulerManagerEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register
