Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(sde): hashing etag from RenderDefault::getEtag() (refs #993)
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): ank tree widget (refs #1156)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminAccount.xml
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/GroupTree.php
  internal-components/src/shims-vue.d.ts
  smart-data-engine/src/vendor/Anakeen/CORE_init
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Database/DbIndexesRules.xml
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
  storybook/package.json
  storybook/src/stories/AnkTree.stories.js
  user-interfaces/components/src/AnkTree/AnkTree.component.ts
  user-interfaces/components/src/AnkTree/AnkTree.scss
  user-interfaces/components/src/AnkTree/AnkTree.vue
  user-interfaces/package.json
  user-interfaces/src/locale/en/LC_MESSAGES/src/mustache-user-interfaces_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
  user-interfaces/tsconfig.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

feat(ui): ank-tree BEM css (refs #1159)
  user-interfaces/components/src/AnkTree/AnkTree.scss
  user-interfaces/components/src/AnkTree/AnkTree.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): ank-tree group with category (refs #1159)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminAccount.xml
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/GroupTree.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Account/GroupTreeWithoutCategory.php
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Database/DbIndexesRules.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/igroup.struct.xml
  storybook/src/stories/AnkTree.stories.js
  user-interfaces/components/src/AnkTree/AnkTree.component.ts
  user-interfaces/components/src/AnkTree/AnkTree.scss
  user-interfaces/components/src/AnkTree/AnkTree.vue
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

feat(ui): update yarn.lock (refs #1159)
  yarn.lock
Due: none

fix(ui): correct tooltip boundary for SE button (refs #1200)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct warning on standalone MAIL render (refs #1200)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: set composer in ignore-platform-reqs mode
  about/Makefile
  admin-center/Makefile
  business-app/Makefile
  control/Makefile
  dev-data/Makefile
  development-center/Makefile
  fulltext-search/Makefile
  hub-station/Makefile
  migration-tools/Makefile
  security/Makefile
  smart-data-engine/Makefile
  test-tools/Makefile
  transformation/Makefile
  user-interfaces/Makefile
  workflow/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register

build: bump version to 2020.3.3
  .devtool/script/versions.js
  about/info.xml
  about/package.json
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(ui): [criteria] improves previous fix robustness (refs #1178)
  user-interfaces/src/vendor/Anakeen/Components/SmartCriteria/Routes/SmartCriteriaConfigurationLoader.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(control): bump composer deps for php 8 (refs #1161)
  control/src/composer.json
  control/src/composer.lock
  control/src/src/Control/Cli/CliArchive.php
  control/src/src/Control/Cli/CliDoJob.php
  control/src/src/Control/Cli/CliGet.php
  control/src/src/Control/Cli/CliInfo.php
  control/src/src/Control/Cli/CliInit.php
  control/src/src/Control/Cli/CliInstallModule.php
  control/src/src/Control/Cli/CliJsonCommand.php
  control/src/src/Control/Cli/CliKill.php
  control/src/src/Control/Cli/CliLog.php
  control/src/src/Control/Cli/CliOutdated.php
  control/src/src/Control/Cli/CliRegistry.php
  control/src/src/Control/Cli/CliRemoveModule.php
  control/src/src/Control/Cli/CliRestore.php
  control/src/src/Control/Cli/CliRun.php
  control/src/src/Control/Cli/CliSearch.php
  control/src/src/Control/Cli/CliSet.php
  control/src/src/Control/Cli/CliShow.php
  control/src/src/Control/Cli/CliStatus.php
  control/src/src/Control/Cli/CliUpdateModule.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: bump version
  .devtool/script/versions.js
  about/info.xml
  about/package.json
  admin-center/info.xml
  admin-center/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(tools): change path mapping vscode to deploy file
  .vscode/settings.json
Due: none

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
