Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(ui): add ts types for ui components
  user-interfaces/.eslintignore
  user-interfaces/components/src/components.js
  user-interfaces/components/types/AnkAuthent.d.ts
  user-interfaces/components/types/AnkController.d.ts
  user-interfaces/components/types/AnkIdentity.d.ts
  user-interfaces/components/types/AnkLoading.d.ts
  user-interfaces/components/types/AnkLogout.d.ts
  user-interfaces/components/types/AnkSEGrid.d.ts
  user-interfaces/components/types/AnkSEList.d.ts
  user-interfaces/components/types/AnkSETab.d.ts
  user-interfaces/components/types/AnkSETabs.d.ts
  user-interfaces/components/types/AnkSmartElement.d.ts
  user-interfaces/components/types/AnkSmartForm.d.ts
  user-interfaces/components/types/AnkTab.d.ts
  user-interfaces/components/webpack/base.js
  user-interfaces/components/webpack/controller.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version
  Tests/info.xml
  info.xml
  package.json
Due: none

fix(ui): typescript for SmartForm and mode
  user-interfaces/components/src/AnkSmartForm/ISmartForm.ts
  user-interfaces/components/src/translation.json
  user-interfaces/components/types/AnkAuthent.d.ts
  user-interfaces/components/types/AnkController.d.ts
  user-interfaces/components/types/AnkIdentity.d.ts
  user-interfaces/components/types/AnkLoading.d.ts
  user-interfaces/components/types/AnkLogout.d.ts
  user-interfaces/components/types/AnkSEGrid.d.ts
  user-interfaces/components/types/AnkSEList.d.ts
  user-interfaces/components/types/AnkSETab.d.ts
  user-interfaces/components/types/AnkSETabs.d.ts
  user-interfaces/components/types/AnkSmartElement.d.ts
  user-interfaces/components/types/AnkSmartForm.d.ts
  user-interfaces/components/types/AnkTab.d.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): no display row check if no add either del in array
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): relative import for test
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): mask render with kendo dll (refs #113)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskViewRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): add addelementidentifiers and sqlcond functions
  smart-data-engine/src/vendor/Anakeen/Search/ElementList.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchElements.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): prettier
  smart-data-engine/src/vendor/Anakeen/Search/ElementList.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(component): correct double setValue
  Tests/info.xml
  info.xml
  package.json
  src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/wDocid.js
Due: none

fix(ui): fix vue controller initialization
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix smart element sticky menu
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix legacy mode for controller js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentHtml.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderDefault.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(component): docid fix a regression on setValue
  Tests/info.xml
  info.xml
  package.json
  src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/wDocid.js
Due: none

fix(ui): fix arguments types in controller methods
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): adjust for Smart Form
  user-interfaces/components/src/AnkSmartForm/ISmartForm.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct align icon in se menu
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): adjust for Smart Form
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartFormExample2.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: no delete all app build file when make new app
  Makefile
Due: none

fix(ui): iframeless for htmltext
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltextWrite.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/htmltext.scss
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): no loading for SmartForm
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test: no use htmltext inline
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/AllRenderConfigEdit.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct default values send on creation (refs #49)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix page url property in smart element
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix user select on ank se tab content
  user-interfaces/components/src/AnkSETabs/AnkSETabs.scss
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.component.ts
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix sticky menu on standalone smart element
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
  user-interfaces/src/vendor/Anakeen/Routes/Ui/Templates/document-view.html.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(validation): correct pattern for classname in xsd route
  module-validation/xsd/sde/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(internal): correct enum locale and test
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Lib/composer.json
  admin-center/src/vendor/Anakeen/Routes/Admin/Lib/composer.lock
  smart-data-engine/Tests/src/locale/en/LC_MESSAGES/src/enumTST_DOCENUM-0123_en.po
  smart-data-engine/Tests/src/locale/en/LC_MESSAGES/src/enumTST_DOCENUM-ABCD_en.po
  smart-data-engine/Tests/src/locale/fr/LC_MESSAGES/src/enumTST_DOCENUM-0123_fr.po
  smart-data-engine/Tests/src/locale/fr/LC_MESSAGES/src/enumTST_DOCENUM-ABCD_fr.po
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/CoreTests.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDocEnum.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestSearch.php
  smart-data-engine/src/programs/update_catalog
  smart-data-engine/src/vendor/Anakeen/Core/EnumCustomLocale.php
  smart-data-engine/src/vendor/Anakeen/Core/EnumManager.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/DocEnum.php
  smart-data-engine/src/vendor/Anakeen/lib/composer.json
  smart-data-engine/src/vendor/Anakeen/lib/composer.lock
  workflow/Tests/src/vendor/Anakeen/TestUnits/WorkflowTests.php
  workflow/Tests/src/vendor/Dcp/Pu/TestSuiteWorkflow.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, admin-center-register, admin-center-integration-register

fix(internal): script to recompute vault indexes
  smart-data-engine/src/API/refreshVaultIndex.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): correct enum locale and test
  smart-data-engine/src/vendor/Anakeen/Core/EnumCustomLocale.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: correct user-interface test depends on business app
  user-interfaces/Tests/info.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): add DIR Hooks (refs #7)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Group/GroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: no need composer in admin : transfered to sde
  admin-center/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

chore: beautify
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(internal): add DIR multiple Hooks (refs #7)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Group/GroupHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Igroup/IGroupHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: bump version
  .devtool/devserver/package.json
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  webpack-conf/package.json
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

fix(ui): add utility class for smart element asset injection
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/Routes/Ui/DocumentView.php
  user-interfaces/src/vendor/Anakeen/Ui/AssetReference.php
  user-interfaces/src/vendor/Anakeen/Ui/JsAssetReference.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): add vuex module for tabs
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/businessAppModule.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(internal): correct ooo xml header (refs #115)
  smart-data-engine/src/vendor/Anakeen/Layout/OooLayout.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): sinitid query
  smart-data-engine/src/vendor/Root/Class.DocRel.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

refactor(cli): rename importconfiguration refs #57
  anakeen-cli/commands/deployConfiguration.js
  anakeen-cli/tasks/deployConfiguration.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish
