Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

feat(te): add download unit transformation file refs #610
  transformation/src/config/SmartDataEngine/te-admin.xml
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/Admin/CheckUnitTransformation.php
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/Admin/CheckUnitTransformationFile.php
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.controller.ts
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.scss
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeUnitTransformation.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

fix(te): beautify refs #610
  transformation/src/vendor/Anakeen/Routes/TransformationEngine/Admin/CheckUnitTransformationFile.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, transformation-build, transformation-integration-build, transformation-register, transformation-integration-register

fix(fulltext): added JS compilation to npm publication (refs #843)
  .gitlab-ci.yml
  fulltext-search/package.json
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

feat(sde): report test cases (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_file.txt
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_file2.txt
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_file3.txt
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_image.jpeg
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_image2.png
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/dummy_image3.jpeg
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_report_all_types.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(fulltext): refactored report test functions (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): first dsearch correction (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): added debug to report test (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test(sde): added report skipped tests and desciptions (refs #838)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no use exception on addArrayRow (refs #732)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(fulltext): trigger component change for compilation (refs #843)
  fulltext-search/components/src/AnkFulltextSmartCriteria/AnkFulltextSmartCriteria.vue
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(sde): import mailtemplate structure-account-parameter (refs #849)
  workflow/src/vendor/Anakeen/Workflow/ImportWorkflowConfiguration.php
Due: workflow-build, workflow-integration-build, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register

build: version 2020.1-RC36
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(sde): beautify php refs #756
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldValue.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): setattributevalue without addarrayrow refs #756
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestTypedValue.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldValue.php
  smart-data-engine/src/vendor/Root/ErrorCodeVALUE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

refactor(sde): setattributevalue without addarrayrow refs #756
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestTypedValue.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldValue.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): remove unused import refs #756
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartFieldValue.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): beautify refs #756
  smart-data-engine/src/vendor/Root/ErrorCodeVALUE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): expand dock control (refs #677)
  hub-station/components/src/HubDock/HubDock.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(admin): expand left dock by default (refs #677)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): add option withCloseConfirmation (closes #662)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.vue
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
  user-interfaces/components/src/AnkSmartForm/AnkSmartForm.component.ts
  user-interfaces/components/src/AnkSmartForm/ISmartForm.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, admin-center-build, admin-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, admin-center-register, admin-center-integration-register

fix(admin): bug fix ui on smart form and add check on user (refs #842)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/UserParameters.php
  admin-center/src/vendor/Root/ErrorCodeUSERPARAMETERS.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): watch field immediatly on init refs #848
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): update mustache for PHP7.4 (refs #851)
  control/src/composer.lock
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): delete user count in control (closes #375)
  control/src/src/Control/Internal/Info.php
  control/src/src/Control/Internal/Platform.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): correct compute vault size when no files (refs #850)
  smart-data-engine/src/vendor/Anakeen/Vault/DiskFsStorage.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add phpdoc for setcolumnvalue refs #756
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add setcolumnvalue description refs #756
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct again css height for smart element (refs #827)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.css
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct setvalue for htmltext (refs #846)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltextRead.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): setcolumnvalue description refs #756
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): destroy session if authentication not ok (refs #777)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/AuthenticatorManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): display smart element in new ank tab on business app(refs #413)
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  user-interfaces/components/src/AnkTabs/AnkSETab/AnkSETab.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register

fix(admin): admin logout and identity component (closes #853)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

test(fulltext): add suite to default config
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/phpunit.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(fulltext): add getSmartFieldIndex method (refs #751)
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/IndexFile.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/RecordFileTextContent.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchSmartElementIndex.php
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

test(sde): delete echo trace (refs #756)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestTypedValue.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no use exception on addArrayRow (refs #732)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Root/ErrorCodeCORE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test(fulltext): skip tests if TE not respond (refs #751)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(fulltext): responsive and empty domain refs #596
  fulltext-search/src/locale/en/vuejs/src/FULL_SEARCH.json
  fulltext-search/src/locale/fr/vuejs/src/FULL_SEARCH.json
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/AdminCenterFullSearchManager/AdminCenterFullSearchManagerEntry.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Manager/FullsearchManager.vue
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.controller.ts
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.scss
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/Searches/FullsearchSearch.vue
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(sde): better msg to group loop (refs #370)
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportAccounts.php
  smart-data-engine/src/vendor/Anakeen/Script/ShellManager.php
  smart-data-engine/src/vendor/Anakeen/WHAT/getprivilege.sql
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserChangeGroup.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register
