Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

build: rc-16
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

feat(sde): parameters initial in arrays now (refs #256)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_007.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Routes/TestCaseRoutes.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestDefault007.php
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_familydefault.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeDefault.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestImportXmlDocuments.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeDFLT.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): parameters initial updated (refs #256)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_007.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_008.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_familydefault.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAttributeDefault.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/CheckInitial.php
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
  smart-data-engine/src/vendor/Root/ErrorCodeINIT.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): fix import for null values for multiples (refs #220)
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportXml.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): parameters defaults for column (refs #256)
  smart-data-engine/src/vendor/Root/CheckEnd.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): no use default values for parameters (refs #256)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_exportfamilycsv.ods
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

refactor(ui): use rollup to build components library
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.scss
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.scss
  user-interfaces/components/src/components-exports.ts
  user-interfaces/components/src/components.js
  user-interfaces/components/src/index.js
  user-interfaces/components/src/index.ts
  user-interfaces/components/src/setup.ts
  user-interfaces/package.json
  user-interfaces/tsconfig.json
  yarn.lock
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix ts link (refs #168)
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/components/src/AnkSmartForm/AnkSmartForm.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: rename npm module
  anakeen-cli/package.json
  yarn.lock
Due: anakeen-cli-integration-publish, anakeen-cli-publish

chore: rename npm module
  user-interfaces/components/src/components-exports.ts
  user-interfaces/components/src/index.ts
  user-interfaces/src/vendor/Anakeen/Components/translation.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): rollup add other component (refs #168)
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkIdentity/index.ts
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
  user-interfaces/components/src/AnkLoading/index.ts
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkLogout/index.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
  user-interfaces/components/src/AnkSEGrid/index.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/index.ts
  user-interfaces/components/src/AnkSETabs/index.ts
  user-interfaces/components/src/setup.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/collections/menus.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/wLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/timestamp/wTimestamp.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/templates/SEError.mustache.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/templates/SELoading.mustache.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/templates/module.mustache.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/widget.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): rollup component tab part (refs #168)
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkLoading/AnkLoading.scss
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.scss
  user-interfaces/components/src/AnkSETabs/SmartElementTab.ts
  user-interfaces/components/src/AnkSETabs/SmartElementTabs.ts
  user-interfaces/components/src/AnkSETabs/Tab.ts
  user-interfaces/components/src/setup.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct tabNav title (refs #225)
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): tab correct tab selected (refs #226)
  user-interfaces/components/src/AnkSETabs/AnkSETabs.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add smart-grid (refs #168)
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridColumnsButton/GridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridExpandButton/GridExpandButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridExportButton/GridExportButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridPager/GridPager.controller.ts
  user-interfaces/components/src/AnkSEGrid/SmartGrid.ts
  user-interfaces/components/src/AnkSEGrid/SmartGridColumns.ts
  user-interfaces/components/src/AnkSEGrid/SmartGridExpand.ts
  user-interfaces/components/src/AnkSEGrid/SmartGridExport.ts
  user-interfaces/components/src/AnkSEGrid/SmartGridPager.ts
  user-interfaces/package.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add sass files to component part (refs #168)
  user-interfaces/components/scss/SmartElementGrid.scss
  user-interfaces/components/scss/bootstrap.scss
  user-interfaces/components/scss/ckeditor.scss
  user-interfaces/components/scss/colors.scss
  user-interfaces/components/scss/components.scss
  user-interfaces/components/scss/kendo.scss
  user-interfaces/components/scss/login.scss
  user-interfaces/components/scss/smartElement.scss
  user-interfaces/webpackConfig/buildCss.js
  user-interfaces/webpackConfig/scss/components.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): rollup SmartElement route (refs #168)
  .idea/GitLinkConfig.xml
  user-interfaces/Makefile
  user-interfaces/package.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/Ui/UIGetAssetPath.php
  user-interfaces/webpackConfig/components.js
  user-interfaces/webpackConfig/dll.js
  user-interfaces/webpackConfig/dllcommon.part.js
  user-interfaces/webpackConfig/smartElement.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add scss for identity (refs #168)
  user-interfaces/Makefile
  user-interfaces/components/scss/AnkIdentity.scss
  user-interfaces/components/scss/bootstrap.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(business-app): add new ui lib (refs #168)
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/webpack/businessApp.js
  business-app/webpack/common.part.js
  business-app/webpack/render.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

style: use prettier luc !
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.controller.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register

chore: correct a typo in issue template
  .gitlab/issue_templates/Enhancement.md
Due: none

feat(ui): name webpack chunk (refs #168)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/webpackConfig/ckeditor/ckeditor.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add a rollup mode for the devserver (refs #168)
  .devtool/devserver/index.js
  user-interfaces/components/rollup/rollup.config.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rename webpack part (refs #168)
  webpack-conf/parts/index.js
  webpack-conf/parts/kendo.js
  webpack-conf/parts/loaders.js
Due: none

feat(ui): correct lib generation (refs #168)
  webpack-conf/index.js
Due: none

feat(ui): bump js deps version (refs #265)
  .devtool/devserver/package.json
  admin-center/package.json
  anakeen-cli/package.json
  business-app/package.json
  control/package.json
  development-center/package.json
  hub-station/package.json
  internal-components/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation/package.json
  user-interfaces/package.json
  webpack-conf/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

feat(admin): correct admin element generation (refs #168)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterMail/AdminCenterMailEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AuthenticationTokensHub/AuthenticationTokensHubComponent.vue
  admin-center/webpack/config.js
  transformation/webpack/config.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, transformation-build, transformation-integration-build, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

feat(dev-center): adapt devel to new es6 module (refs #168)
  development-center/src/vendor/Anakeen/DevelopmentCenter/JS/profile.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/JS/workflowRights.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/RouterTabs/RouterTabs.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSList/SSList.component.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/Splitter/Splitter.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevHubInstanciation/DevHubInstanciation.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Enum/EnumDevCenter.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Localization/Localization/Localization.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Routes/Middlewares/Middlewares.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Routes/Routes/Routes.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Routes/RoutesAcl/RoutesAcl.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Routes/RoutesPermissions/RoutesPermissions.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/ElementView/ElementView.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersDefaultValue.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersFields.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersValues.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/DefaultValues.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/Structure.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/ViewsConfiguration/ViewsConf.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Workflow/Steps/Steps.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Workflow/Transitions/Transitions.controller.js
  development-center/src/vendor/Anakeen/Routes/Devel/UI/Profile.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/Workflow.php
  development-center/webpack/common.part.js
  development-center/webpack/devCenter.js
  development-center/webpack/standalone.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

feat(hub): correct default hub route (refs #168)
  hub-station/src/vendor/Anakeen/Hub/Routes/Hub.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

feat(hub): clean old code (refs #168)
  hub-station/src/config/SmartDataEngine/anakeen-hub.xml
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.controller.js
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.scss
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdmin.vue
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdminMockUp.controller.js
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdminMockUp.scss
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdmin/HubAdminMockUp.vue
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdminInstanciation/HubAdminInstanciation.controller.js
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdminInstanciation/HubAdminInstanciation.scss
  hub-station/src/vendor/Anakeen/Hub/IHM/Components/HubAdminInstanciation/HubAdminInstanciation.vue
  hub-station/src/vendor/Anakeen/Hub/IHM/JS/hubAdmin.js
  hub-station/src/vendor/Anakeen/Hub/IHM/JS/hubInstanciation.js
  hub-station/src/vendor/Anakeen/Hub/Routes/HubAdmin.php
  hub-station/src/vendor/Anakeen/Hub/Routes/HubInstanciation.php
  hub-station/webpack/index.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/enum.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

feat(ui): correct login page (refs #168)
  user-interfaces/components/src/AnkAuthent/AnkAuthent.vue
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct attribute template (refs #168)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): migrate default ss custo (refs #168)
  user-interfaces/Makefile
  user-interfaces/components/scss/smartElement.scss
  user-interfaces/package.json
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/enum.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/attribute.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/SearchViewGridRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserChangeGroup.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/ReportViewRender.php
  user-interfaces/webpackConfig/smartStructures.js
  webpack-conf/parts/global.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct es6 module element (refs #168)
  business-app/webpack/businessApp.js
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/TeManager/TeManager.controller.ts
  user-interfaces/components/src/AnkSETabs/SmartElementTab.ts
  user-interfaces/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, transformation-build, transformation-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register, transformation-register, transformation-integration-register

build: bump deps
  .devtool/devserver/package.json
  admin-center/package.json
  control/package.json
  development-center/package.json
  hub-station/package.json
  internal-components/package.json
  package.json
  theme-variables/package.json
  transformation/package.json
  user-interfaces/package.json
  webpack-conf/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, control-build, control-integration-build, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

chore: use a prettier luc !
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: correct ci rule for ui
  .gitlab-ci.yml
  user-interfaces/Makefile
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): convert test to esm module (refs #168)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartForm/TestSmartFormEntry.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartForm.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
