Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(ui): can't save report with empty op (refs #829)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDefault.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsMoney.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTime.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): order hub elements (closes #813)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/hubConfiguration.xml
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(dev-center): change logical name in smart element (refs #486)
  development-center/src/config/SmartDataEngine/DevCenter/routes/smart.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/LogicalName/LogicalName.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/LogicalName/LogicalName.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/LogicalName/LogicalName.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.controller.js
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/ChangeLogicalName.php
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/DeleteLogicalName.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ElementsGridController.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): report date operators don't work (refs #832)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(migration-tools): copy dynacase sequence (refs #824)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): correct for MAIL structure (refs #824)
  migration-tools/README.md
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

build: bump to rc35
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): correct compute responsive barmenu (refs #840)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct css for mask (refs #721)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.css
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mask/Render/MaskView.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): bugfix balises style vide (refs #637)
  hub-station/src/vendor/Anakeen/Hub/SmartStructures/HubConfigurationGeneric/HubConfigurationGenericBehavior.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(admin): correct event on smart element display (refs #816)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/ElementView/ElementView.controller.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/ElementView/ElementView.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: fix kendo-theme-bootstrap version (refs #836)
  admin-center/package.json
  business-app/package.json
  development-center/package.json
  fulltext-search/package.json
  hub-station/package.json
  theme-variables/package.json
  transformation/package.json
  user-interfaces/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

build: add forget buildCss on deploy
  development-center/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): use flex in main SmartElement class (refs #827)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.css
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): incorrect report operator 'notContains' (refs #834)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): add scheduler (closes #37)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/hubConfiguration.xml
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(ui): nor error message on report grid (refs #833)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct display error message (refs #809)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add string cast for addArrayRow in mail recipient (refs #732)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mail/Render/MailEditRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct resize trigger call on transition (refs #679)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct transition height (refs #674)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/workflow/transition.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct exception on addarrayrow (refs #732)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAddArrayRow.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestTypedValue.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Root/ErrorCodeCORE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(control): delete unused apacheuser param (refs #839)
  control/src/include/lib/Lib.Cli.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): correct notice for image html in mail (refs #389)
  smart-data-engine/src/vendor/Root/Class.DocHtmlFormat.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct sticky menu SmartElement (refs #827)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.css
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): revert resize refactor (refs #679)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/vMenu.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): throw exception on computeDProfil (refs #841)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(hub): resize and center wdialog and wwindow (refs #755)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/window/wDialog.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/window/wWindow.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): bug field filter (closes #794)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(fulltext): fulltext npm publication (refs #843)
  .gitlab-ci.yml
Due: none

fix(sde): good translation of error messages (closes #823)
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(fulltext): empty modification to trigger CI (refs #843)
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(sde): display error code even arg numbers is incorrect (refs #841)
  smart-data-engine/src/vendor/Root/ErrorCode.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

chore(sde): correct DOC0138 message (refs #841)
  smart-data-engine/src/vendor/Root/ErrorCodeDOC.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct enum callable export (refs #839)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExportConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(migration-tools): callable enum (refs #839)
  migration-tools/src/vendor/Anakeen/Migration/EnumCallable.php.mustache
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): correct for doctimer transfert (refs #844)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/TableTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(fulltext): added ui component files to package (refs #843)
  fulltext-search/README.md
  fulltext-search/package.json
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(sde): no set right for admin (refs #841)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/DocumentAccess.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): set and get parameters with a good user id (refs #842)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminParameters.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AdminCenterParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/AllParameters/AllParameters.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AllParameters.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AlterParameter.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AlterUserParameter.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/GetUserFromSeId.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/RestoreUserParameterSystemValue.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/UserParameters.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register
