Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(cli): conflicted glob with sourcePath default value
  anakeen-cli/commands/checkConfigFile.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): delete setTabPlacement TopFix - Ajout setStickyTabs (refs #32)
  user-interfaces/Tests/src/public/TEST_DOCUMENT_SELENIUM/Family/tst_ddui_alltype/testColor.css
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.scss
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/AllRenderStickyTab.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TST_DDUI_ALLTYPE__CVDOC.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/SmartForm.schema.json
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/libSmartForm.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/tab/tab.scss
  user-interfaces/src/vendor/Anakeen/Ui/DefaultView.php
  user-interfaces/src/vendor/Anakeen/Ui/DocumentRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(internal): api importConfiguration : import all xml type (refs #25)
  smart-data-engine/info.xml
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportAnyConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(internal): refactor importConfiguration to use in devel (refs #25)
  development-center/src/vendor/Anakeen/Routes/Devel/Import/Configuration.php
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportAnyConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, development-center-build, development-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, development-center-register, development-center-integration-register

fix(admin): use new importConfiguration
  admin-center/info.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

chore: reindent by phpcbf
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDocEnum.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(cli): display error in red in console
  smart-data-engine/src/vendor/Anakeen/Script/ShellManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): avoid warning icon when try export se
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportDocumentDescription.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix timeout promise for cancelable promise based events
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/EventUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add scope selector in smart element controller
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): strong test object option in toJson() se model method
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix promise on custom template field render
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): ss tree list height refs #110
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

feat(tools): document use of GitLab's Docker registry
  README.md
Due: none

feat(ui): rajout des dependances dans le readme (#refs 120)
  README.md
Due: none

fix(ui): verification de valeurs pour affectation en Async(#refs 119)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(sde): change dbmigration to runmigrationscript refs #122
  business-app/info.xml
  business-app/src/vendor/Anakeen/BusinessApp/Migration/resetBusinessAppConfigurationField.xml
  hub-station/info.xml
  hub-station/src/vendor/Anakeen/Hub/Migration/resetHubConfigurationField.xml
  smart-data-engine/info.xml
  smart-data-engine/src/programs/DbMigration.php
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
  smart-data-engine/src/vendor/Anakeen/Database/RunMigrationScript.php
  smart-data-engine/src/vendor/Anakeen/Database/migrationRules.xsd
  user-interfaces/info.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Migration/mailTemplateMigration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register

fix(sde): change migration script name refs #122
  business-app/info.xml
  hub-station/info.xml
  smart-data-engine/info.xml
  smart-data-engine/src/vendor/Anakeen/Database/runMigrationScript.php
  user-interfaces/info.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register

fix(sde): change dbmigration refs #122
  smart-data-engine/src/programs/runMigrationScript.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): migration script refs #122
  smart-data-engine/src/vendor/Anakeen/Database/MigrationScript.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): dsearch and report migration (refs #84)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableBaseComponent.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFunctions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableLeftP.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableOperator.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableRightP.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDate.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDefault.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsDocid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsEnum.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTime.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsTimestamp.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/SearchViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/dsearch.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchAttributeHelper.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchAttributes.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchHTML5_edit.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUI.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUICreationEvent.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/ReportViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportHTML5_edit.mustache
  user-interfaces/src/vendor/Anakeen/SmartStructures/Report/Render/reportViewGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix event name ts types in se controller
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): fix vuex namespaced module for each instance
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/businessAppModule.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(tools): add project scopes and quick launch configuration
  .idea/runConfigurations/Launch_Dev_server.xml
  .idea/runConfigurations/Monorepo_Start.xml
  .idea/runConfigurations/Monorepo_Stop.xml
  .idea/scopes/Admin_Center.xml
  .idea/scopes/Anakeen_CLI.xml
  .idea/scopes/Anakeen_Control.xml
  .idea/scopes/Anakeen_Dev_Data.xml
  .idea/scopes/Business_App.xml
  .idea/scopes/Development_Center.xml
  .idea/scopes/Hub_Station.xml
  .idea/scopes/Internal_Components.xml
  .idea/scopes/Migration_Tools.xml
  .idea/scopes/Module_Validation.xml
  .idea/scopes/Security.xml
  .idea/scopes/Smart_Data_Engine.xml
  .idea/scopes/Smart_Data_Engine_Tests.xml
  .idea/scopes/Sources.xml
  .idea/scopes/Transformation.xml
  .idea/scopes/User_Interfaces.xml
  .idea/scopes/User_Interfaces_Tests.xml
  .idea/scopes/Workflow.xml
Due: none

fix(hub): lint file
  hub-station/components/src/HubStation/HubStation.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(ui): fix component dependency location
  user-interfaces/package.json
  yarn.lock
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): format vuex module key string
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/HubBusinessApp.vue
  business-app/src/vendor/Anakeen/BusinessApp/IHM/HubComponent/businessAppModule.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

build: correct app for Makefile
  control/Makefile
Due: control-build, control-integration-build, control-register, control-integration-register

build: bump dev
  admin-center/package.json
  admin-center/yarn.lock
  anakeen-cli/yarn.lock
  business-app/yarn.lock
  control/yarn.lock
  dev-data/yarn.lock
  development-center/package.json
  development-center/yarn.lock
  hub-station/package.json
  hub-station/webpack/hubVendor.js
  hub-station/yarn.lock
  internal-components/yarn.lock
  migration-tools/yarn.lock
  module-validation/yarn.lock
  package.json
  security/yarn.lock
  smart-data-engine/yarn.lock
  theme-variables/yarn.lock
  transformation/package.json
  transformation/yarn.lock
  user-interfaces/package.json
  user-interfaces/yarn.lock
  webpack-conf/package.json
  workflow/yarn.lock
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): added CSS + bug fixing (refs #84)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchAttributeHelper.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUI.js
  user-interfaces/src/vendor/Anakeen/Ui/DataSource.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: add devel for dll and component
  .devtool/devserver/config.perso.js.exemple
  .devtool/devserver/index.js
  .devtool/devserver/package.json
Due: none

fix(internal): correct po header
  security/src/locale/en/LC_MESSAGES/src/security_en.po
  security/src/locale/fr/LC_MESSAGES/src/security_fr.po
Due: security-build, security-integration-build, security-register, security-integration-register

build: no share idea watcherTask
  .gitignore
Due: none

feat(ui): new i18n (refs #34)
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/RecordComponentTranslation.php
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/RecordTranslation.php
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
  anakeen-cli/package.json
  anakeen-cli/tasks/po.js
  anakeen-cli/utils/POExtractorVuejs.js
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/package.json
  module-validation/xsd/module/1.0/config.xsd
  smart-data-engine/src/programs/json_concat
  smart-data-engine/src/programs/locale_vuejs_concat.php
  smart-data-engine/src/programs/update_catalog
  smart-data-engine/src/vendor/Anakeen/Core/ContextManager.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/TestSmartForm/TestSmartForm.controller.ts
  user-interfaces/build.xml
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nBus.js
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nMixin.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nSetup.js
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
  user-interfaces/components/src/AnkAuthent/AnkAuthent.scss
  user-interfaces/components/src/AnkAuthent/AnkAuthent.vue
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkSEGrid/Components/GridColumnsButton/GridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/setup.js
  user-interfaces/components/src/translation.json
  user-interfaces/components/webpack/index.js
  user-interfaces/package.json
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.html.mustache
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.js
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.vue
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/login-page.scss
  user-interfaces/vue-type-shims.d.ts
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix: suppress useless elements from pipelines
  user-interfaces/package.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add beforeValidate event and move beforeSave event
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/EventUtils.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix loading style position
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/document.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): rename beforeDisplayChangeState to beforeDisplayTransition
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): use simple pane splitter instead of splitter (mail)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(workflow): display comment when try to run an invalid transition
  user-interfaces/src/vendor/Anakeen/Ui/TransitionRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
