Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

build: rc20
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(cli): correct deps for frozen lock (refs #301)
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/HTTPAgent.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: rc21
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): prevent upload file refs #290
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): test if group exists before export (refs #305)
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportAccounts.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): test if fields exists before use it (refs #304)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureDefaultValues.php
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): correct history datatable loading (closes #292)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wHistory.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wRevisionDiff.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(control): foreground job in install and update (refs #255)
  control/src/include/lib/Lib.Wcontrol.php
  control/src/src/Control/Cli/CliInstallModule.php
  control/src/src/Control/Cli/CliStatus.php
  control/src/src/Control/Cli/CliUpdateModule.php
  control/src/src/Control/Internal/JobLog.php
  control/src/src/Control/Internal/ModuleJob.php
  control/src/src/Control/Internal/ModuleManager.php
  smart-data-engine/src/vendor/Anakeen/Script/ShellManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, control-build, control-integration-build, smart-data-engine-register, smart-data-engine-integration-register, control-register, control-integration-register

fix(sde): no set session if cli mode (refs #306)
  smart-data-engine/src/vendor/Anakeen/WHAT/Lib.Prefix.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(control): correct messages (refs #255)
  control/src/src/Control/Cli/CliInstallModule.php
  control/src/src/Control/Cli/CliUpdateModule.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: add dependencies in the CI
  .gitlab-ci.yml
Due: none

fix(admin): highlight deletion messages refs #297
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): remove mention mandatory refs #212
  anakeen-cli/commands/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(dev-center): workflow profile exception refs #266
  development-center/src/vendor/Root/ErrorCodeDEV.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(cli): allow user to deactivate autorelease option refs #170
  anakeen-cli/commands/deploy.js
  anakeen-cli/tasks/build.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: tweak CI for more speed
  .gitlab-ci.yml
Due: none

build: revert git strategy
  .gitlab-ci.yml
Due: none

fix(control): correct SDE deps of control (closes #310, closes #270)
  control/src/src/Control/Internal/Platform.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: rc22
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(control): add missing exception file (refs #310)
  control/src/src/Control/Internal/Exception.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: rc23
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(control): correct exception file (refs #330)
  control/src/src/Control/Internal/Exception.php
  control/src/src/Control/Internal/Platform.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: rc 24
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(validation): correct xsd for anakeen-cli compose (closes #285)
  module-validation/all.xsd
  module-validation/catalog.xml
  module-validation/package.json
  module-validation/xsd/compose-credentials/1.0/config.xsd
  module-validation/xsd/compose-lock/1.0/compose-lock.xsd
  module-validation/xsd/compose/1.0/compose.xsd
Due: module-validation-integration-publish, module-validation-publish

fix(cli): add a handler for unknown compose command (refs #188)
  anakeen-cli/commands/compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct registry auto selection (refs #191)
  anakeen-cli/commands/compose/add.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct compose install command (refs #296, #295)
  anakeen-cli/commands/compose/install.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoLockXML.js
  anakeen-cli/utils/RepoXML.js
  module-validation/xsd/compose-lock/1.0/compose-lock.xsd
Due: anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish

fix(cli): correct compose elements (refs #283, 281, 280)
  anakeen-cli/commands/compose/add.js
  anakeen-cli/commands/compose/addAppRegistry.js
  anakeen-cli/commands/compose/init.js
  anakeen-cli/commands/compose/install.js
  anakeen-cli/commands/compose/upgrade.js
  anakeen-cli/utils/AppRegistry.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/HTTPAgent.js
  anakeen-cli/utils/HTTPCredentialStore.js
  anakeen-cli/utils/RepoXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

refactor(cli): suppress useless function use standard one
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): install (closes #105, #134, #187, #190, #191, #296, #295)
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoLockXML.js
  anakeen-cli/utils/SHA256Digest.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct compose install
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoLockXML.js
  anakeen-cli/utils/SHA256Digest.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): compose correct analysis of latest (closes #192)
  anakeen-cli/utils/AppRegistry.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): add use install to install (closes #314)
  anakeen-cli/commands/compose/add.js
  anakeen-cli/utils/Compose.js
  module-validation/xsd/compose-lock/1.0/compose-lock.xsd
Due: anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish

fix(cli): add version command (closes #213)
  anakeen-cli/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct compose upgrade (closes #189)
  anakeen-cli/commands/compose/install.js
  anakeen-cli/commands/compose/upgrade.js
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): correct stub generation for json type (closes #315)
  anakeen-cli/utils/appConst.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(control): correct foregroud task for remove (refs #252)
  control/src/src/Control/Cli/CliRemoveModule.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): add very verbose mode for install/update (refs #252)
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): correct mask order when override (refs #308)
  user-interfaces/src/vendor/Anakeen/Ui/MaskManager.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
