Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

refactor(admin): trash grid and config refs #251
  admin-center/info.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashConfig.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashContent.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashGridController.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashSearchElements.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashSearchSmartData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/trash-grid-controller.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

refactor(ui): abstract column title and size refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): set grid footer with pager and expandable refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(dev-center): role grid and config refs #251
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Role/RoleDevCenter.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Role/RoleDevCenter.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

refactor(dev-center): field access layer list grid and config refs #251
  development-center/info.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

refactor(dev-center): masks grid and config refs #251
  development-center/info.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/Masks/Masks.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Ui/Masks/Masks.vue
  development-center/src/vendor/Anakeen/Routes/Devel/UI/Masks.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/MasksGridConfig.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/MasksGridController.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/masks-grid-controller.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

refactor(ui): set multiple abstract columns refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add export to toolbar refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix action button alignment refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.scss
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): grid events refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add activated state refs #236
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add empty and inexistent value render in cell refs#251
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellMixin.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix filter persistent state refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add sort and paging to se grid refs #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): add translations and tooltips refs #242, #236
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridColumnsButton/AnkGridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridPager/AnkGridPager.vue
  user-interfaces/src/locale/en/vuejs/src/ui-components.json
  user-interfaces/src/locale/fr/vuejs/src/ui-components.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add footer columns refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add row action refs #251
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/ReportGridController.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): set default collection to 0 refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): ank action menu for smart element grid refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.scss
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): lint files refs #251
  user-interfaces/src/API/manageGridControllers.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(dev-center): smart elements grid and config refs #251
  development-center/info.xml
  development-center/src/config/SmartDataEngine/DevCenter/routes/security.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.vue
  development-center/src/vendor/Anakeen/Routes/Devel/UI/Elements.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ElementsGridConfig.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ElementsGridController.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/elements-grid-controller.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

refactor(ui): grid css refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellTypes/AnkGridCellColor.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove unused css refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add test ui for test new grid
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/index.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/grid-controller.xml
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubConfiguration.xml
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartGrid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add cell render for smart field type refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellMixin.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellTypes/AnkGridCellColor.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellTypes/AnkGridCellHtmlText.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellTypes/AnkGridCellIconText.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellTypes/AnkGridCellText.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): button label to translate refs #251
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/ReportGridController.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): get actions refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(admin): remove commentend grid
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

refactor(ui): check executable search for user refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
  user-interfaces/src/vendor/Root/ErrorCodeGRID.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add cell and filter template refs #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
  user-interfaces/components/src/AnkSEGridNew/AnkFilterCellMixin.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.vue
  user-interfaces/package.json
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridControllerParameter.php
  yarn.lock
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): set actions row refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(dev-center): field access layer list grid and config refs #251
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/FieldAccess/FieldAccess.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/FieldAccess/FieldAccess.vue
  development-center/src/vendor/Anakeen/Routes/Devel/UI/FieldAccess.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/FieldAccessGridConfig.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/FieldAccessGridController.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/field-access-grid-controller.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

refactor(ui): set cell sizes refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): grid report refs #251
  user-interfaces/info.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/ReportGridController.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/report-grid-controller.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add filter grid component refs #251
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
  user-interfaces/components/src/AnkSEGridNew/AnkFilterCellMixin.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridEvent/AnkGridEvent.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridHeaderCell/AnkGridHeaderCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.scss
  user-interfaces/components/src/AnkSEGridNew/AnkTextFilterCell/AnkTextFilterCell.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): grid export refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.scss
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Routes/GridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridExport.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix different structure field and inexistent columns refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore(ui): update test grid page
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartGrid/TestSmartGridEntry.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): add hidden prop to grid config refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add vscode configuration
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
