Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(dev-center): correct override display for structure (refs #276)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): correct html encoding on tree list structure(refs #276)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/DefaultValues.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/Structure.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): no use red color for override (refs #276)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): correct parentId override display (refs #276)
  development-center/src/vendor/Anakeen/Routes/Devel/Smart/StructureFields.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): correct defaultvalue in array when no static method(refs #288)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/Lib/DocumentApiData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): move and delete default parameter values (refs #312)
  smart-data-engine/src/vendor/Anakeen/Database/DbMigrationRules.xml
  smart-data-engine/src/vendor/Anakeen/Database/Migration/DefaultParameterValues.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): remove default parameter values panel (refs #312)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/Parameters.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersDefaultValue.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersFields.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Parameters/ParametersValues.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): token authent - test with encoded url (refs #293)
  smart-data-engine/src/vendor/Anakeen/Router/RouterLib.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): forget password - add error message if has no email (refs #293)
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/MailPassword.php
  user-interfaces/src/vendor/Root/ErrorCodeAUTH.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): correct height of authent token grid (refs #293)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/AuthenticationTokens/AuthenticationTokens.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): active reload accounts tree (refs #278)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): delete unused request (refs #278)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): scope for #action in all smart element DOM (refs #70)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): display tooltip on disabled menu (refs #316)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore(ui): correct indent and spaces (refs #316)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/dynamicMenu.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/itemMenu.mustache
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc25
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): correct i18n emit translation (refs #311)
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nMixin.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct i18n registering for report (refs #311)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct report to filter account fields (refs #320)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableFields.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableKeywords.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/Relations.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct enum css height and alignment (refs #273)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/enum.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct report css rules for filter inputs (refs #323)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct deps (closes #319)
  .devtool/devserver/package.json
  Makefile
  admin-center/package.json
  anakeen-cli/package.json
  business-app/package.json
  control/package.json
  development-center/package.json
  hub-station/package.json
  internal-components/package.json
  package.json
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  test-tools/package.json
  theme-variables/package.json
  transformation/package.json
  user-interfaces/package.json
  webpack-conf/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): fix default authtype at basic (refs #259)
  smart-data-engine/src/programs/core_accessUpdate
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(control): correct getLastError when no jobs (refs #252)
  control/src/src/Control/Internal/JobLog.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): disable cache on contexts.xml when get status(refs #252)
  control/src/include/class/Class.Context.php
  control/src/include/class/Class.DOMDocumentCache.php
  control/src/include/class/Class.DOMDocumentCacheFactory.php
  control/src/include/class/Class.WIFF.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(test-tools): refactor module structure
  test-tools/components/src/Utils/Accounts.ts
  test-tools/components/src/Utils/SmartElements.ts
  test-tools/components/src/assert/chaiAssertion/index.ts
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/assert/chaiAssertion/rights.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/src/index.ts
  test-tools/components/tsconfig.json
  test-tools/components/webpack/base.js
  test-tools/package.json
Due: none

fix(test-tools): add haveProfile assertion
  test-tools/components/src/assert/chaiAssertion/index.ts
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/assert/chaiAssertion/rights.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/utils/Credentials.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/package.json
  test-tools/test/test.js
  yarn-error.log
  yarn.lock
Due: none

fix(test-tools): add context utils
  test-tools/.eslintrc.js
  test-tools/components/src/assert/chaiAssertion/index.ts
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/assert/chaiAssertion/rights.ts
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/IContext.ts
  test-tools/components/src/context/SafeContext.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Credentials.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/tsconfig.json
  test-tools/test/test.js
Due: none

fix(test-tools): add context creation behavior
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/IContext.ts
  test-tools/components/src/context/SafeContext.ts
  test-tools/components/src/context/SimpleContext.ts
Due: none

fix(test-tools): eslint ignore test file
  .eslintignore
Due: none

fix(test-tools): add creation route, refactor context structure
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Credentials.ts
  test-tools/info.xml
  test-tools/package.json
  test-tools/src/config/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Accounts/110-AnakeenTestToolsRoles.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/test/test.js
Due: none

fix(test-tools): lint file
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/src/config/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
Due: none

fix(test-tools): fix route definition
  test-tools/info.xml
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
Due: none

fix(test-tools): add clean, account get and creation
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountInfos.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/test/test.js
Due: none

fix(test-tools): lint php files
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountInfos.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
Due: none

fix(test-tools): fix removeRole function
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/test/test.js
Due: none

fix(test-tools): lint php files
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
Due: none

fix(test-tools): add account test methods in utils class
  test-tools/Makefile
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/SafeContext.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountGroup.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Root/ErrorCodeANKTEST.php
  test-tools/test/test.js
Due: none

fix(test-tools): lint php files
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Root/ErrorCodeANKTEST.php
Due: none

fix(test-tools): lint php file
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
Due: none

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
