Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(sde): add check for field constraint args (refs #372)
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): border menu refs #367
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/menu.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): add new type for method arg in constraint (refs #373)
  module-validation/xsd/smart/1.0/config.xsd
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/Callables/ParseFamilyFunction.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, module-validation-integration-publish, module-validation-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(control): add handling for local repo file uri (refs #376)
  control/src/include/class/Class.Repository.php
Due: control-build, control-integration-build, control-register, control-integration-register

build: rc29
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  changelogContext.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): search set only excludeInheritedStructures (refs #359)
  smart-data-engine/src/vendor/Anakeen/Search/SearchElements.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

chore: reindent and PascalCase file and test filter classes (refs #368)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterContainsValues.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterDocumentTitle.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterFilenameContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterHasApplicationTag.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterHasUserTag.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIdentifiersIn.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsEmpty.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsEqual.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsGreater.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsLesser.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsNotEmpty.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterIsNotEqual.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterNameEquals.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneDocumentTitle.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneEquals.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneGreaterThan.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterTitleContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFiltercommon.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

chore: reindent and PascalCase file and test filter classes (refs #368)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_Contains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_ContainsValues.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_DocumentTitle.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_FilenameContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_HasApplicationTag.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_HasUserTag.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IdentifiersIn.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsEmpty.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsEqual.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsGreater.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsLesser.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsNotEmpty.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_IsNotEqual.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_NameEquals.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_OneContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_OneDocumentTitle.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_OneEquals.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_OneGreaterThan.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_TitleContains.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilter_common.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): new OR filter operator (refs #368)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OrOperator.csv
  smart-data-engine/Tests/src/vendor/Dcp/Pu/SuiteDcpFilter.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOrOperator.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OrOperator.php
  smart-data-engine/src/vendor/Root/ErrorCodeFLT.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): search add getJoin and setFilters methods (refs #368)
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct comment in internalGetDocCollection (refs #368)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirLib.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): more test for join filters (refs #368)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OrOperator.csv
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOrOperator.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFiltercommon.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OrOperator.php
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Root/ErrorCodeFLT.php
  smart-data-engine/src/vendor/Root/ErrorCodeSD.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(cli): add jszip lib to create zip file refs #125
  anakeen-cli/package.json
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(dev-center): add route to process included files refs #125
  development-center/src/config/SmartDataEngine/DevCenter/routes/import.xml
  development-center/src/vendor/Anakeen/Routes/Devel/Import/IncludeFiles.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

feat(cli): add include files to deployconfiguration refs #125
  anakeen-cli/commands/deployConfiguration.js
  anakeen-cli/tasks/deployConfiguration.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(cli): change description of include files arg refs #125
  anakeen-cli/commands/deployConfiguration.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(business-app): tab doesn't close refs #392
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  user-interfaces/components/src/AnkTabs/AnkTabs.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, business-app-build, business-app-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, business-app-register, business-app-integration-register

fix(cli): unzip file from src refs #125
  anakeen-cli/commands/deployConfiguration.js
  anakeen-cli/tasks/deployConfiguration.js
  development-center/src/vendor/Anakeen/Routes/Devel/Import/IncludeFiles.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, development-center-register, development-center-integration-register

fix(cli): fix spelling refs #125
  anakeen-cli/commands/deployConfiguration.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): manage advanced value field display (refs#385)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): add phpdoc and filters options refs #344
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/ContainsValues.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/FileContent.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Filename.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IdentifiersIn.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneContains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneGreaterThan.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/StandardDocumentTitleFilter.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/TitleContains.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): updating default values & params now returns json(refs #384)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(cli): add generateControl command (refs #249)
  anakeen-cli/commands/compose/addLocalApp.js
  anakeen-cli/commands/compose/generateControl.js
  anakeen-cli/package.json
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/templates/README.md.mustache
  yarn.lock
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): sort element in the lock (refs #378)
  anakeen-cli/utils/RepoLockXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): date & advanced value messages more explicit (refs #380)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): more test for join filters (refs #368)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OrOperator.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(workflow): correct useWorkflowGraph for inheritance (refs #397)
  anakeen-cli/tasks/createWorkflow/Behavior/php/Behavior.php.mustache
  migration-tools/src/vendor/Anakeen/Migration/WorkflowBehavior.php.mustache
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, migration-tools-build, migration-tools-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, smart-data-engine-register, smart-data-engine-integration-register, migration-tools-register, migration-tools-integration-register

fix(admin): pick multiple values on field that allow it(refs#386)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): tasks 1 & 2 corrected (refs#379)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): 3rd task corrected (refs#379)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): multiple value display and update management (refs#386)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): 5th task corrected (refs#379)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStructureManager/AdminCenterStructureEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureList/SSList.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): doing array value preview (refs #379)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateDefaultValue.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): pick multiple values on field that allow it(refs#386)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): preview array default value (refs #379)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(cli): rename generateControl (refs #249)
  anakeen-cli/commands/compose/generateInstaller.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: add missing constant reps (refs #399)
  .gitlab-ci.yml
Due: none

fix(cli): correct order of repo.xml to be consistent (refs #405)
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/RepoXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(admin): tasks 1 and 2 corrected (refs#387)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
