Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

feat(sde): added oneEquals tests for ALL option (refs #640)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneEquals.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneEquals.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): added oneBetween test cases (refs #640)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneBetween.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneBetween.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): added oneEquals to relevant types (refs #640)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/SEARCH_CRITERIA_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/SEARCH_CRITERIA_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): added oneEmpty operator (refs #640)
  smart-data-engine/Tests/src/vendor/Anakeen/TestUnits/Data/PU_data_dcp_documentFilter_OneEmpty.ods
  smart-data-engine/Tests/src/vendor/Dcp/Pu/SuiteDcpFilter.php
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestDcpDocumentFilterOneEmpty.php
  smart-data-engine/src/locale/en/LC_MESSAGES/src/SEARCH_CRITERIA_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/SEARCH_CRITERIA_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Numerical/OneEmpty.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEmpty.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Temporal/OneEmpty.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/OneContains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/OneEmpty.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Textual/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): added optionMap to OneEmpty (refs #640)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEmpty.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): added modifiableOperator option to smart criteria (refs #640)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleModifiableOperator.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartCriteriaConfigurationLoader.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/IConfigurationCriteria.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): incorrect tooltip in smart criteria (refs #640)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.vue
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): smart criteria loading screen slot (refs #640)
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.scss
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): add optionnal namespace option to set_parameter (refs #473)
  smart-data-engine/src/API/setParameter.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): fix grid default display actions (closes #621)
  user-interfaces/components/src/AnkSEGrid/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): fix revision in welcome tab grid
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/Welcome/Welcome.component.ts
  business-app/src/vendor/Anakeen/BusinessApp/IHM/Welcome/Welcome.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

feat(admin): smart structure manager SmartElement grid (refs #658)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureInformations/PropertiesView/PropertiesView.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/ElementView/ElementView.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/SmartStructureManagerSmartElements.controller.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/SmartStructureManagerSmartElements.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/SmartStructureManagerSmartElements.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): count() now returns result after getResults() (refs #414)
  smart-data-engine/src/vendor/Anakeen/Search/SearchElements.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add CORE_URLINDEX in mailtemplate (refs #670)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/MailTemplateHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): no test view control for dest relations (refs #669)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/MailTemplateHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct vault size computing (refs #671)
  admin-center/src/vendor/Anakeen/Routes/Admin/Vaults/AllVaultsInfo.php
  smart-data-engine/src/vendor/Anakeen/Core/VaultManager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

feat(sde): add option clean-orphan on api docvaultindex (refs #678)
  smart-data-engine/src/API/refreshVaultIndex.php
  smart-data-engine/src/vendor/Anakeen/Vault/VaultAnalyzer.php
  smart-data-engine/src/vendor/Anakeen/Vault/VaultAnalyzerCLI.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(migration-tools): convert revdate in searches (refs #681)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(sde): escapeshellarg refs #561
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportXml.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ImportXml.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): display reload button when lock is impossible refs #643
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): escapeshellarg refs #561
  control/src/src/Control/Internal/ModuleManager.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): redirect with hash (refs #680)
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): unable to lock message refs #643
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): export extendable enum (refs #683)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExportConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

chore: comment WDOC:getAskUser
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct search criteria for empty values (refs #640)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/DocumentTitle.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/FileContent.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Filename.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsEqual.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsGreater.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/IsLesser.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneDocumentTitle.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneGreaterThan.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/SearchCriteria.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchFilterAggregator.php
  smart-data-engine/src/vendor/Root/ErrorCodeFLT.php
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/ISmartFilter.ts
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix: correct tooltip placement (refs #582)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransitionGraph.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: 2020.01-RC29
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

fix(ui): standardization of buttons refs #673
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/array.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/content.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/history.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/history/wHistory.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/workflow/transition.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): stub instructions order in build refs #665
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): retrieve correct button refs #673
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): close db connection after Pg's version check (refs #646)
  control/src/include/lib/Lib.Wcontrol.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): disable download when file is empty refs #691
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/file/wFile.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): allow preventDefault on html file upload (refs #702)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid state filter display value (closes #672)
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid state label autocomplete filter options (refs #672)
  user-interfaces/src/vendor/Anakeen/Components/Grid/Filters/StateLabel.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Operators.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Routes/GridFilterAutocomplete.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix state column style
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): filter is not empty refs #706
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/SSTreeList/SSTreeList.component.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

build: correct custom makefile name
  Makefile
Due: none

feat(): snapshots
  .devtool/Makefile.rules.mk
  Makefile
Due: none

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
