Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(migration-tools): clean old autocomplete (refs #482)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): restore moved sequences (refs #482)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

feat(fulltext): add missing functions (refs #388)
  fulltext-search/TODO.md
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuCollectionSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuCustomSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuDateSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuDocidSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuEnumSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuFileSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuHtmltextSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuPatternSearch.php
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuTextSearch.php
  fulltext-search/info.xml
  fulltext-search/package.json
  fulltext-search/src/API/importSearchDomain.php
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/adminFullsearchRoutes.xml
  fulltext-search/src/config/SmartDataEngine/FullSearch/routes/fullsearchRoutes.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/tasks.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/unaccentPgParser.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterMatch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
  fulltext-search/src/vendor/Anakeen/Fullsearch/ImportSearchConfiguration.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchElements.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/UpdateData.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainManager.php
  fulltext-search/webpack/config.js
Due: none

feat(fulltext): limit lang et 2 characters (refs #388)
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

chore(fulltext): reindent (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/HubComponent/FullsearchManager/BasicList/FullsearchConfig.controller.js
Due: none

feat(fulltext): latest fixes (refs #388)
  fulltext-search/Tests/src/vendor/Anakeen/Pu/FulltextSearch/PuTextSearch.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterHighlight.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/FilterMatch.php
Due: none

chore(fulltext): comments (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainManager.php
Due: none

chore(fulltext): correct callable pattern (refs #388)
  module-validation/xsd/search-domain/1.0/config.xsd
Due: module-validation-integration-publish, module-validation-publish

chore(fulltext): correct callable pattern (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomain.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/SearchDomainDatabase.php
Due: none

feat(fulltext): add gitlab ci
  .gitlab-ci.yml
Due: none

feat(fulltext): add eslint ignore
  .eslintignore
Due: none

chore: some enhancement to dev server
  .devtool/devserver/index.js
  .devtool/devserver/package.json
  webpack-conf/parts/loaders.js
Due: none

feat(fulltext): update dependencies version
  fulltext-search/package.json
Due: none

fix(migration-tools): restore moved system sequences (refs #482)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(fulltext): update Makefile to build module (refs #388)
  Makefile
Due: none

chore(fulltext): reindent (refs #388)
  fulltext-search/src/vendor/Anakeen/Fullsearch/FileContentDatabase.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchDomains.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Route/SearchElements.php
Due: none

chore: correct version
  fulltext-search/package.json
Due: none

fix(fulltext): linter exclude lib (refs #388)
  fulltext-search/Makefile
Due: none

refactor(ui): grid filter popup refs #477
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.scss
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): set properties types refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCellTypes/AnkGridCellIconText.vue
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): use sub-command when import glob files (refs #500)
  smart-data-engine/src/API/importConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct display error exception (refs #500)
  smart-data-engine/src/vendor/Anakeen/Script/ShellManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): add test for renderclass syntax (refs #500)
  user-interfaces/src/vendor/Anakeen/Ui/ImportRenderConfiguration.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct offset of filter in the grid (refs #477)
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridHeaderCell.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build(fulltext): correct Makefile composer (refs #388)
  fulltext-search/Makefile
Due: none

fix(fulltext): delete TODO
  fulltext-search/TODO.md
Due: none

build: 2020.01-RC11
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/constants/.gitkeep
  fulltext-search/info.xml
  fulltext-search/package.json
  fulltext-search/stubs/.gitkeep
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
  yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(workflow): correct autocomplete instance Smart fields (refs #501)
  user-interfaces/src/vendor/Anakeen/Ui/AttributeInfo.php
  user-interfaces/src/vendor/Anakeen/Ui/TransitionRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add resize event for responsive in transition ask (refs #501)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): display value of abstract column refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct jquery deps for grid (refs #477)
  changelogContext.json
  user-interfaces/components/src/AnkSEGrid/AnkGridHeaderCell/AnkGridFilter/AnkGridFilter.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: 2020.01-RC12
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

chore: remove migrated doc
  hub-station/docs/.vuepress/config.js
  hub-station/docs/.vuepress/public/anakeen-letter.png
  hub-station/docs/.vuepress/public/favico.png
  hub-station/docs/.vuepress/public/images/anakeen-dark.svg
  hub-station/docs/.vuepress/public/images/anakeen-letter.png
  hub-station/docs/.vuepress/public/images/anakeen-logo.svg
  hub-station/docs/.vuepress/public/images/anakeen-platform.svg
  hub-station/docs/.vuepress/public/images/anakeen.png
  hub-station/docs/.vuepress/styles/guide.styl
  hub-station/docs/.vuepress/styles/index.styl
  hub-station/docs/.vuepress/styles/palette.styl
  hub-station/docs/README.md
  hub-station/docs/guide/README.md
  hub-station/docs/guide/configuration/README.md
  hub-station/docs/guide/configuration/client/hubElementComponent.md
  hub-station/docs/guide/configuration/client/hubStationComponent.md
  hub-station/docs/guide/configuration/client/vueComponent.md
  hub-station/docs/guide/configuration/instanciation/instanciation.md
  hub-station/docs/guide/configuration/server/hubConfigurationStructure.md
  hub-station/docs/guide/hubStationInterfaces/README.md
  hub-station/docs/guide/hubStationInterfaces/images/Hub.png
  hub-station/docs/guide/hubStationInterfaces/images/HubStationAdmin.png
  hub-station/docs/package.json
  hub-station/docs/yarn.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

chore: correct devserver and webpack
  .devtool/devserver/index.js
  Makefile
  admin-center/package.json
  admin-center/webpack/config.js
  control/webpackConfig/ihm.js
  development-center/package.json
  development-center/webpack/common.part.js
  development-center/webpack/css.js
  development-center/webpack/devCenter.js
  development-center/webpack/standalone.js
  fulltext-search/webpack/config.js
  hub-station/package.json
  hub-station/webpack/common.js
  hub-station/webpack/index.js
  hub-station/webpack/render.js
  test-tools/package.json
  transformation/webpack/config.js
  user-interfaces/package.json
  user-interfaces/webpackConfig/assets.js
  user-interfaces/webpackConfig/buildCss.js
  user-interfaces/webpackConfig/common.js
  user-interfaces/webpackConfig/login.js
  user-interfaces/webpackConfig/smartElement.js
  user-interfaces/webpackConfig/smartStructures.js
  user-interfaces/webpackConfig/test.js
  user-interfaces/webpackConfig/testSmartForm.js
  user-interfaces/webpackConfig/testSmartGrid.js
  webpack-conf/index.js
  webpack-conf/package.json
  webpack-conf/parts/index.js
  webpack-conf/parts/outputs.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, control-build, control-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): add a wait for ckeditor (refs #499)
  user-interfaces/webpackConfig/ckeditor/ckeditor.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): on page size change value refs #251
  user-interfaces/components/src/AnkSEGrid/AnkGridPager/AnkGridPager.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): correct verbose trace in import config (refs #500)
  smart-data-engine/src/API/importConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): disable control on completeArrayRow (refs #519)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): disable access control for temporary Smart Element (refs #520)
  smart-data-engine/src/vendor/Anakeen/Core/SEManager.php
  smart-data-engine/src/vendor/Anakeen/SmartElementManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): show all item from hub station refs #496
  hub-station/src/vendor/Anakeen/Hub/Routes/HubStationAdminGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
