Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

build: update version file
  .devtool/script/versions.js
Due: none

build: rc 7
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(te): correct build makefile
  .gitlab-ci.yml
  transformation-server/Makefile
  transformation-server/getVersion.js
Due: none

build: correct CI
  .gitlab-ci.yml
Due: none

feat(admin): add Trash fonctionality (refs #41)
  admin-center/package.json
  admin-center/src/config/SmartDataEngine/AdminCenter/adminTrash.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterTrash/AdminCenterTrashManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/DeleteInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashConfig.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashContent.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashDelete.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashRestore.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashSearchSmartData.php
  admin-center/webpack/index.js
  smart-data-engine/src/vendor/Anakeen/Routes/Core/DocumentDeletedData.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

build: correct makefile of TE
  .devtool/ci/utils/autorelease.js
  transformation-server/Makefile
Due: none

build: correct makefile
  transformation-server/Makefile
Due: none

feat(cli): add support for HTTP Basic auth with A4PPM registry
  anakeen-cli/README.md
  anakeen-cli/utils/AppRegistry.js
  anakeen-cli/utils/Compose.js
  anakeen-cli/utils/HTTPAgent.js
  anakeen-cli/utils/HTTPCredentialStore.js
  anakeen-cli/utils/RepoXML.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

chore(admin): chore (refs #41)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/DeleteInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashRestore.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): display currency for money in view mode (refs #152)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/money/wMoney.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): no return route without pattern in routeur (refs #153)
  smart-data-engine/src/vendor/Anakeen/Router/RouterManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): truncate downloaded filename (refs #154)
  smart-data-engine/src/vendor/Anakeen/Router/ApiV2Response.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): autotitle field in Read access (refs #155)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/SmartStructureImport.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): add default values on MAIL structure (refs #156)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/mail.struct.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(admin): trash without sort (refs #41)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/DeleteInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashContent.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): trash without sort(refs #41)
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/DeleteInfo.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashContent.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(cli): add missing `anakeen-cli/utils/Utils.js`
  anakeen-cli/utils/Utils.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(internal): update libxmljs for NodeJS 12 support (refs #160)
  module-validation/package.json
  yarn.lock
Due: module-validation-integration-publish, module-validation-publish

fix(tools): remove quick configuration due to specific makefile conf
  .idea/.gitignore
  .idea/runConfigurations/Launch_Dev_server.xml
  .idea/runConfigurations/Monorepo_Start.xml
  .idea/runConfigurations/Monorepo_Stop.xml
Due: none

fix(ui): fix sortable option type on ank se grid
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): safe filter (refs #41)
  admin-center/src/public/Anakeen/trashManager/dev/trash-manager.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/trash/AdminCenterTrash.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashContent.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Trash/TrashSearchSmartData.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(dev-data): add profile to bill
  dev-data/info.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/100-Devbill.structure.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/110-Devbill.render.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/500-DevbillSettings.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/DevbillSettings/DevbillProfiles/240-ProfileDevbill.xml
  dev-data/src/vendor/DevData/Accounts/100-DevDataRoles.xml
Due: none

chore: correct indentation and linter
  Makefile
  admin-center/Makefile
  business-app/Makefile
  control/Makefile
  dev-data/Makefile
  dev-data/src/API/recordDevData.php
  dev-data/src/vendor/Anakeen/Dev/AccountsData.php
  dev-data/src/vendor/Anakeen/Dev/BillData.php
  dev-data/src/vendor/Anakeen/Dev/ClientData.php
  dev-data/src/vendor/Anakeen/Dev/Data.php
  dev-data/src/vendor/Anakeen/Dev/NoteData.php
  dev-data/src/vendor/Anakeen/Dev/PersonData.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Render/DevbillAccess.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Render/DevbillEditRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Render/DevbillViewRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Workflows/WFamDevBillBehavior.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devclient/DevclientBehavior.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devclient/Render/DevclientAccess.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devclient/Render/DevclientEditRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devclient/Render/DevclientViewRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devnote/Render/DevnoteAccess.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devnote/Render/DevnoteEditRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devnote/Render/DevnoteViewRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devperson/DevpersonBehavior.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devperson/Render/DevpersonAccess.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devperson/Render/DevpersonEditRender.php
  dev-data/src/vendor/Anakeen/SmartStructures/Devperson/Render/DevpersonViewRender.php
  development-center/Makefile
  hub-station/Makefile
  internal-components/Makefile
  migration-tools/Makefile
  security/Makefile
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/FieldAccessLayerAutoComplete.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/FieldAccessLayerHooks.php
  smart-data-engine/Makefile
  test-tools/Makefile
  transformation/Makefile
  user-interfaces/Makefile
  workflow/Makefile
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): publish missing files for custom build (refs #168)
  user-interfaces/package.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version RC8
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

build: correct TE build
  transformation-server/Makefile
Due: none

build: rc 9
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(admin): add default admin trash hub instance (refs #41)
  admin-center/.gitignore
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: release 10
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): fix actionClick prevent promise event
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vColumn.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/vMenu.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(internal): use 200 to move system ids (refs #157)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(internal): migrate thesaurus fields (refs #157)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConfigStructureTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(internal): add primary mask route (refs #157)
  migration-tools/src/config/SmartDataEngine/Migration/routes/migration.xml
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/PrimaryMask.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(internal): change access for autotitle (refs #157)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(internal): correct ooolayout for multiple (refs #173)
  smart-data-engine/src/vendor/Anakeen/Layout/OooLayout.php
  smart-data-engine/src/vendor/Root/Class.DocHtmlFormat.php
  smart-data-engine/src/vendor/Root/Class.DocOooFormat.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(internal): force logical name on system structure (refs #157)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/FinalUpdates.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(internal): correct autocomplete mail multiple (refs #174)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mail/MailAutoComplete.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register
