Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

feat(sde): add asks keys in mail template when sending wfl (refs #807)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Wdoc/WDocHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): ssmanager enhancements (refs #816)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/ElementView/ElementView.controller.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/ElementView/ElementView.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureSmartElements/SmartStructureManagerSmartElements.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): only one xhr for smart criteria (refs #804)
  fulltext-search/build.xml
  fulltext-search/components/src/AnkFulltextSmartCriteria/AnkFulltextSmartCriteria.component.ts
  fulltext-search/components/src/AnkFulltextSmartCriteria/SmartCriteriaFulltextConfigurationLoader.ts
  fulltext-search/src/config/SmartDataEngine/Ui/Components/fulltext-smart-criteria-ui.xml
  fulltext-search/src/locale/en/LC_MESSAGES/src/fulltext_en.po
  fulltext-search/src/locale/fr/LC_MESSAGES/src/fulltext_fr.po
  fulltext-search/src/vendor/Anakeen/Fullsearch/Components/FulltextSmartCriteria/Routes/FulltextSmartCriteriaConfigurationLoader.php
  smart-data-engine/src/API/testSmartCriteriaConfiguration.php
  smart-data-engine/src/vendor/Anakeen/SmartCriteria/SmartCriteriaUtils.php
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartCriteriaConfigurationLoader.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/SmartCriteriaOperators.ts
  user-interfaces/src/API/TestSearchCriteria.php
  user-interfaces/src/config/SmartDataEngine/Ui/Components/search-criteria-ui.xml
  user-interfaces/src/config/SmartDataEngine/Ui/Components/smart-criteria-ui.xml
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/Components/SearchCriteria/Routes/SmartCriteriaDataProcessor.php
  user-interfaces/src/vendor/Anakeen/Components/SmartCriteria/Exceptions/Exception.php
  user-interfaces/src/vendor/Anakeen/Components/SmartCriteria/Routes/SmartCriteriaConfigurationLoader.php
  user-interfaces/src/vendor/Root/ErrorCodeSEARCHCRITERIA.php
  user-interfaces/src/vendor/Root/ErrorCodeSMARTCRITERIAUI.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

fix(ui): initial custom client data refs #774
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(admin): scheduler module initilised (refs #37)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/111-AdminManagerProfile.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/hubConfiguration.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterScheduler/AdminCenterSchedulerManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterScheduler/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/AdminCenterScheduler.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/AdminCenterScheduler.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/AdminCenterScheduler.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/IncomingTasks/IncomingTasks.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/IncomingTasks/IncomingTasks.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/IncomingTasks/IncomingTasks.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/PreviousTasks/PreviousTasks.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/PreviousTasks/PreviousTasks.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/PreviousTasks/PreviousTasks.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/Tasks.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/Tasks.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Tasks/Tasks.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingDetails/IncomingDetails.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingDetails/IncomingDetails.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingDetails/IncomingDetails.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingTimers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingTimers.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/IncomingTimers/IncomingTimers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousDetails/PreviousDetails.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousDetails/PreviousDetails.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousDetails/PreviousDetails.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousTimers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousTimers.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/PreviousTimers/PreviousTimers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/Timers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/Timers.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Scheduler/Timers/Timers.vue
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/PastTimers.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimers.php
  admin-center/webpack/config.js
  smart-data-engine/src/vendor/Anakeen/Core/TimerManager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

feat(admin): all timer interface (refs #37)
  smart-data-engine/src/vendor/Anakeen/Core/TimerManager.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

build: change rollup plugin for css import
  fulltext-search/components/rollup/rollup.config.js
  fulltext-search/package.json
  yarn.lock
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

feat(fulltext): add smart element grid fulltext (closes #710)
  .devtool/devserver/config.perso.js.exemple
  fulltext-search/components/rollup/rollup.config.js
  fulltext-search/components/src/AnkFulltextSmartElementGrid/AnkFulltextSmartElementGrid.component.ts
  fulltext-search/components/src/AnkFulltextSmartElementGrid/AnkFulltextSmartElementGrid.vue
  fulltext-search/components/src/AnkFulltextSmartElementGrid/index.ts
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Components/Grid/DefaultGridFulltextController.php
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/gridFulltextController.xml
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

fix(fulltext): wrong info.xml configuration (fixes #710)
  fulltext-search/Tests/info.xml
  fulltext-search/info.xml
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

feat(fulltext): add test entry for smart grid fulltext (refs #710)
  fulltext-search/Tests/src/vendor/Anakeen/Config/testSearch.xml
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.controller.js
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.scss
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/TestFulltextSmartGridEntry.vue
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubComponent/TestFulltextSmartElementGrid/index.js
  fulltext-search/Tests/src/vendor/Anakeen/Test/HubConfiguration/hubFulltextConfiguration.xml
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Components/Grid/DefaultGridFulltextController.php
  fulltext-search/webpack/test.js
  fulltext-search/webpack/testFulltextSmartElementGrid.js
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

chore: update yarn.lock
  yarn.lock
Due: none

fix(sde): add test to specify the entrance type value (refs #732)
  smart-data-engine/Tests/src/vendor/Dcp/Pu/TestAddArrayRow.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Root/ErrorCodeCORE.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): cast docid int to string (refs #627)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/wDocid.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): click on view more button from the error notif ok (refs #791)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/utils/templates/SEError.mustache.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): smart criteria autocomplete support (refs #806)
  user-interfaces/Tests/src/config/SmartDataEngine/Test/10-UiTest.xml
  user-interfaces/Tests/src/vendor/Anakeen/Routes/UiTest/SmartCriteriaAutocomplete.php
  user-interfaces/Tests/src/vendor/Anakeen/Routes/UiTest/SmartCriteriaComplexAutocomplete.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleAutocomplete.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleComplexAutocomplete.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/IConfigurationCriteria.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/ISmartFormCriteriaConfiguration.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): getInputValue does not accept empty array for input(refs #820)
  smart-data-engine/src/vendor/Anakeen/SmartAutocomplete.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(fulltext): missing constructor in smart criteria class (refs #806)
  fulltext-search/components/src/AnkFulltextSmartCriteria/SmartFormFulltextConfigurationBuilder.ts
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(ui): xhr error not caught when loading criteria config (refs #806)
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): wrong ArrayObject use in criteria config loader (refs #806)
  user-interfaces/src/vendor/Anakeen/Components/SmartCriteria/Routes/SmartCriteriaConfigurationLoader.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): better autocomplete test for smart criteria (refs #806)
  user-interfaces/Tests/src/vendor/Anakeen/Routes/UiTest/SmartCriteriaComplexAutocomplete.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleComplexAutocomplete.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): use persistent event for global controller (refs #803)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): new example for smart criteria test (refs #806)
  user-interfaces/Tests/src/config/SmartDataEngine/Test/10-UiTest.xml
  user-interfaces/Tests/src/vendor/Anakeen/Routes/UiTest/SmartCriteriaAuthorSearchAutocomplete.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleAuthorAutocomplete.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix some vault traduction (refs #822)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/Routes/Admin/Vaults/VaultCreate.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Vaults/VaultMove.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Vaults/VaultResize.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: version 2020.1-RC34
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

build: changer gitlab url
  .gitlab-ci.yml
Due: none

fix(security): fix field not referenced (refs #825)
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/fieldaccesslayer.struct.xml
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

fix(security): fixed field not referenced (refs #825)
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/FieldAccessLayerAutoComplete.php
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

fix(admin): fix same trad in admin po (refs #37)
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(tools): added makefile.local.mk to root gitignore
  .gitignore
Due: none

fix(migration-tools): copy dynacase sequence (refs #824)
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/InitTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

fix(migration-tools): correct for MAIL structure (refs #824)
  migration-tools/README.md
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/DataElementTransfert.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

feat(ui): added standalone option to criteria (refs #805)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleCorrectStandalone.json
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestExamplesSmartCriteria.controller.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartCriteriaUtils.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/ISmartCriteriaConfiguration.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): notify correct error message refs #809
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): move fieldaccess to security module (refs #825)
  security/info.xml
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/Render/FieldAccessLayerAccess.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/Render/FieldAccessLayerEditRender.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/Render/FieldAccessLayerViewRender.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayer/fieldaccesslayer.views.xml
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayerList/Render/FieldAccessLayerListAccess.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayerList/Render/FieldAccessLayerListEditRender.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayerList/Render/FieldAccessLayerListViewRender.php
  security/src/vendor/Anakeen/SmartStructures/FieldAccessLayerList/fieldaccesslayerlist.views.xml
  user-interfaces/info.xml
Due: user-interfaces-buildJS, security-build, security-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, security-integration-publish, security-publish, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): showEmptyContent ui_test structure (refs #814)
  user-interfaces/Tests/info.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA4.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiShowEmpty/Renders/TstUiShowEmptyAccess.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiShowEmpty/Renders/TstUiShowEmptyEditRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiShowEmpty/Renders/TstUiShowEmptyViewRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiShowEmpty/SeShowEmpty.xml
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiShowEmpty/TstUiShowEmpty.structure.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): makes showEmptyContent more coherent (refs #814)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/Lib/DocumentApiData.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(admin): fix bug json format admin center
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(ui): resize refactor (refs #679)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabContent.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/vMenu.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/workflow/vTransition.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
