Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(test-tools): add smart element update function
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/Root/ErrorCodeANKTEST.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
  test-tools/test/test.js
Due: none

fix(test-tools): add destroy method and properties operators
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementDelete.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Transition.php
  test-tools/test/test.js
Due: none

fix(test-tools): add smartElementRight and viewAccess operators
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/RightAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/ViewAccess.php
  test-tools/test/test.js
Due: none

fix(test-tools): add state change functions,fix operators,fix se getters
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/State.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Transition.php
  test-tools/test/test.js
Due: none

fix(test-tools): add middleware,fix operators, add values operator
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/Credentials.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsUserChange.php
  test-tools/test/test.js
Due: none

fix(test-tools): add cansave operator, fix updatevalues controller func
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsUserChange.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementDelete.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
  test-tools/test/test.js
Due: none

fix(test-tools): add middleware dryrun, fix cansave and canchangestate
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsDryRun.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsUserChange.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementDelete.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/State.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Transition.php
  test-tools/test/test.js
Due: none

fix(test-tools): lint php file
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementDelete.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
Due: none

fix(test-tools): fix php class viewaccess and operators
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/src/utils/routes.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountInfos.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/RightAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/ViewAccess.php
  test-tools/src/vendor/Root/ErrorCodeANKTEST.php
  test-tools/test/test.js
Due: none

fix(test-tools): add classes smartfieldvalues
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/src/utils/routes.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementDelete.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldValue.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/State.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/TransitionAccess.php
  test-tools/src/vendor/Root/ErrorCodeANKTEST.php
  test-tools/test/test.js
Due: none

fix(test-tools): add classes smartfieldright and transitionsaccess
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/src/utils/routes.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountInfos.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/TransitionAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/ViewAccess.php
  test-tools/src/vendor/Root/ErrorCodeANKTEST.php
  test-tools/test/test.js
Due: none

fix(test-tools): start to write classe smartfieldright
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/utils/routes.ts
  test-tools/src/config/SmartDataEngine/anakeen-test-tools.xml
  test-tools/src/vendor/Anakeen/TestTools/Routes/RightAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/test/test.js
Due: none

fix(test-tools): read me doc
  test-tools/components/README.md
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldValue.php
  test-tools/src/vendor/Root/ErrorCodeANKTEST.php
  test-tools/test/test.js
Due: none

fix(test-tools): revert yarn.lock
  yarn.lock
Due: none

fix(test-tools): rebase (refs #144)
  .eslintignore
Due: none

fix(test-tools): misc fixes (refs #144)
  .devtool/docker/Docker/Volumes/php/usr/local/etc/php/conf.d/10-base.ini
  .idea/anakeen-platform-4.iml
  .idea/deployment.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  dev-data/src/vendor/Anakeen/SmartStructures/Devbill/Workflows/140-Wdoc_billWorkflowAccess.xml
  dev-data/src/vendor/DevData/Accounts/100-DevDataRoles.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/iuser.struct.xml
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountGroup.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountInfos.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/AccountRole.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsDryRun.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Middleware/TestToolsUserChange.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/RightAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementCreation.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementUpdate.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldValue.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/State.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/Transition.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/TransitionAccess.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/ViewAccess.php
  test-tools/test/testBasic.js
  yarn.lock
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(test-tools): misc fixes (refs #144)
  test-tools/README.md
  test-tools/components/README.md
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/Context.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/CreateAccount.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartElementClean.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/TransitionAccess.php
  test-tools/test/test1.js
  test-tools/test/testBasic.js
Due: none

fix(test-tools): misc fixes (refs #144)
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/src/vendor/Anakeen/TestTools/Routes/TransitionAccess.php
  test-tools/src/vendor/Root/ErrorCodeANKTEST.php
  test-tools/test/testBasic.js
Due: none

fix(test-tools): update yarn lock (refs #144)
  yarn.lock
Due: none

fix(test-tools): add explicit createSmartElement (refs #144)
  test-tools/components/src/context/SimpleContext.ts
Due: none

fix(test-tools): add has.title test (refs #144)
  test-tools/components/src/assert/chaiAssertion/properties.ts
Due: none

test: add test1 for documentation purpose (refs #144)
  test-tools/test/test1.js
Due: none

chore: correct the devtool for rollup
  .devtool/devserver/config.perso.js.exemple
  .devtool/devserver/index.js
  hub-station/components/rollup/rollup.config.js
  internal-components/package.json
  internal-components/rollup/rollup.config.js
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkSEGrid/templates/GridAction.template.kd.js
  user-interfaces/components/src/AnkSEGrid/templates/GridActionMenu.template.kd.js
  user-interfaces/components/src/AnkSEGrid/utils/GridDataUtils.js
  user-interfaces/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, user-interfaces-register, user-interfaces-integration-register, hub-station-register, hub-station-integration-register

build: correct admin config for devserver
  .devtool/devserver/config.perso.js.exemple
  admin-center/webpack/config.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

test: some fixes to be conform to documentation (refs #144)
  test-tools/README.md
  test-tools/components/src/assert/chaiAssertion/properties.ts
  test-tools/components/src/context/AbstractContext.ts
  test-tools/components/src/context/SimpleContext.ts
  test-tools/components/src/context/utils/Account.ts
  test-tools/components/src/context/utils/SmartElement.ts
  test-tools/components/src/utils/routes.ts
  test-tools/src/vendor/Anakeen/TestTools/Routes/SmartFieldRight.php
  test-tools/test/test.js
  test-tools/test/test2.js
  test-tools/test/testBasic.js
Due: none

fix(dev-center): delete console.log (refs #276)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Structure/Structure.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): correct tooltip in smart element (closes #321)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/menu/vMenu.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): use more scoped selector (closes #326)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): suppress hashclick specific code (closes #327)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): correct compose install frozenlock (closes #325)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(hub): correct dev deps (closes #328)
  hub-station/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

build: rc26
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(admin): query selector refs #277
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): create index only if not exists (refs #132)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(cli): first steps to completion (refs #210)
  anakeen-cli/completion.js
  anakeen-cli/index.js
  anakeen-cli/package.json
  anakeen-cli/utils/completion.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: rc27
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(cli): deploy arg mutually exclusive refs #329
  anakeen-cli/commands/deploy.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): ank tab requires name refs #228
  user-interfaces/components/src/AnkSETabs/AnkTab/AnkTab.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): smart element get only modified values refs #199
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct selector for history (refs #326)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
