Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildDLL
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/ankDll/
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/src/public/Anakeen/ank-components/
  ...

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station buildDLL
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_NAME}
  - make -C ${PACKAGE_PATH} stubs
  ...

fix(admin): correct delete parameter value (refs #335)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/GlobalParameters/GlobalParameters.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Parameters/ParameterEditor/ParameterEditor.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): redefine create settings args refs #231
  anakeen-cli/commands/createSetting.js
  anakeen-cli/tasks/createSetting.js
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(sde): adjust internal index query (refs #132)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add SmartIndex class (refs #132)
  smart-data-engine/src/vendor/Anakeen/Database/SmartIndex.php
  smart-data-engine/src/vendor/Root/ErrorCodeDB.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add postStructureImport hook (refs #132)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure.php
  smart-data-engine/src/vendor/Anakeen/SmartHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(dev-center): router links to correct item refs #107
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartStructures/DevSmartStructures.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/SmartStructures/SmartStructuresSecurity.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(control): create sub directory conf refs #254
  control/src/src/Control/Cli/AskParameters.php
  control/src/src/Control/Cli/CliInit.php
Due: control-build, control-integration-build, control-register, control-integration-register

chore: reindent (refs #334)
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): correct error msg when is die (refs #334)
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(cli): prefix settingfilename with type refs #231
  anakeen-cli/tasks/createSetting/FieldAccess/index.js
  anakeen-cli/tasks/createSetting/MailTemplate/index.js
  anakeen-cli/tasks/createSetting/Masks/index.js
  anakeen-cli/tasks/createSetting/Profile/index.js
  anakeen-cli/tasks/createSetting/Timer/index.js
  anakeen-cli/tasks/createSetting/ViewControl/index.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(control): dojob - correct notice when no actions to do (refs #334)
  control/src/src/Control/Internal/ModuleJob.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): update properties via watcher refs #264
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct properties display (closes #338)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add a new event for the mount of the SE (closes #332)
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): restraint enum css to its children refs #202
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/enum/enum.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(control): add isDir verification (refs #258)
  control/src/include/class/Class.Context.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): verification dir exists (refs #258)
  control/src/include/class/Class.WIFF.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(sde): add test to directory chdir (refs #258)
  smart-data-engine/src/ank.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): fix default authtype to basic (refs #259)
  smart-data-engine/src/programs/core_accessUpdate
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

chore(control): reindent files (refs #258)
  control/src/include/class/Class.Context.php
  control/src/include/class/Class.WIFF.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(control): more explicit error when platform dir is broken(refs #258)
  control/src/src/Control/Cli/CliInit.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(ui): trigger resize event on tab change (refs #341)
  user-interfaces/components/src/AnkSETabs/AnkSETabs.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): add custom client data on action click refs #175
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/tab/vTabLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/wArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/wLabel.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/wAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): merge and rename scss (refs #267)
  user-interfaces/components/scss/AnkSmartElement.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add missing deps in se tab (refs #357)
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): add autocreation of repo and src dir (refs #356)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): merge all the scss (refs #267)
  theme-variables/LICENSE
  user-interfaces/components/scss/AnkSmartElement.scss
  user-interfaces/components/scss/smartElement.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.less
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/array.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/docid.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/longtext/longtext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/tab/tab.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/text/text.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/menu.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/array.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/buttons.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/docid.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/document.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/json.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/longtext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/smartElement.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/tab.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/scss/text.scss
  user-interfaces/webpackConfig/buildCss.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(security): correct compute acl for fields multiples (refs #358)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExtendedControl.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): suppress finally (refs #361)
  user-interfaces/src/vendor/Anakeen/Components/Authent/Routes/LoginPage.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/array/vArray.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/frame/vFrame.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: rc28
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): fix global controller script registration
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

chore: add changelog generator
  changelogContext.json
  package.json
  yarn.lock
Due: none

fix(ui): name to tabid refs #354
  user-interfaces/components/src/AnkSETabs/AnkTab/AnkTab.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove tabPosition, editable refs #352
  user-interfaces/components/src/AnkSETabs/AnkSETabs.component.ts
  user-interfaces/components/src/AnkSETabs/AnkSETabs.scss
  user-interfaces/components/src/AnkSETabs/AnkSETabs.vue
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.component.ts
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.scss
  user-interfaces/components/src/AnkSETabs/TabNav/TabNav.vue
  user-interfaces/components/src/AnkSETabs/TabsTypes.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): remove extra plus icon refs #351
  user-interfaces/components/src/AnkSETabs/AnkSETabs.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): name to tabid refs #354
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): remove bottom css refs #352
  user-interfaces/components/src/AnkSETabs/AnkSETabs.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(business-app): refactor to standardized events name refs #360
  business-app/src/vendor/Anakeen/BusinessApp/IHM/BusinessApp/BusinessApp.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, business-app-build, business-app-integration-build, business-app-register, business-app-integration-register

fix(ui): standardize events name refs #360
  user-interfaces/components/src/AnkSETabs/AnkSETab/AnkSETab.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): tab before leave selected tab refs #353
  user-interfaces/components/src/AnkSETabs/AnkSETabs.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
