Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(admin): tabs not reseting anymore while on same structure(refs #410)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/AdminCenterStructure.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: correct release manager
  .devtool/script/util/workspace.js
Due: none

build: release 2019.01 stable version
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(sde): correct detect default table in searches (refs #453)
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct for support schema in join (refs #388)
  smart-data-engine/src/vendor/Anakeen/Search/Internal/SearchSmartData.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dir/DirLib.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct filter for multiple enum (refs #453)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): correct po/stub for enum multi-level (refs #450)
  anakeen-cli/utils/POExtractor.js
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): correct test for group search (refs #453)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Msearch/MSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): enhance ts definition (refs #403)
  .eslintrc.js
  .idea/GitLinkConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  user-interfaces/components/src/AnkController/index.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct view de search element (refs #454)
  user-interfaces/info.xml
  user-interfaces/package.json
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventView.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchViewGrid.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/SearchViewGridRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  migration-tools/info.xml
  migration-tools/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

build: bump version
  .devtool/script/versions.js
Due: none

fix(admin): no more enum parasitic choices (refs #441)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): multiple & array values improvement
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Structure/StructureUpdateParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): change 'getEnum' call time (refs #438)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): [param] calculated values display (refs #438)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): [SS] smartform url encode resolved
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureParameters/SmartStructureManagerParameters.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(cli): generate installer preserve right (refs #458)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: bump version to 2020.01
  .devtool/script/bumpVersion.js
  .devtool/script/versions.js
Due: none

build: 2020.01 RC 1
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(ui): enhance ts definition (refs #403)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Templates/myInfo.mustache
  user-interfaces/components/mixins/AnkVueComponentMixin/EventUtilsMixin.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nMixin.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/index.ts
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
  user-interfaces/components/src/AnkAuthent/AnkAuthentPassword/AnkAuthentPassword.component.ts
  user-interfaces/components/src/AnkAuthent/IAuthent.ts
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.vue
  user-interfaces/components/src/AnkSEList/ISeListCollection.ts
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/components/src/AnkSmartElement/ISmartElementValue.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ISmartFieldValue.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: 2020.01-RC2
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Revert "fix(ui): enhance ts definition (refs #403)"
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Templates/myInfo.mustache
  user-interfaces/components/mixins/AnkVueComponentMixin/EventUtilsMixin.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/I18nMixin.ts
  user-interfaces/components/mixins/AnkVueComponentMixin/index.ts
  user-interfaces/components/src/AnkAuthent/AnkAuthent.component.ts
  user-interfaces/components/src/AnkAuthent/AnkAuthentPassword/AnkAuthentPassword.component.ts
  user-interfaces/components/src/AnkAuthent/IAuthent.ts
  user-interfaces/components/src/AnkIdentity/AnkIdentity.component.ts
  user-interfaces/components/src/AnkLoading/AnkLoading.controller.ts
  user-interfaces/components/src/AnkLogout/AnkLogout.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.component.ts
  user-interfaces/components/src/AnkSEList/AnkSEList.vue
  user-interfaces/components/src/AnkSEList/ISeListCollection.ts
  user-interfaces/components/src/AnkSmartElement/AnkSmartElement.component.ts
  user-interfaces/components/src/AnkSmartElement/ISmartElementValue.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ISmartFieldValue.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: version RC.2020.1.3
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

fix(cli): correct stub generation for workflow (refs #463)
  anakeen-cli/utils/STUBGenerator.js
  anakeen-cli/utils/templates/enum.php.mustache
  anakeen-cli/utils/templates/workflow.php.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

build: 2020.1 RC4
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

refactor(ui): refactor grid component to native vue component refs #251
  module-validation/catalog.xml
  module-validation/xsd/grid/1.0/config.xsd
  user-interfaces/components/rollup/rollup.config.js
  user-interfaces/components/src/AnkSEGridNew/AnkProgress/AnkProgress.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkProgress/AnkProgress.scss
  user-interfaces/components/src/AnkSEGridNew/AnkProgress/AnkProgress.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/components/src/AnkSEGridNew/SmartGrid.ts
  user-interfaces/package.json
  user-interfaces/src/API/manageGridControllers.php
  user-interfaces/src/config/SmartDataEngine/Ui/Components/grid-ui.xml
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Exceptions/Exception.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/Routes/GridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridControllerParameter.php
  user-interfaces/src/vendor/Root/ErrorCodeGRID.php
  yarn.lock
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, module-validation-integration-publish, module-validation-publish, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): get data from grid component refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): action menu title refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): export selection refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkExportButton/AnkExportButton.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix grid actions refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.scss
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): add columns selection button refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkActionMenu/AnkActionMenu.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridColumnsButton/AnkGridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridColumnsButton/AnkGridColumnsButton.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridColumnsButton/AnkGridColumnsButton.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUISEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(admin): native vue grid usage
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Mail/AdminCenterMail.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(ui): add grid pager component refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridPager/AnkGridPager.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridPager/AnkGridPager.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridPager/AnkGridPager.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix subheader row instead of footer column refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCell.vue
  user-interfaces/components/src/AnkSEGridNew/AnkGridCell/AnkGridCellMixin.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.scss
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add row action refs #251
  user-interfaces/src/vendor/Anakeen/Components/Grid/DefaultGridController.php
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridConfigBuilder.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): grid expand button refs #251
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.controller.ts
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.scss
  user-interfaces/components/src/AnkSEGridNew/AnkGridExpandButton/AnkGridExpandButton.vue
  user-interfaces/components/src/AnkSEGridNew/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

refactor(ui): update package refs #251
  user-interfaces/package.json
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
