Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, control-register, control-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*

fix(component): prettier refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/AdminCenterWorkflow.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowData/WorkflowData.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Workflow/WorkflowList/WorkflowList.scss
  admin-center/src/vendor/Anakeen/Routes/Admin/Workflow/WorkflowGraph.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): admin workflow icon refs #45
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterWorkflow/AdminCenterWorkflowManagerEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(config): fix promise event on smart element controller
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Routes/Middlewares/Middlewares.vue
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TestRender/testRender.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/ControllerTypes.ts
  user-interfaces/tslint.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, development-center-register, development-center-integration-register

fix(config): fix model id computation
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(config): fix dispatcher event propagation
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/ControllerDispatcher.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: add issue templates
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Enhancement.md
Due: none

build: add autocomplete on init
  .devtool/docker/Makefile.params.mk
Due: none

fix(component): delete translation with cancel button refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(config): export with overridden translations refs #48
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(component): server sorting refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): add edit button for more clarity refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(config): prevent from importing incorrect file refs #48
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/ImportTranslationsFile.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): unblock page when offline refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): remove filter autocomplete refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): prettier refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(config): prettier refs #48
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/ImportTranslationsFile.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(route): upgrade php parser (refs #48)
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/ExportTranslationsFile.php
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Lib/composer.lock
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: update commitlint def
  .commitlintrc.js
Due: none

build: correct log display
  .devtool/docker/Makefile
  .idea/deployment.xml
Due: none

feat(component): devel search (refs #59)
  development-center/src/config/SmartDataEngine/DevCenter/routes/ui.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/Config/develConfiguration.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/DevSearchEngine.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/devSearchEngine.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/devSearchEngine.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/index.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/storeModule.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/main.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SearchEngine/DevSearchEnginePanel.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SearchEngine/devSearchEnginePanel.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SearchEngine/devSearchEnginePanel.scss
  development-center/src/vendor/Anakeen/Routes/Devel/UI/DevSearchEngine.php
  development-center/src/vendor/Anakeen/Routes/Devel/UI/DevSearchEngineLinkRules.php
  development-center/webpack/devCenter.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): correct notice on image asset (refs #78)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/ImageAsset.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-register, smart-data-engine-integration-register

build: add missing entry on gitignore
  admin-center/.gitignore
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): fix error when smart element has no profid (refs #77)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.scss
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/components/profile/profile.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(control): correction for restore archive
  .devtool/docker/Docker/docker-compose.yml
  .devtool/docker/Makefile.params.mk
  control/.gitignore
  control/Makefile
  control/src/include/class/Class.WIFF.php
  control/src/src/Control/Cli/CliRestore.php
  control/src/src/Control/Internal/ArchiveContext.php
  control/src/src/Control/Internal/Context.php
  control/src/src/Control/Internal/ModuleJob.php
  control/src/src/Control/Internal/RestoreContext.php
  smart-data-engine/info.xml
  smart-data-engine/src/programs/reconfigure_config.bash
  smart-data-engine/src/vendor/Anakeen/Script/System.php
Due: smart-data-engine-build, smart-data-engine-integration-build, control-build, control-integration-build, smart-data-engine-register, smart-data-engine-integration-register, control-register, control-integration-register

fix(admin): server sorting override refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): set textarea for translations refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/I18n/Translations.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): sorting override column refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): remove console log refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): remove enter key listener refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(config): ignore public workflow refs #45
  admin-center/.gitignore
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): wip po multiline refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(component): wip multiline value refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(admin): po prettier refs #48
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/I18n/AdminCenterI18n.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

build: update control deployement
  .idea/deployment.xml
Due: none

fix(hub): fix hub element instance #76
  .idea/jsLibraryMappings.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterAccounts/AdminCenterAccountsEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterMail/AdminCenterMailEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterVaultManager/AdminCenterVaultManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterWorkflow/AdminCenterWorkflowManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AuthenticationTokensHub/AuthenticationTokensHubComponent.vue
  hub-station/components/src/HubDock/HubDockEntry/HubDockEntry.vue
  hub-station/components/src/HubElement/HubElementLayout/HubElementLayout.vue
  hub-station/components/src/HubElement/Mixins/HubElementMixin.ts
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/components/src/HubStation/HubStation.vue
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.vue
  hub-station/components/src/utils/VueSetupPlugin.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register

fix(hub): fix hub element one instance ref #76
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterAccounts/AdminCenterAccountsEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterParameters/AdminCenterParametersEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AuthenticationTokensHub/AuthenticationTokensHubComponent.vue
  hub-station/components/src/HubElement/Mixins/HubElementMixin.ts
  hub-station/components/src/HubStation/HubStation.component.ts
  hub-station/components/src/HubStation/HubStation.vue
  hub-station/components/src/HubStation/HubStationDock/HubStationDock.component.ts
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/AdminCenterTeManager/AdminCenterTeManagerEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, transformation-build, transformation-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register

fix(admin): fix admin hub elements ref #76
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterAccounts/AdminCenterAccountsEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterI18n/AdminCenterI18nEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterMail/AdminCenterMailEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterVaultManager/AdminCenterVaultManagerEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterWorkflow/AdminCenterWorkflowManagerEntry.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(dev-center): fix development center hub elements ref #76
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevBreadcrumb/DevBreadcrumb.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevEnumerates/DevEnumerates.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevHubInstanciation/DevHubInstanciation.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevLocalization/DevLocalization.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevRefreshData/DevRefreshData.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevRoutes/DevRoutes.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSecurity/DevSecurity.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartElements/DevSmartElements.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSmartStructures/DevSmartStructures.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevUserInterface/DevUserInterface.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevVendorSelector/DevVendorSelector.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevWorkflow/DevWorkflow.vue
  hub-station/components/src/HubStation/HubStation.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, development-center-build, development-center-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, development-center-register, development-center-integration-register

fix(dev-center): fix search engine hub element ref #76
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/DevSearchEngine.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/hubComponents/DevSearchEngine/devSearchEngine.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(tools): fix gitignore
  .gitignore
Due: none
