Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(sde): beautify refs #929
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CronSchedule.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): right temporary search (closes #921)
  smart-data-engine/src/vendor/Root/ErrorCodeAPIDM.php
  user-interfaces/src/config/SmartDataEngine/Ui/smart-dsearch-ui.xml
  user-interfaces/src/vendor/Anakeen/Components/Grid/SmartGridContentBuilder.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/searchUIEventEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Routes/TemporarySearch.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(cli): comment code + import + autocomplete slice param (refs #919)
  anakeen-cli/tasks/createSmartStructure/Autocompletion/php/Autocompletion.php.mustache
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): type of field initid and fromid refs #922
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(cli): add enumerates stubs from enumerates directory (closes #934)
  anakeen-cli/tasks/create.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): set controller ready to persistent refs #932
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/mainDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

test(sde): resolve dsearch filters (refs #847)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_report_all_types.struct.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuReport.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Dsearch/DSearchHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): correct extended control check (refs #937)
  smart-data-engine/src/vendor/Anakeen/Core/SmartStructure/ExtendedControl.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test(sde): enhance extended acl test (refs #937)
  workflow/Tests/src/vendor/Dcp/Pu/TestExtendProfil.php
Due: workflow-build, workflow-integration-build, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register

feat(admin): begin export hub config (refs #475)
  admin-center/src/vendor/Anakeen/AdminCenter/Exchange/HubExportAdminParameterComponent.php
  business-app/src/vendor/Anakeen/BusinessApp/Exchange/HubExportBusinessAppComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExport.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportGenericComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportIdentityComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportInstance.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportLabelComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportLogoutComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportVueComponent.php
  hub-station/src/vendor/Anakeen/Hub/Routes/ExportConfiguration.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, admin-center-register, admin-center-integration-register

fix(sde): new search configuration export format (refs #578)
  development-center/src/config/SmartDataEngine/DevCenter/routes/smart.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/RawElementView/RawElementView.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartStructures/Infos/Infos.controller.js
  development-center/src/vendor/Anakeen/Routes/Devel/Config/SearchConfig.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Search/SearchHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Search/search.struct.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, development-center-build, development-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, development-center-register, development-center-integration-register

feat(hub): continue export / import hub config (refs #475)
  admin-center/src/vendor/Anakeen/AdminCenter/Exchange/HubExportAdminParameterComponent.php
  admin-center/src/vendor/Anakeen/AdminCenter/Exchange/ImportHubComponentAdminParameters.php
  business-app/src/vendor/Anakeen/BusinessApp/Exchange/HubExportBusinessAppComponent.php
  business-app/src/vendor/Anakeen/BusinessApp/Exchange/ImportHubComponentBusinessApp.php
  development-center/src/vendor/Anakeen/Routes/Devel/Config/WorkflowConfig.php
  hub-station/src/config/SmartDataEngine/anakeen-hub.xml
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExport.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportGenericComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportIdentityComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportInstance.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportLabelComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportLogoutComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/HubExportVueComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponent.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponentGeneric.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponentIdentity.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponentLabel.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponentLogout.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponentVue.php
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubConfiguration.php
  hub-station/src/vendor/Anakeen/Hub/Routes/ExportZipConfiguration.php
  hub-station/src/vendor/Anakeen/Hub/Routes/MainConfiguration.php
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportAnyConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  workflow/src/vendor/Anakeen/Workflow/ExportElementConfiguration.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register

fix(sde): new search configuration import/export format (refs #578)
  smart-data-engine/src/API/importConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/ImportSmartConfiguration.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportSearch.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Report/ReportHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct change event(previous value and index) (refs #940, #69)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/controllerObjects/attributeInterface.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttributeData.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(sde): po file refs #929
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/TASK_fr.po
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct test ui config (refs #475)
  user-interfaces/Tests/info.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(hub): correct import for dependencies with business app (refs #475)
  hub-station/src/vendor/Anakeen/Hub/Exchange/ImportHubComponent.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, hub-station-build, hub-station-integration-build, hub-station-integration-publish, hub-station-publish, hub-station-register, hub-station-integration-register

fix(hub): correct import for dependencies fullsearch and te (refs #475)
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/312-HUBELT_2020.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/313-HUBELT_2022.xml
  development-center/src/vendor/Anakeen/DevelopmentCenter/Config/components/305-HUBELT_2045.xml
  fulltext-search/info.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Config/hubConfiguration.xml
  fulltext-search/src/vendor/Anakeen/Fullsearch/Migration/deleteOldHubConfiguration.xml
  transformation/info.xml
  transformation/src/vendor/Anakeen/TransformationEngine/HubComponent/hubConfiguration.xml
  transformation/src/vendor/Anakeen/TransformationEngine/Migration/deleteOldHubConfiguration.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(sde): no close user session after update user group (refs #951)
  smart-data-engine/src/vendor/Root/Class.Group.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): correct controller emit ready (refs #952)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): stop propagation of click event refs #944
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): description tooltip z-index refs #947
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): set error tooltip for attr in error only refs #953
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mAttribute.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): hub display config instance on select (refs #475)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdmin/HubAdmin.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Hub/HubAdminInstanciation/HubAdminInstanciation.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): delete support for left and right description placement
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/renderdescription.struct.xml
  user-interfaces/src/vendor/Anakeen/Ui/CommonRenderOptions.php
  user-interfaces/src/vendor/Root/ErrorCodeUI.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): description position refs #936
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): setDescription only top, bottom, click (refs #946)
  user-interfaces/src/vendor/Anakeen/Ui/FrameRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): setDescription only top, bottom, click (refs #945)
  user-interfaces/src/vendor/Anakeen/Ui/TabRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): setDescription only top, bottom, click (refs #949)
  user-interfaces/src/vendor/Anakeen/Ui/ArrayRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct description placement for left (refs #936)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/array.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/array/label.mustache
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/label.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): delete position auto for label (refs #954)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TEST_DDUI_INIT_DATA4.csv
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/AllRenderAutoLabel.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/AllRenderNoneLabel.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/Renders/EmployeeCustomRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/Renders/EmployeeEditRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/Renders/EmployeeLeftRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/Renders/EmployeeViewRender.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiEmployee/TST_DDUI_EMPLOYEE__CVDOC.xml
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/vAttribute.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/label/label.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEdit.scss
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/Render/RenderDescriptionEditRender.php
  user-interfaces/src/vendor/Anakeen/Ui/CommonRenderOptions.php
  user-interfaces/src/vendor/Anakeen/Ui/RenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): add constraint on position description (refs #949, #945, #946)
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/RenderDescriptionHooks.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/RenderDescription/renderdescription.struct.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): session cookie: set samesite option to strict (refs #957)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/Session.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): correct update json parameters (refs #957)
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AlterParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(sde): add CORE_SESSION_COOKIE parameters (refs #957)
  smart-data-engine/src/config/SmartDataEngine/Core/parameters/core.parameters.xml
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): delete parsite config file (refs #957)
  smart-data-engine/src/config/SmartDataEngine/my.json
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

chore: reindent session class (refs #957)
  smart-data-engine/src/vendor/Anakeen/Core/Internal/Session.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): catch task process execute (refs #961)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/TaskBehavior.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): hide tooltip before reload (refs #947)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
