Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*

fix(ui): tooltip black color var refs #613
  theme-variables/scss/variables/corporate.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/tooltip.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): fix unecessary reload in watchers (fixes #615)
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/SmartElements/SmartElements.vue
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, user-interfaces-build, user-interfaces-integration-build, development-center-build, development-center-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register, development-center-register, development-center-integration-register

feat(cli): add tag version dev to install the last rc (refs #404)
  anakeen-cli/utils/AppRegistry.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): correct creation url (refs #624)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/models/mDocument.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(cli): add tag version dev to upgrade (refs #404)
  anakeen-cli/commands/compose/upgrade.js
  anakeen-cli/utils/AppRegistry.js
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(cli): add tag version dev to upgrade (refs #404)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(ui): report condition element deletion (refs #598)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(cli): generate stubs on default target if no config refs #466
  anakeen-cli/utils/STUBGenerator.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

feat(ui): inline image conversion in htmltext (refs #318)
  smart-data-engine/src/config/SmartDataEngine/Core/routes/core.xml
  smart-data-engine/src/vendor/Anakeen/Core/Internal/SmartElement.php
  smart-data-engine/src/vendor/Anakeen/Core/Utils/HtmlClean.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/ImageHtmltext.php
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/Renders/HtmltextToolbarSimple.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): inline image conversion in htmltext (refs #318)
  smart-data-engine/src/vendor/Anakeen/Routes/Core/ImageHtmltext.php
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): inline image vid extractor in htmltext (refs #318)
  smart-data-engine/src/vendor/Anakeen/Core/Utils/VidExtractor.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/ImageHtmltext.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): correct resize css in htmltext (refs #318)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/htmltext.scss
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): inline image mail in htmltext (refs #318)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Mailtemplate/MailTemplateHooks.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(ui): null reference of value object for between values (refs #480)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Between.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEqualsMulti.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.controller.js
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(cli): install avec un lock et sans app/src (refs #521)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(internal): wrong check for Contains filter (refs #480)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Contains.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEqualsMulti.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleDemo.json
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(internal): desactivate OneEquals operator for state (refs #480)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/EqualsOne.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/OneEqualsMulti.php
  smart-data-engine/src/vendor/Anakeen/Search/Filters/State/EqualsOne.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(ui): add new htmltext translation (refs #318)
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/vendor/Anakeen/Ui/HtmltextRenderOptions.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: release 2020.01-RC27
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

feat(cli): error return if glob not return file (addLocalApp)(refs #606)
  anakeen-cli/utils/Compose.js
Due: anakeen-cli-integration-publish, anakeen-cli-publish

fix(sde): correct implementation of EqualsOne filter (refs #641)
  smart-data-engine/src/vendor/Anakeen/Search/Filters/EqualsOne.php
  smart-data-engine/src/vendor/Anakeen/Search/SearchCriteria/SearchCriteriaUtils.php
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/SmartCriteriaExampleState.json
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(ui): empty smart criteria title (refs #640)
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.scss
  user-interfaces/components/src/AnkSmartCriteria/SmartCriteriaConfigurationLoader.ts
  user-interfaces/components/src/AnkSmartCriteria/SmartFormConfigurationBuilder.ts
  user-interfaces/components/src/AnkSmartCriteria/Types/ISmartCriteriaConfiguration.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): dynamic profile button refs #591
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/SmartStructures/subsections/Infos/Infos.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/SmartStructures/subsections/Infos/Infos.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(ui): report parentheses management (refs #598)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/SearchConditions.controller.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableLeftP.vue
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/ConditionTableRightP.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): load activities well after going offline (refs #598)
  user-interfaces/src/vendor/Anakeen/SmartStructures/Dsearch/Render/Refactor/Table Components/KeywordsComponents/KeywordsWid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): menu collision with body width refs #636
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/menu/wMenu.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): added force property to smartCrtieria (refs #640)
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(ui): added smartCriteria enter key support (refs #640)
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.controller.js
  user-interfaces/Tests/src/vendor/Anakeen/Test/HubComponent/TestSmartCriteria/TestSmartCriteriaEntry.vue
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.component.ts
  user-interfaces/components/src/AnkSmartCriteria/AnkSmartCriteria.vue
  user-interfaces/components/src/AnkSmartCriteria/Types/SmartCriteriaEvent.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(ui): global controller addEventListener method as a local one proxy
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): delete min width in panes for account (refs #594)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.scss
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): no use html entities - use utf8 in kendo editor (refs #318)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/htmltext/wHtmltext.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(migration-tools): add route Migration::HtmltextLinks (refs #642)
  migration-tools/README.md
  migration-tools/src/config/SmartDataEngine/Migration/routes/migration.xml
  migration-tools/src/vendor/Anakeen/Routes/Migration/Database/ConvertHtmlLinks.php
Due: migration-tools-build, migration-tools-integration-build, migration-tools-register, migration-tools-integration-register

perf: add exclude from phpStorm
  .idea/anakeen-platform-4.iml
Due: none

feat(test-tools): stable & integration ci(refs #377)
  .devtool/script/util/workspace.js
  .devtool/script/versions.js
  .gitlab-ci.yml
  test-tools/Makefile
  test-tools/info.xml
  test-tools/package.json
  yarn.lock
Due: none

fix(ui): cdate and mdate format refs #622
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkGridCell/AnkGridCell.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): remove console log refs #634
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Account/AdminCenterAccount.controller.ts
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(test-tools): package's now buildable
  test-tools/Makefile
  test-tools/info.xml
Due: none

fix: yarn lock failed update
  yarn.lock
Due: none

fix(ui): fix grid columns reorder and display
  user-interfaces/components/src/AnkSEGrid/AnkGridColumnsButton/AnkGridColumnsButton.controller.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.component.ts
  user-interfaces/components/src/AnkSEGrid/AnkSEGrid.vue
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register
