Repository KlausBacker/anakeen-platform-4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variable-integration-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

user-interfaces-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C user-interfaces buildComponent
  artifacts:
    paths:
    - user-interfaces/src/public/Anakeen/assets/
    - user-interfaces/components/lib/
    expire_in: 1 day

internal-components-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildJS
  tags:
  - a4ppm
  script:
  - make -C internal-components app
  artifacts:
    paths:
    - internal-components/lib/
    expire_in: 1 day

hub-station-buildJS:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: buildHub
  tags:
  - a4ppm
  script:
  - make -C hub-station lib
  artifacts:
    paths:
    - hub-station/components/lib/
    - hub-station/src/public/Anakeen/hubVendor/
    expire_in: 1 day

smart-data-engine-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

smart-data-engine-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

security-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

workflow-integration-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

user-interfaces-build:
  cache:
    key: MonoRepo
    untracked: true
    policy: pull
  stage: build
  tags:
  - a4ppm
  script:
  - rm -rf ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - mkdir -p ${ANK_CI_ARTEFACTS_PATH}/${PACKAGE_PATH}
  - make -C ${PACKAGE_PATH} stub
  ...

fix(ui): description position for bottomLabel in column (refs #936)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(security): add icreate for MAIL for all (refs #964)
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil-update.xml
  security/src/vendor/Anakeen/SmartStructures/Profiles/system-profil.xml
Due: security-build, security-integration-build, security-integration-publish, security-publish, security-register, security-integration-register

test: add send profil for all type (refs #964)
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.profil.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): timer : correct slice when no timers (refs #965)
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/PastTimers.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Scheduling/ScheduledTimers.php
  smart-data-engine/src/vendor/Anakeen/Core/TimerManager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

fix(ui): correct the docid injection (refs #955)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/vDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/wCreateDocument.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/attributes/docid/wDocid.js
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/GlobalController.ts
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/types/WidgetLoadingWrapper.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

docs: correct licence 4 url (refs #918)
  admin-center/info.xml
  business-app/info.xml
  development-center/info.xml
  fulltext-search/info.xml
  hub-station/info.xml
  migration-tools/info.xml
  security/info.xml
  test-tools/info.xml
  transformation/info.xml
  workflow/info.xml
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, security-build, security-integration-build, workflow-build, workflow-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, hub-station-integration-publish, hub-station-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, workflow-register, workflow-integration-register, security-register, security-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register

fix(ui): fix click description placement (refs #947)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attribute.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/attributes/attributeDescription.scss
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/views/document/attributeTemplate.js
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

build: bump version to stable
  .devtool/script/bumpVersion.js
  .devtool/script/versions.js
  admin-center/info.xml
  admin-center/package.json
  anakeen-cli/package.json
  business-app/info.xml
  business-app/package.json
  control/package.json
  dev-data/info.xml
  dev-data/package.json
  development-center/info.xml
  development-center/package.json
  fulltext-search/info.xml
  fulltext-search/package.json
  hub-station/info.xml
  hub-station/package.json
  internal-components/package.json
  migration-tools/info.xml
  migration-tools/package.json
  module-validation/package.json
  security/info.xml
  security/package.json
  smart-data-engine/Tests/info.xml
  smart-data-engine/info.xml
  smart-data-engine/package.json
  test-tools/info.xml
  test-tools/package.json
  theme-variables/package.json
  transformation-server/package.json
  transformation/info.xml
  transformation/package.json
  user-interfaces/Tests/info.xml
  user-interfaces/info.xml
  user-interfaces/package.json
  workflow/Tests/info.xml
  workflow/info.xml
  workflow/package.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, security-build, security-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, hub-station-build, hub-station-integration-build, admin-center-build, admin-center-integration-build, business-app-build, business-app-integration-build, development-center-build, development-center-integration-build, transformation-build, transformation-integration-build, fulltext-build, fulltext-integration-build, migration-tools-build, migration-tools-integration-build, control-build, control-integration-build, te-build, te-integration-build, anakeen-cli-integration-publish, anakeen-cli-publish, module-validation-integration-publish, module-validation-publish, theme-variables-publish, user-interfaces-integration-publish, user-interfaces-publish, hub-station-integration-publish, hub-station-publish, smart-data-engine-integration-publish, smart-data-engine-publish, security-integration-publish, security-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, security-register, security-integration-register, user-interfaces-register, user-interfaces-integration-register, migration-tools-register, migration-tools-integration-register, hub-station-register, hub-station-integration-register, business-app-register, business-app-integration-register, development-center-register, development-center-integration-register, admin-center-register, admin-center-integration-register, transformation-register, transformation-integration-register, fulltext-register, fulltext-integration-register, control-register, control-integration-register, te-register, te-integration-register

build: update test version module
  fulltext-search/Tests/info.xml
  smart-data-engine/Tests/info.xml
  user-interfaces/Tests/info.xml
  workflow/Tests/info.xml
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, workflow-build, workflow-integration-build, user-interfaces-build, user-interfaces-integration-build, fulltext-build, fulltext-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, workflow-integration-publish, workflow-publish, smart-data-engine-register, smart-data-engine-integration-register, workflow-register, workflow-integration-register, user-interfaces-register, user-interfaces-integration-register, fulltext-register, fulltext-integration-register

build: bump version fulltext
  .devtool/script/versions.js
  fulltext-search/info.xml
  fulltext-search/package.json
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(admin): fix enum entry count (refs #970)
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Enum/adminCenterEnum.controller.ts
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/EnumerateData.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Enum/Enumerates.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(sde): log active users by month (refs #250)
  admin-center/src/config/SmartDataEngine/AdminCenter/adminStats.xml
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/Routes/Admin/Stats/MonthUserConnexionCount.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Stats/MonthUserConnexionLogin.php
  admin-center/src/vendor/Anakeen/Routes/Admin/Stats/MonthUserConnexionLoginXlsx.php
  smart-data-engine/src/vendor/Anakeen/Core/ContextManager.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/LogMonthConnection.php
  smart-data-engine/src/vendor/Anakeen/Core/Internal/StatLogConnectionManager.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, smart-data-engine-build, smart-data-engine-integration-build, admin-center-build, admin-center-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, admin-center-register, admin-center-integration-register

build: correct ci for fulltext
  .gitlab-ci.yml
  fulltext-search/info.xml
Due: fulltext-build, fulltext-integration-build, fulltext-register, fulltext-integration-register

fix(control): try to update module if broken dependencies (refs #972)
  control/src/include/class/Class.Context.php
Due: control-build, control-integration-build, control-register, control-integration-register

fix(admin): smart structure default values (refs #968)
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/SmartStructureManager/SmartStructureDefaultValues/SmartStructureManagerDefaultValues.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): oneEquals operator for searchCriteria (refs #982)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  smart-data-engine/src/vendor/Anakeen/Search/Filters/Relation/OneEquals.php
  smart-data-engine/src/vendor/Anakeen/SmartCriteria/SmartCriteriaInitialConfiguration.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

test(ui): test deployment fix
  user-interfaces/Tests/src/vendor/Anakeen/SmartStructures/UiTest/TstUiAllType/TstUiAllType.cvdoc.xml
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(admin): correct parameter management for upper case enum (refs #983)
  admin-center/src/vendor/Anakeen/Routes/Admin/Parameters/AlterParameter.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): correct set value for array (refs #980)
  user-interfaces/src/vendor/Anakeen/DOCUMENT/IHM/widgets/globalController/SmartElementController.ts
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): routes and middlewares link and filters refs #960
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Routes/Middlewares/Middlewares.vue
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Routes/Routes/Routes.vue
  development-center/src/vendor/Anakeen/Routes/Devel/Security/Routes.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): fix links and filters on route update refs #960
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Routes/RoutesAcl/RoutesAcl.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Routes/RoutesPermissions/RoutesPermissions.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): beautify refs #960
  development-center/src/vendor/Anakeen/Routes/Devel/Security/Routes.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

feat(admin): statistics section base refs #250
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/Accounts/110-AdminCenterRoles.xml
  admin-center/src/vendor/Anakeen/AdminCenter/Config/components/317-HGEA_STATISTICS.xml
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStatistics/AdminCenterStatisticsEntry.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/HubComponent/AdminCenterStatistics/index.js
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.vue
  admin-center/webpack/config.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): active users over a period refs #250
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.vue
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.controller.ts
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/AdminCenterStatistics.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

feat(admin): statistics css refs #250
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.scss
  admin-center/src/vendor/Anakeen/AdminCenter/IHM/Statistics/ActiveUsers/ActiveUsers.vue
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(ui): parameters formatting description refs #896
  user-interfaces/src/vendor/Anakeen/SmartStructures/Mailtemplate/Render/MailtemplateEditRender.php
Due: user-interfaces-buildJS, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, user-interfaces-register, user-interfaces-integration-register

feat(sde): add substitutes period (refs #979)
  smart-data-engine/constants/smartStructureFields.js
  smart-data-engine/info.xml
  smart-data-engine/src/config/SmartDataEngine/Core/routes/core.app.xml
  smart-data-engine/src/vendor/Anakeen/Core/AccountManager.php
  smart-data-engine/src/vendor/Anakeen/Exchange/ExportAccounts.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/UpdateSubstitutes.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/iuser.struct.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/taskUserSubstitutes.xml
  smart-data-engine/stubs/IUSER__STUB.php
  smart-data-engine/stubs/REPORT__STUB.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): add substitutes period (refs #979)
  smart-data-engine/src/vendor/Anakeen/Core/Account.php
  smart-data-engine/src/vendor/Anakeen/Routes/Core/UpdateSubstitutes.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/IUserHooks.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/SubstituteManager.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/iuser.struct.xml
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/CrontabManager.php
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Task/taskUserSubstitutes.xml
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserMessage.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/iuser.css
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct task translation (refs #929)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/TASK_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/TASK_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/smart-data-engine_fr.po
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/TaskViewRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Render/taskCrontab.js
  user-interfaces/src/vendor/Anakeen/SmartStructures/Task/Routes/CrontabCheck.php
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

feat(sde): update translation for substitute (refs #979)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/IUSER_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/MAIL_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/enumSEARCH-se_case_en.po
  smart-data-engine/src/locale/en/LC_MESSAGES/src/smart-data-engine_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/IUSER_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/MAIL_fr.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/enumSEARCH-se_case_fr.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/cvdoc_CV_GROUP_ACCOUNT_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_en.po
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/cvdoc_CV_GROUP_ACCOUNT_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/enumRENDERDESCRIPTION-placement_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/mustache-user-interfaces_fr.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(ui): correct task translation (refs #929)
  smart-data-engine/src/locale/en/LC_MESSAGES/src/TASK_en.po
  smart-data-engine/src/locale/fr/LC_MESSAGES/src/TASK_fr.po
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

feat(sde): custom render class for substitute (refs #979)
  smart-data-engine/src/vendor/Anakeen/SmartStructures/Iuser/SubstituteManager.php
  user-interfaces/src/locale/en/LC_MESSAGES/src/user-interfaces_en.po
  user-interfaces/src/locale/en/js/src/js_DOCUMENT_en.po
  user-interfaces/src/locale/fr/LC_MESSAGES/src/user-interfaces_fr.po
  user-interfaces/src/locale/fr/js/src/js_DOCUMENT_fr.po
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserEditRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserMessage.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/Render/IuserSubstituteRender.php
  user-interfaces/src/vendor/Anakeen/SmartStructures/Iuser/iuser.views.xml
Due: user-interfaces-buildJS, smart-data-engine-build, smart-data-engine-integration-build, user-interfaces-build, user-interfaces-integration-build, user-interfaces-integration-publish, user-interfaces-publish, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register, user-interfaces-register, user-interfaces-integration-register

fix(dev-center): button link and filter refs #959
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/Profiles/Profiles.controller.js
  development-center/src/vendor/Anakeen/DevelopmentCenter/vue/sections/Security/SmartStructures/subsections/Infos/Infos.controller.js
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(dev-center): filter grid on route enter refs #959
  development-center/src/vendor/Anakeen/Routes/Devel/UI/ProfilesGridController.php
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, development-center-build, development-center-integration-build, development-center-register, development-center-integration-register

fix(sde): autocomplete tests now runs while executing tests
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/Autocomplete/ErrorTest/Test0001AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/Autocomplete/ErrorTest/Test0002AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/Autocomplete/ErrorTest/Test0003AutoCompleteError.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/Autocomplete/GoodTest/Test0001AutoCompleteGood.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/Autocomplete/GoodTest/Test0002AutoCompleteGood.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuAutoComplete.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestAutoCompleteHook.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): prevent same structure smart field override (refs #793)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_overrride_error.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_overrride_good.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuModAttr.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(admin): broken po
  admin-center/src/locale/en/LC_MESSAGES/src/ADMIN_CENTER_en.po
  admin-center/src/locale/en/vuejs/src/ADMIN_CENTER.json
  admin-center/src/locale/fr/LC_MESSAGES/src/ADMIN_CENTER_fr.po
  admin-center/src/locale/fr/vuejs/src/ADMIN_CENTER.json
Due: user-interfaces-buildJS, internal-components-buildJS, hub-station-buildJS, admin-center-build, admin-center-integration-build, admin-center-register, admin-center-integration-register

fix(sde): autocompletehook namespace
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/SmartStructures/TestAutoCompleteHook.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

fix(sde): can no longer extend non-existent smartfield (refs #792)
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends_error.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/Inputs/tst_extends_good.xml
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/PuExtends.php
  smart-data-engine/Tests/src/vendor/Anakeen/Pu/Config/SuiteConfig.php
  smart-data-engine/src/vendor/Root/CheckEnd.php
  smart-data-engine/src/vendor/Root/ErrorCodeATTR.php
Due: smart-data-engine-build, smart-data-engine-integration-build, smart-data-engine-integration-publish, smart-data-engine-publish, smart-data-engine-register, smart-data-engine-integration-register

Path conditions:
  user-interfaces-buildJS: any of: user-interfaces/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  internal-components-buildJS: any of: internal-components/**/*, hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  hub-station-buildJS: any of: hub-station/**/*, admin-center/**/*, business-app/**/*, development-center/**/*, transformation/**/*
  smart-data-engine-build: any of: smart-data-engine/**/*
  smart-data-engine-integration-build: any of: smart-data-engine/**/*
  security-build: any of: security/**/*
  security-integration-build: any of: security/**/*
  workflow-build: any of: workflow/**/*
  workflow-integration-build: any of: workflow/**/*
  user-interfaces-build: any of: user-interfaces/**/*
  user-interfaces-integration-build: any of: user-interfaces/**/*
  hub-station-build: any of: hub-station/**/*
  hub-station-integration-build: any of: hub-station/**/*
  admin-center-build: any of: admin-center/**/*
  admin-center-integration-build: any of: admin-center/**/*
  business-app-build: any of: business-app/**/*
  business-app-integration-build: any of: business-app/**/*
  development-center-build: any of: development-center/**/*
  development-center-integration-build: any of: development-center/**/*
  transformation-build: any of: transformation/**/*
  transformation-integration-build: any of: transformation/**/*
  fulltext-build: any of: fulltext-search/**/*
  fulltext-integration-build: any of: fulltext-search/**/*
  migration-tools-build: any of: migration-tools/**/*
  migration-tools-integration-build: any of: migration-tools/**/*
  control-build: any of: control/**/*
  control-integration-build: any of: control/**/*
  te-build: any of: transformation-server/**/*
  te-integration-build: any of: transformation-server/**/*
  anakeen-cli-integration-publish: any of: anakeen-cli/**/*
  anakeen-cli-publish: any of: anakeen-cli/**/*
  module-validation-integration-publish: any of: module-validation/**/*
  module-validation-publish: any of: module-validation/**/*
  theme-variable-integration-publish: any of: theme-variable/**/*
  theme-variables-publish: any of: theme-variables/**/*
  user-interfaces-integration-publish: any of: user-interfaces/**/*
  user-interfaces-publish: any of: user-interfaces/**/*
  hub-station-integration-publish: any of: hub-station/**/*
  hub-station-publish: any of: hub-station/**/*
  smart-data-engine-integration-publish: any of: smart-data-engine/**/*
  smart-data-engine-publish: any of: smart-data-engine/**/*
  security-integration-publish: any of: security/**/*
  security-publish: any of: security/**/*
  workflow-integration-publish: any of: workflow/**/*
  workflow-publish: any of: workflow/**/*
  smart-data-engine-register: any of: smart-data-engine/**/*
  smart-data-engine-integration-register: any of: smart-data-engine/**/*
  workflow-register: any of: workflow/**/*
  workflow-integration-register: any of: workflow/**/*
  security-register: any of: security/**/*
  security-integration-register: any of: security/**/*
  user-interfaces-register: any of: user-interfaces/**/*
  user-interfaces-integration-register: any of: user-interfaces/**/*
  migration-tools-register: any of: migration-tools/**/*
  migration-tools-integration-register: any of: migration-tools/**/*
  hub-station-register: any of: hub-station/**/*
  hub-station-integration-register: any of: hub-station/**/*
  business-app-register: any of: business-app/**/*
  business-app-integration-register: any of: business-app/**/*
  development-center-register: any of: development-center/**/*
  development-center-integration-register: any of: development-center/**/*
  admin-center-register: any of: admin-center/**/*
  admin-center-integration-register: any of: admin-center/**/*
  transformation-register: any of: transformation/**/*
  transformation-integration-register: any of: transformation/**/*
  fulltext-register: any of: fulltext-search/**/*
  fulltext-integration-register: any of: fulltext-search/**/*
  control-register: any of: control/**/*
  control-integration-register: any of: control/**/*
  te-register: any of: transformation-server/**/*
  te-integration-register: any of: transformation-server/**/*
